@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);

/* //////////////////////////// common style ////////////////////////////// */

* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

html {font-size: 10px;}
html, body {width:100%; height:100%; margin:0; padding:0;overflow:auto}
body {font-size:1.8rem;line-height:1.875; color:#666; font-weight:400;background-color:#f7f7f7; font-family:'-apple-system', 'Apple SD Gothic Neo', 'AppleSDGothicNeo', 'Noto Sans CJK KR', 'NotoKr',  'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;}

/* 앵커 */
a:link,a:active {color:#333; text-decoration:none;}
a:visited,a:hover,a:focus {color:#333;}
a:hover,a:focus {text-decoration:none}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;color:#111}

/* etc */
p, ul, ol, li, dl, dt, dd{margin: 0 ;}
ul, ol {list-style-type: none;padding-left: 0;}
img, video {max-width: 100% ;height: auto ;}
p{word-break:keep-all}

/* float clear */
.clearfix:before,
.clearfix:after {content:''; display:block;}
.clearfix:after {clear:both;}

/* ////////////////////// contents ///////////////////////*/
.mypage-wrapper{position:relative;width:100%; background:#f7f7f7}
.mypage-wrapper a:hover{text-decoration:underline}
.mypage-wrapper h2 img{margin:0 8px 3px 0;vertical-align:middle}
.worklist-wrap{width:100%;}
.worklist-wrap h2{padding-left:20px;padding-top:20px;font-size:16px;color:#eb6220;line-height:1}
.worklist-wrap h3{margin-bottom:20px;font-size:20px;color:#222;line-height:20px;overflow:hidden}
.worklist-wrap .h3-mb{margin-bottom:42px;}
.worklist-wrap h3 span{display:block;margin-top:10px;font-size:12px;color:#999999;font-family:'PoppinsLight';line-height:16px}
.worklist-wrap table{width:100%;border-spacing:20px;}
.worklist-wrap td{padding:20px 20px 20px;width:25%;background:#fff;border-top:2px solid #222;vertical-align:top}
.worklist-wrap td dl{padding:7px 0;border-bottom:2px solid #f2f2f2;line-height:1.2;}
.worklist-wrap td dt{display:inline-block;width:calc(100% - 60px);font-size:14px;color:#222;vertical-align:middle}
.worklist-wrap td dd{display:inline-block;width:50px;font-family:'PoppinsSemiBold';color:#222;font-size:24px;text-align:right;vertical-align:middle}
.worklist-wrap td .dl2{padding:12px 0;border-bottom:2px solid #f2f2f2;line-height:1.2;}
.worklist-wrap td .dl2 dt{display:inline-block;width:70px;font-size:14px;color:#222;vertical-align:top}
.worklist-wrap td .dl2 dd{display:inline-block;width:calc(100% - 80px);font-family:'PoppinsSemiBold';color:#222;font-size:14px;text-align:right;vertical-align:top}
.worklist-wrap td .dl2 dd span{display:block;margin-top:10px;}
.worklist-wrap p{font-size:13px;color:#666}
.worklist-wrap p span{display:inline-block;margin-right:8px;width:4px;height:4px;border-radius:50%;background:#747474;}
.mt-10{margin-top:10px}
.list-wrap {width:100%;border-spacing: 20px;}
.list-wrap h2{margin-top:6px;font-size:16px;color:#eb6220;line-height:1}
.list-wrap td{padding:0;width:50%;vertical-align:top}
.list-wrap ul{margin-top:10px;padding:20px;height:265px;background:#fff;}
.list-wrap li{font-size:15px;color:#222;} 
.list-wrap li:last-child{padding-bottom:0;border-bottom:none}
.list-wrap .title{padding-bottom:16px !important;border-bottom:2px solid #222 !important;vertical-align:top;font-size:13px;font-weight:500;}
.list-wrap .cont{padding:10px 0;border-bottom:1px solid #f2f2f2;}
.list-wrap .subject{display:inline-block;width:calc(100% - 100px);line-height:1.2;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;vertical-align:middle}
.list-wrap .date{display:inline-block;width:100px;text-align:right;vertical-align:middle}
.list-wrap .cont .date{font-size:12px;line-height:0;color:#666}
