@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:100;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Thin.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Thin.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Thin.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Thin.otf) format('opentype')}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Light.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Light.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Light.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Light.otf) format('opentype')}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Regular.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Regular.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Regular.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Regular.otf) format('opentype')}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Medium.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Medium.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Medium.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Medium.otf) format('opentype')}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Bold.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Bold.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Bold.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Bold.otf) format('opentype')}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:900;src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Black.eot);src:url(/resource/webfonts/NotoSansKR/fonts/eot/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),url(/resource/webfonts/NotoSansKR/fonts/woff2/NotoSansKR-Black.woff2) format('woff2'),url(/resource/webfonts/NotoSansKR/fonts/woff/NotoSansKR-Black.woff) format('woff'),url(/resource/webfonts/NotoSansKR/fonts/otf/NotoSansKR-Black.otf) format('opentype')}

body {margin: 0;padding: 0;font-family: "Noto Sans KR";font-size: 14px;}
#top {background: #eee;border-bottom: 1px solid #ddd;padding: 0 10px;line-height: 40px;font-size: 12px;}

#calendar {
    max-width: 100%;
    padding: 0 10px;
    max-height: 900px;
    margin: 20px 0 0 230px;
    width: 74%;
}
.alldaynewevent, .col-xs-4 {position: relative;top: 2px;}
.modal-content {width: 555px;}
.row {margin-top: 5px;}
.fc .fc-toolbar.fc-header-toolbar {margin: 10px 5px;}
.fc button .fc-icon {top: -4px;}
.fc .fc-button {line-height: 16px;}

#contextMenu {
    position: absolute;
    display: none;
    z-index: 99999;
}

#contextMenu .dropdown-menu {
    border: none;
}

.checkBoxMenu.dropdown-menu {
    border: none !important;
}

#sideMenu {
    position: relative;
    float: left;
    width: 239px;
}

#checkBoxMenu {
    top: 20px;
    left: 24px;
}

.checkBoxList {
    box-shadow: none;
    width: 80%;
}

.ui-widget {
    background: #ffffff;
    color: #5887a2;
    display: table-cell !important;
    margin: 0 20px;
    max-width: 190px;
}

.ui-datepicker .ui-datepicker-title {
    width: 100%;
    margin: 0;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 30%;
    border: none;
    border-radius:0; /* 아이폰 사파리 보더 없애기 */
    -webkit-appearance:none; /* 화살표 없애기 for chrome*/
    -moz-appearance:none; /* 화살표 없애기 for firefox*/
    appearance:none; /* 화살표 없애기 공통*/
    padding-left: 15px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year:focus {
    outline:none; /* year, month 선택 시 테두리 없애기 */
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year::-ms-expand {
    display: none; /* 화살표 없애기 for IE10, 11*/
}

.ui-datepicker select.ui-datepicker-year {
    padding-left: 25px;
}

.ui-widget-header {
    background: #ffffff;
    border: none;
}

#ui-datepicker-div {
    display: none !important;
}

#checkBoxMenu > ul > li {
    margin-left: 15px;
    margin-top: 5px;
}

.fa-square,
.fa-check-square {
    float: left;
    margin: 1px 5px 0 0;
    font-size: 18px;
}

#check_1 { color: #388E3C; }
#check_2 { color: #658CD9; }
#check_3 { color: #D39A11; }
#check_4 { color: #D32F2F; }

.fa-check-square {
    display: none;
}

.co-calendar{
    margin-left: 20px;
}

.fc-col-header > tbody > tr> th:first-child .fc-col-header-cell-cushion { color:#FF0000; }
.fc-col-header > tbody > tr> th:last-child .fc-col-header-cell-cushion { color:#0000FF; }

.fc-day-sat .fc-daygrid-day-number { color:#0000FF; }    /* 토요일 */
.fc-day-sun .fc-daygrid-day-number { color:#FF0000; }    /* 일요일 */

.ui-datepicker-calendar > tbody > tr > td:last-child .ui-state-default { color:#0000FF; }
.ui-datepicker-calendar > tbody > tr > td:first-child .ui-state-default { color:#FF0000; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-radius: 5px;
    border: none;
    background: none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    color: #fff !important;
    background: #007fff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #bde2d8;
}

.ui-widget-content {
    border: none !important;
}

.dropdown, .dropup {
    left: 24px;
}

.fc .fc-toolbar.fc-header-toolbar {
    width: 100%;
    margin: 0 0 10px;
}

.fc-col-header > tr > td:first-child {
    height: 50px;
}

.dividerLine {
    margin: 20px 0 0 20px;
    width: 190px;
    border-bottom: 1px solid #d2d2d2;
}

.fa-clock {
    cursor: pointer;
    font-size: 20px;
}