<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.common.util.LargeTextMapper">

	<!-- LargeTextCLOB -->
    <insert id="insertLargeText">
        INSERT INTO STOCTXTH <include refid="com.sql.rowLock"/> (
            GATE_CD, TEXT_NUM, TEXT_CONTENTS, REG_DATE)
        VALUES(
            <choose>
                <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/>,</when>
                <otherwise>#{ses.gateCd},</otherwise>
            </choose>
            #{TEXT_NUM}, #{RICH_TEXT_EDIT}, <include refid="com.sql.sysdate"/>)
    </insert>

    <update id="updateLargeText">
        UPDATE STOCTXTH <include refid="com.sql.rowLock"/>
           SET TEXT_CONTENTS = #{RICH_TEXT_EDIT},
               REG_DATE = <include refid="com.sql.sysdate"/>
         WHERE GATE_CD = <choose>
                             <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                             <otherwise>#{ses.gateCd}</otherwise>
                         </choose>
           AND TEXT_NUM = #{TEXT_NUM}
    </update>

    <select id="selectLargeText" resultType="string">
        SELECT <include refid="com.sql.nvl"/>(TEXT_CONTENTS, ' ') AS TEXT_CONTENTS
          FROM STOCTXTH <include refid="com.sql.noLock"/>
         WHERE GATE_CD = <choose>
                             <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                             <otherwise>#{ses.gateCd}</otherwise>
                         </choose>
           AND TEXT_NUM = #{TEXT_NUM}
    </select>
    
	<!-- LargeTextSplitString -->
    <select id="selectTXTD" resultType="string">
        SELECT TEXT_CONTENTS
          FROM STOCTXTD <include refid="com.sql.noLock"/>
         WHERE TEXT_NUM = #{TEXT_NUM}
           AND GATE_CD = <choose>
                             <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                             <otherwise>#{ses.gateCd}</otherwise>
                         </choose>
         ORDER BY TEXT_SQ
    </select>

    <insert id="insertTXTH" parameterType="hashmap">
        INSERT INTO STOCTXTH (
            GATE_CD, TEXT_NUM, REG_DATE)
        VALUES(
            <choose>
                <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/>,</when>
                <otherwise>#{ses.gateCd},</otherwise>
            </choose>
            #{TEXT_NUM}, <include refid="com.sql.sysdate"/>)
    </insert>

    <select id="getTextSq" resultType="java.lang.String">

        SELECT <include refid="com.sql.nvl"/>(MAX(TEXT_SQ), 0) + 1
          FROM STOCTXTD <include refid="com.sql.noLock"/>
         WHERE GATE_CD = <choose>
                            <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                            <otherwise>#{ses.gateCd}</otherwise>
                         </choose>
           AND TEXT_NUM = #{TEXT_NUM}

    </select>

    <insert id="insertTXTD" parameterType="hashMap">

        INSERT INTO STOCTXTD (
            GATE_CD, TEXT_NUM, TEXT_SQ, TEXT_CONTENTS)
        VALUES(
            <choose>
                <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                <otherwise>#{ses.gateCd}</otherwise>
            </choose>
            , #{TEXT_NUM}
            , #{TEXT_SQ}
            , #{RICH_TEXT_EDIT})

    </insert>

    <delete id="deleteTXTD">
        DELETE STOCTXTD <include refid="com.sql.rowLock"/>
         WHERE GATE_CD = <choose>
                            <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                            <otherwise>#{ses.gateCd}</otherwise>
                        </choose>
           AND TEXT_NUM = #{TEXT_NUM}
    </delete>

    <!-- MSSQL TEXT For Mail -->
    <insert id="insertMailContents">

        INSERT INTO STOCMATX (
            GATE_CD, TEXT_NUM, MAIL_CONTENTS, REG_DATE)
        VALUES(
            <choose>
                <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/>,</when>
                <otherwise>#{ses.gateCd},</otherwise>
            </choose>
            #{TEXT_NUM}, #{MAIL_CONTENTS}, <include refid="com.sql.sysdate"/>)

    </insert>

    <select id="selectMailContents" resultType="string">

        SELECT MAIL_CONTENTS
          FROM STOCMATX <include refid="com.sql.noLock"/>
         WHERE GATE_CD = <choose>
                             <when test="ses.gateCd == null or ses.gateCd == ''"><include refid="com.sql.gateCd"/></when>
                             <otherwise>#{ses.gateCd}</otherwise>
                         </choose>
           AND TEXT_NUM = #{TEXT_NUM}

    </select>

</mapper>