<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.DZ.DZ_Mapper">


    <select id="tx01020_search_TR_CD" parameterType="hashMap" resultType="java.lang.String">
        SELECT ZTD.TR_CD
        FROM ZA_TRADE_DAIKIN ZTD
        WHERE ZTD.CO_CD = '1000'
        AND ZTD.REG_NB = #{REG_NB}
    </select>

    <insert id="tx01020_doAutoDocExe_S">
        INSERT INTO DZICUBE.<include refid="com.sql.dbo"/>AUTODOCU_SIMPLE (
               CO_CD
             , IN_DT
             , IN_SQ
             , LN_SQ
             , DIV_CD
             , DRCR_FG
             , ACCT_CD
             , REG_NB
             , ACCT_AM
             , RMK_DC
             , CT_AM
             , ISU_DOC
             , JEONJA_YN
             , TR_CD
             , PJT_CD
             , FR_DT
             , CT_DEAL
             , DCODE_TY
             , CCODE_TY
             , LOGIC_CD
        ) VALUES (
               #{CO_CD}
             , #{IN_DT}
             , convert(numeric, #{IN_SQ})
             , convert(numeric, #{LN_SQ})
             , #{DIV_CD}
             , #{DRCR_FG}
             , #{ACCT_CD}
             , #{RIRS_NUM}
             , #{ACCT_AM}
             , #{RMK_DC}
             , convert(numeric, #{CT_AM})
             , #{ISU_DOC}
             , #{JEONJA_YN}
             , #{TR_CD}
             , #{PJT_CD}
             , #{FR_DT}
             , #{CT_DEAL}
             , (SELECT PJTCD_TY
                  FROM DZICUBE.<include refid="com.sql.dbo"/>ZA_ACCT_DAIKIN
                 WHERE CO_CD = #{CO_CD}
                   AND ACCT_CD = #{ACCT_CD})
             , (SELECT DEPTCD_TY
                  FROM DZICUBE.<include refid="com.sql.dbo"/>ZA_ACCT_DAIKIN
                 WHERE CO_CD = #{CO_CD}
                   AND ACCT_CD = #{ACCT_CD})
             , #{LOGIC_CD}
       )
    </insert>

    <select id="tx01020_maxInSq" resultType="java.lang.Integer">
        SELECT <include refid="com.sql.nvl"/>(MAX(IN_SQ), 0) + 1 AS IN_SQ
          FROM DZICUBE.<include refid="com.sql.dbo"/>AUTODOCU_SIMPLE
         WHERE CO_CD = '1000'
           AND IN_DT = #{AUTO_TAX_DATE}
    </select>
</mapper>