<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.purchase.prMgt.prRequestList.BPRP_040_Mapper">

	<select id="BPRP_040_doSearch" parameterType="java.lang.String" resultType="java.util.Map">

		SELECT PR_NUM
		 	 , REJECT_RMK
		  <if test='_databaseId=="oracle"'>
		  	 , TO_CHAR(REJECT_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REJECT_DATE
		  </if>
		  <if test='_databaseId=="mssql"'>
			 , CONVERT(CHAR(19), REJECT_DATE, 20) AS REJECT_DATE
		  </if>
		  FROM STOCPRDT
		 WHERE GATE_CD = #{ses.gateCd}
		   AND PR_NUM = #{PR_NUM}
		   AND PROGRESS_CD = '1200'
		   AND DEL_FLAG = '0'

	</select>

</mapper>