<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.system.batch.BatchListMapper">

	<select id="doSearchBatchList" parameterType="hashMap" resultType="hashMap">

		SELECT
			 CODE AS BATCH_ID
			,CODE_DESC AS BATCH_NM
		  FROM STOCCODD
		 WHERE GATE_CD   = #{ses.gateCd}
		   AND CODE_TYPE = 'M177'
		   AND DEL_FLAG  = '0'
		   AND USE_FLAG  = '1'
		   AND FLAG      = 'B' --Batch만 실행시키도록 함(2022.08.26 hmchoi)
		 ORDER BY SORT_SQ

	</select>

	<select id="doSearchBatchLogList" parameterType="hashMap" resultType="hashMap">

        SELECT
        	  T.JOB_NM
        	 ,T.JOB_DATE
        	 ,T.JOB_END_DATE
        	 ,T.JOB_RLT
        	 ,T.JOB_RLT_MSG
		  FROM (SELECT
					  <include refid="com.sql.dbo"/>GETCODENAME(#{ses.gateCd}, 'M177', BL.JOB_ID, #{ses.langCd}) as JOB_NM
					 ,<include refid="com.sql.toDateChar"/>(BL.JOB_DATE, 'YYYY-MM-DD HH24:MI') as JOB_DATE
					 ,<include refid="com.sql.toDateChar"/>(BL.JOB_END_DATE, 'YYYY-MM-DD HH24:MI') as JOB_END_DATE
					 , BL.JOB_RLT
					 , BL.JOB_RLT_MSG
			 		 --,(CASE BL.JOB_RLT WHEN 'E' THEN BL.JOB_RLT_MSG ELSE NULL END) as JOB_RLT_MSG
		  		  FROM STOCBLOG BL
				 WHERE BL.JOB_TYPE = 'Batch'
				<if test="JOB_DATE_FROM != '' and JOB_DATE_FROM != null">
					<if test="JOB_DATE_TO !='' and JOB_DATE_TO != null">
						AND BL.JOB_DATE BETWEEN <include refid="com.sql.toDate"/>#{JOB_DATE_FROM }, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{JOB_DATE_TO }, 'YYYYMMDD HH24:MI:SS')
					</if>
				</if>
				<if test="JOB_ID != '' and JOB_ID != null">
					AND BL.JOB_ID = #{JOB_ID}
				</if>
				<if test="JOB_RLT != '' and JOB_RLT != null">
				   AND BL.JOB_RLT = #{JOB_RLT}
				</if>
		 	   ) T
		 WHERE 1 = 1
         ORDER BY T.JOB_DATE DESC

	</select>

	<select id="getBatchManagerSms" resultType="hashMap">

        SELECT
        	  DD.CODE      as RECV_TEL_NUM
        	 ,DD.CODE_DESC as RECV_USER_NM
		  FROM STOCCODD DD
		 WHERE DD.GATE_CD   = #{ses.gateCd}
		   AND DD.CODE_TYPE = 'M170'
		   AND LANG_CD      = #{ses.langCd}
		   AND USE_FLAG     = '1'
		   AND DEL_FLAG     = '0'

	</select>

	<insert id="doSaveBatchLog" parameterType="hashMap">

		INSERT INTO STOCBLOG (
			  JOB_DATE
			 ,JOB_TYPE
			 ,JOB_ID
			 ,JOB_KEY
			 ,JOB_RLT
			 ,JOB_RLT_CD
			 ,JOB_RLT_MSG
			 ,JOB_END_DATE
		)
		VALUES (
			  to_date(#{JOB_DATE}, 'YYYY-MM-DD-HH24:MI:SS')
			 ,#{JOB_TYPE}
			 ,#{JOB_ID}
			 ,#{JOB_KEY}
			 ,#{JOB_RLT}
			 ,#{JOB_RLT_CD}
			 ,#{JOB_RLT_MSG}
			 ,to_date(#{JOB_END_DATE}, 'YYYY-MM-DD-HH24:MI:SS')
		)
	</insert>

</mapper> 