<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 02 08:25:38 KST 2012-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.IM04.IM0401_Mapper">

    <select id="selectItemClassSearchNm" parameterType="hashmap" resultType="hashmap">
        SELECT DISTINCT * FROM
            (
              SELECT GATE_CD
                    , ITEM_CLS1
                    , ITEM_CLS2
                    , ITEM_CLS3
                    , ITEM_CLS4
                    , ITEM_CLS_NM
                    , ITEM_CLS_TYPE
                    , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                            WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                            WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                            WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
                            END AS ITEM_CLS_ORI
                    , USE_FLAG
                    , SORT_SQ
                    , BUYER_CD
                FROM STOCMTCA
                WHERE GATE_CD = #{ses.gateCd}
                AND BUYER_CD = #{BUYER_CD}
                AND DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( USE_FLAG = #{USE_FLAG}
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4' AND T.USE_FLAG = #{USE_FLAG})
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C3' AND T.USE_FLAG = #{USE_FLAG})
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C2' AND T.USE_FLAG = #{USE_FLAG})
                    )
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                    AND( ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4'  AND ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C3'  AND ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                      OR ITEM_CLS1 IN (SELECT T.ITEM_CLS1 FROM STOCMTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C2'  AND ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                    )

                </if>
                AND ITEM_CLS_TYPE = 'C1'

            UNION ALL(
                SELECT T1.GATE_CD
                    , T1.ITEM_CLS1
                    , T1.ITEM_CLS2
                    , T1.ITEM_CLS3
                    , T1.ITEM_CLS4
                    , T1.ITEM_CLS_NM
                    , T1.ITEM_CLS_TYPE
                    , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                            WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                            WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                            WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                            END AS ITEM_CLS_ORI
                    , T1.USE_FLAG
                    , T1.SORT_SQ
                    , T1.BUYER_CD
                FROM STOCMTCA T1
                WHERE T1.GATE_CD = #{ses.gateCd}
                  AND T1.BUYER_CD = #{BUYER_CD}
                  AND T1.DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( T1.USE_FLAG = #{USE_FLAG}
                      OR T1.ITEM_CLS2 IN (SELECT T.ITEM_CLS2 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4' AND T.USE_FLAG = #{USE_FLAG})
                      OR T1.ITEM_CLS2 IN (SELECT T.ITEM_CLS2 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C3' AND T.USE_FLAG = #{USE_FLAG})
                    )
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                    AND( T1.ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
                      OR T1.ITEM_CLS2 IN (SELECT T.ITEM_CLS2 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4'  AND T.ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                      OR T1.ITEM_CLS2 IN (SELECT T.ITEM_CLS2 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C3'  AND T.ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                    )
                </if>
                AND T1.ITEM_CLS_TYPE = 'C2'
            )

            UNION ALL(
                SELECT T1.GATE_CD
                    , T1.ITEM_CLS1
                    , T1.ITEM_CLS2
                    , T1.ITEM_CLS3
                    , T1.ITEM_CLS4
                    , T1.ITEM_CLS_NM
                    , T1.ITEM_CLS_TYPE
                    , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                            WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                            WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                            WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                            END AS ITEM_CLS_ORI
                    , T1.USE_FLAG
                    , T1.SORT_SQ
                    , T1.BUYER_CD
                FROM STOCMTCA T1
                WHERE T1.GATE_CD = #{ses.gateCd}
                  AND T1.BUYER_CD = #{BUYER_CD}
                  AND T1.DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( T1.USE_FLAG = #{USE_FLAG}
                       OR ITEM_CLS3 IN (SELECT T.ITEM_CLS3 FROM STOCMTCA T WHERE T.GATE_CD = #{ses.gateCd} AND BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4' AND T.USE_FLAG = #{USE_FLAG})
                    )
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                  AND( ${ITEM_CLS_NM_L} T1.ITEM_CLS_NM ${ITEM_CLS_NM_R}
                      OR ITEM_CLS3 IN (SELECT T.ITEM_CLS3 FROM STOCMTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND BUYER_CD = #{BUYER_CD} AND T.DEL_FLAG = '0' AND T.ITEM_CLS_TYPE = 'C4'  AND T.ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                    )
                </if>
                AND T1.ITEM_CLS_TYPE = 'C3'
            )
            UNION ALL(
                SELECT T1.GATE_CD
                    , T1.ITEM_CLS1
                    , T1.ITEM_CLS2
                    , T1.ITEM_CLS3
                    , T1.ITEM_CLS4
                    , T1.ITEM_CLS_NM
                    , T1.ITEM_CLS_TYPE
                    , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                            WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                            WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                            WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                            END AS ITEM_CLS_ORI
                    , T1.USE_FLAG
                    , T1.SORT_SQ
                    , T1.BUYER_CD
                FROM STOCMTCA T1
                WHERE T1.GATE_CD = #{ses.gateCd}
                  AND T1.BUYER_CD = #{BUYER_CD}
                  AND T1.DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND T1.USE_FLAG = #{USE_FLAG}
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                    AND ${ITEM_CLS_NM_L} T1.ITEM_CLS_NM ${ITEM_CLS_NM_R}
                </if>
                  AND T1.ITEM_CLS_TYPE = 'C4'
            )
        ) A
        ORDER BY ITEM_CLS1, ITEM_CLS2, ITEM_CLS3, ITEM_CLS4, SORT_SQ



    </select>
    <select id="selectItemClass" parameterType="hashmap" resultType="hashmap">

        SELECT DISTINCT * FROM
        (SELECT GATE_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                    WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                    WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                    WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
               END AS ITEM_CLS_ORI
             , USE_FLAG
             , SORT_SQ
             , BUYER_CD
             , ITEM_CLS_RMK
         FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
          AND DEL_FLAG = '0'
          <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
          <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_TYPE = #{ITEM_CLS} </if>
          <!-- <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND ITEM_CLS_TYPE = #{ITEM_CLS} </if> -->
          <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
          	AND
          	( ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
          		OR ITEM_CLS_RMK <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
          	)
          	</if>
          <!-- <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null">
	        AND ITEM_CLS_RMK <include refid="com.sql.likeL"/>#{ITEM_CLS_RMK}<include refid="com.sql.likeR"/>
          </if> -->

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.ITEM_CLS1
                 , T1.ITEM_CLS2
                 , T1.ITEM_CLS3
                 , T1.ITEM_CLS4
                 , T1.ITEM_CLS_NM
                 , T1.ITEM_CLS_TYPE
                 , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                        WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                        WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                        WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                   END AS ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
                 , T1.BUYER_CD
                 , T1.ITEM_CLS_RMK
            FROM STOCMTCA T1 JOIN STOCMTCA T2
              ON (T1.ITEM_CLS1 = T2.ITEM_CLS1
              AND T1.GATE_CD = T2.GATE_CD
              AND T1.BUYER_CD = T2.BUYER_CD
              AND T2.DEL_FLAG='0')
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.BUYER_CD = #{BUYER_CD}
              AND T1.DEL_FLAG = '0'
              AND T1.ITEM_CLS_TYPE = 'C1'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
              	AND
              	(
              	 ${ITEM_CLS_NM_L} T2.ITEM_CLS_NM ${ITEM_CLS_NM_R}
              	 OR UPPER(T2.ITEM_CLS_RMK) <include refid="com.sql.likeL"/> UPPER(#{ITEM_CLS_NM}) <include refid="com.sql.likeR"/>
              	 )
              </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND ${ITEM_CLS_RMK_L} T2.ITEM_CLS_RMK ${ITEM_CLS_RMK_R} </if>

         )

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.ITEM_CLS1
                 , T1.ITEM_CLS2
                 , T1.ITEM_CLS3
                 , T1.ITEM_CLS4
                 , T1.ITEM_CLS_NM
                 , T1.ITEM_CLS_TYPE
                 , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                        WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                        WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                        WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                   END AS ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
                 , T1.BUYER_CD
                 , T1.ITEM_CLS_RMK
            FROM STOCMTCA T1 JOIN STOCMTCA T2 ON T1.ITEM_CLS1=T2.ITEM_CLS1 AND T1.ITEM_CLS2=T2.ITEM_CLS2 AND T1.GATE_CD=T2.GATE_CD AND T1.BUYER_CD=T2.BUYER_CD AND T2.DEL_FLAG='0'
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.BUYER_CD = #{BUYER_CD}
              AND T1.DEL_FLAG = '0'
              AND T1.ITEM_CLS_TYPE = 'C2'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
              	AND
              	(
              	 ${ITEM_CLS_NM_L} T2.ITEM_CLS_NM ${ITEM_CLS_NM_R}
              	 OR UPPER(T2.ITEM_CLS_RMK) <include refid="com.sql.likeL"/> UPPER(#{ITEM_CLS_NM}) <include refid="com.sql.likeR"/>
              	 )
              </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND ${ITEM_CLS_RMK_L} T2.ITEM_CLS_RMK ${ITEM_CLS_RMK_R} </if>
         )

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.ITEM_CLS1
                 , T1.ITEM_CLS2
                 , T1.ITEM_CLS3
                 , T1.ITEM_CLS4
                 , T1.ITEM_CLS_NM
                 , T1.ITEM_CLS_TYPE
                 , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                        WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                        WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                        WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                   END AS ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
                 , T1.BUYER_CD
                 , T1.ITEM_CLS_RMK
            FROM STOCMTCA T1 JOIN STOCMTCA T2 ON T1.ITEM_CLS1=T2.ITEM_CLS1 AND T1.ITEM_CLS2=T2.ITEM_CLS2 AND T1.ITEM_CLS3=T2.ITEM_CLS3 AND T1.GATE_CD=T2.GATE_CD AND T1.BUYER_CD=T2.BUYER_CD AND T2.DEL_FLAG='0'
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.BUYER_CD = #{BUYER_CD}
              AND T1.DEL_FLAG = '0'
              AND T1.ITEM_CLS_TYPE = 'C3'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
              	AND
              	(
              	 ${ITEM_CLS_NM_L} T2.ITEM_CLS_NM ${ITEM_CLS_NM_R}
              	 OR UPPER(T2.ITEM_CLS_RMK) <include refid="com.sql.likeL"/> UPPER(#{ITEM_CLS_NM}) <include refid="com.sql.likeR"/>
              	 )
              </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND ${ITEM_CLS_RMK_L} T2.ITEM_CLS_RMK ${ITEM_CLS_RMK_R} </if>
         )

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.ITEM_CLS1
                 , T1.ITEM_CLS2
                 , T1.ITEM_CLS3
                 , T1.ITEM_CLS4
                 , T1.ITEM_CLS_NM
                 , T1.ITEM_CLS_TYPE
                 , CASE WHEN T1.ITEM_CLS_TYPE = 'C1' THEN T1.ITEM_CLS1
                        WHEN T1.ITEM_CLS_TYPE = 'C2' THEN T1.ITEM_CLS2
                        WHEN T1.ITEM_CLS_TYPE = 'C3' THEN T1.ITEM_CLS3
                        WHEN T1.ITEM_CLS_TYPE = 'C4' THEN T1.ITEM_CLS4
                   END AS ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
                 , T1.BUYER_CD
                 , T1.ITEM_CLS_RMK
            FROM STOCMTCA T1 JOIN STOCMTCA T2 ON T1.ITEM_CLS1=T2.ITEM_CLS1 AND T1.ITEM_CLS2=T2.ITEM_CLS2 AND T1.ITEM_CLS3=T2.ITEM_CLS3 AND T1.ITEM_CLS4=T2.ITEM_CLS4 AND T1.GATE_CD=T2.GATE_CD AND T1.BUYER_CD=T2.BUYER_CD AND T2.DEL_FLAG='0'
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.BUYER_CD = #{BUYER_CD}
              AND T1.DEL_FLAG = '0'
              AND T1.ITEM_CLS_TYPE = 'C4'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND T2.ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
              	AND
              	(
              	 ${ITEM_CLS_NM_L} T2.ITEM_CLS_NM ${ITEM_CLS_NM_R}
              	 OR UPPER(T2.ITEM_CLS_RMK) <include refid="com.sql.likeL"/> UPPER(#{ITEM_CLS_NM}) <include refid="com.sql.likeR"/>
              	 )
              </if>
              <if test="ITEM_CLS_RMK != '' and ITEM_CLS_RMK != null"> AND ${ITEM_CLS_RMK_L} T2.ITEM_CLS_RMK ${ITEM_CLS_RMK_R} </if>
         )
     ) A
     ORDER BY  DECODE(ITEM_CLS1 , '99' , 1,2) DESC  ,ITEM_CLS1, ITEM_CLS2, ITEM_CLS3, ITEM_CLS4, SORT_SQ

    </select>

    <select id="selectItemClass1" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , USE_FLAG
             , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                    WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                    WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                    WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
               END AS ITEM_CLS_ORI
         FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
          AND ITEM_CLS_TYPE='C1'
          AND ITEM_CLS1 IN
              ( SELECT ITEM_CLS1
                FROM STOCMTCA
                WHERE GATE_CD = #{ses.gateCd}
                  AND DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_TYPE = #{ITEM_CLS} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_NM <include refid="com.sql.likeL"/> #{ITEM_CLS_NM} <include refid="com.sql.likeR"/> </if>
              )
    </select>

    <select id="selectItemClass2" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , USE_FLAG
             , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                    WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                    WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                    WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
               END AS ITEM_CLS_ORI
         FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
          AND ITEM_CLS_TYPE='C2'
          AND ITEM_CLS1 + ITEM_CLS2 IN
              ( SELECT ITEM_CLS1 + ITEM_CLS2
                FROM STOCMTCA
                WHERE GATE_CD = #{ses.gateCd}
                  AND BUYER_CD = #{BUYER_CD}
                  AND DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_TYPE = #{ITEM_CLS} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_NM <include refid="com.sql.likeL"/> #{ITEM_CLS_NM} <include refid="com.sql.likeR"/> </if>
              )
    </select>

    <select id="selectItemClass3" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , USE_FLAG
             , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                    WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                    WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                    WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
               END AS ITEM_CLS_ORI
         FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND ITEM_CLS_TYPE='C3'
          AND BUYER_CD = #{BUYER_CD}
          AND ITEM_CLS3 IN
              ( SELECT ITEM_CLS3
                FROM STOCMTCA
                WHERE GATE_CD = #{ses.gateCd}
                  AND BUYER_CD = #{BUYER_CD}
                  AND DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_TYPE = #{ITEM_CLS} </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ITEM_CLS_NM <include refid="com.sql.likeL"/> #{ITEM_CLS_NM} <include refid="com.sql.likeR"/> </if>
              )
    </select>

    <select id="selectChildClass" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , USE_FLAG
             , SORT_SQ
             , 'U' AS INSERT_FLAG
             , CASE WHEN ITEM_CLS_TYPE = 'C1' THEN ITEM_CLS1
                    WHEN ITEM_CLS_TYPE = 'C2' THEN ITEM_CLS2
                    WHEN ITEM_CLS_TYPE = 'C3' THEN ITEM_CLS3
                    WHEN ITEM_CLS_TYPE = 'C4' THEN ITEM_CLS4
               END AS ITEM_CLS_ORI
             , BUYER_CD
             , ITEM_CLS_RMK
             <if test="ITEM_CLS_TYPE_CLICKED != '' and ITEM_CLS_TYPE_CLICKED != null and ITEM_CLS_TYPE_CLICKED == 'C3'">
		     ,(SELECT D.ITEM_CLS_NM <include refid="com.sql.stringMerge"/> ' > ' <include refid="com.sql.stringMerge"/> C.ITEM_CLS_NM <include refid="com.sql.stringMerge"/> ' > ' <include refid="com.sql.stringMerge"/> B.ITEM_CLS_NM <include refid="com.sql.stringMerge"/> ' > ' <include refid="com.sql.stringMerge"/> A.ITEM_CLS_NM AS ITEM_PATH
		         FROM STOCMTCA A
		         JOIN STOCMTCA B
		              ON  A.GATE_CD = B.GATE_CD
		              AND A.UP_ITEM_CLS = B.ITEM_CLS
                      AND A.BUYER_CD = B.BUYER_CD
		              AND B.DEL_FLAG = '0'
		         JOIN STOCMTCA C
		              ON  B.GATE_CD = C.GATE_CD
		              AND B.UP_ITEM_CLS = C.ITEM_CLS
                      AND B.BUYER_CD = C.BUYER_CD
		              AND C.DEL_FLAG = '0'
		         JOIN STOCMTCA D
		              ON  C.GATE_CD = D.GATE_CD
		              AND C.UP_ITEM_CLS = D.ITEM_CLS
                      AND C.BUYER_CD = D.BUYER_CD
		              AND D.DEL_FLAG = '0'
		        WHERE A.GATE_CD = MTCA.GATE_CD
		          AND A.ITEM_CLS = MTCA.ITEM_CLS
                  AND A.BUYER_CD = MTCA.BUYER_CD
		          AND A.DEL_FLAG = '0') AS ITEM_PATH_NM
             </if>
         FROM STOCMTCA MTCA
        WHERE 1 = 1
          AND GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
          AND DEL_FLAG = '0'
          <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
        <choose>
            <when test="ITEM_CLS_TYPE_CLICKED == 'C1'">
              AND ITEM_CLS_TYPE = 'C2'
              AND ITEM_CLS1 IN
                  ( SELECT ITEM_CLS1
                    FROM STOCMTCA
                    WHERE GATE_CD = #{ses.gateCd}
                      AND DEL_FLAG = '0'
                      AND ITEM_CLS_TYPE = 'C2'
                      AND ITEM_CLS1 = #{ITEM_CLS_CLICKED}
                      AND BUYER_CD = #{BUYER_CD}
                  )
            ORDER BY ITEM_CLS2, SORT_SQ
            </when>
            <when test="ITEM_CLS_TYPE_CLICKED == 'C2'">
              AND ITEM_CLS_TYPE = 'C3'
              AND ITEM_CLS2 IN
                  ( SELECT ITEM_CLS2
                    FROM STOCMTCA
                    WHERE GATE_CD = #{ses.gateCd}
                      AND DEL_FLAG = '0'
                      AND ITEM_CLS_TYPE = 'C3'
                      AND ITEM_CLS2 = #{ITEM_CLS_CLICKED}
                      AND BUYER_CD = #{BUYER_CD}
                  )
            ORDER BY ITEM_CLS3, SORT_SQ
            </when>
            <when test="ITEM_CLS_TYPE_CLICKED == 'C3'">
              AND ITEM_CLS_TYPE = 'C4'
              AND ITEM_CLS3 IN
                  ( SELECT ITEM_CLS3
                    FROM STOCMTCA
                    WHERE GATE_CD = #{ses.gateCd}
                      AND DEL_FLAG = '0'
                      AND ITEM_CLS_TYPE = 'C4'
                      AND ITEM_CLS3 = #{ITEM_CLS_CLICKED}
                      AND BUYER_CD = #{BUYER_CD}
                  )
            ORDER BY ITEM_CLS4, SORT_SQ
            </when>
        </choose>
    </select>

    <select id="newSortSeq" parameterType="hashMap" resultType="java.lang.String">

        SELECT
              CASE WHEN #{ITEM_CLS_TYPE} = 'C1' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCMTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.BUYER_CD = #{BUYER_CD} AND B.ITEM_CLS2 = #{ITEM_CLS2} AND B.ITEM_CLS3 = #{ITEM_CLS3} AND B.ITEM_CLS4 = #{ITEM_CLS4})
                   WHEN #{ITEM_CLS_TYPE} = 'C2' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCMTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.BUYER_CD = #{BUYER_CD} AND B.ITEM_CLS1 = #{ITEM_CLS1} AND B.ITEM_CLS2 LIKE #{ITEM_CLS1}<include refid="com.sql.stringMerge"/>'%')
                   WHEN #{ITEM_CLS_TYPE} = 'C3' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCMTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.BUYER_CD = #{BUYER_CD} AND B.ITEM_CLS1 = #{ITEM_CLS1} AND B.ITEM_CLS2 = #{ITEM_CLS2} AND B.ITEM_CLS3 LIKE #{ITEM_CLS2}<include refid="com.sql.stringMerge"/>'%')
                   WHEN #{ITEM_CLS_TYPE} = 'C4' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCMTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.BUYER_CD = #{BUYER_CD} AND B.ITEM_CLS1 = #{ITEM_CLS1} AND B.ITEM_CLS2 = #{ITEM_CLS2} AND B.ITEM_CLS3 = #{ITEM_CLS3} AND B.ITEM_CLS4 LIKE #{ITEM_CLS3}<include refid="com.sql.stringMerge"/>'%')
              END AS VALUE
        <include refid="com.sql.dual"/>

    </select>

    <select id="newItemClassKey" parameterType="hashMap" resultType="java.lang.String">

        SELECT
        	<if test="_databaseId == 'oracle'">
		       CASE WHEN #{ITEM_CLS_TYPE} = 'C2' THEN #{ITEM_CLS1} <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(TO_NUMBER(MAX(<include refid="com.sql.subStr"/>(ITEM_CLS2,<include refid="com.sql.length"/>(#{ITEM_CLS1})+1, 2)))+1, 2, '0'), '01')
                    WHEN #{ITEM_CLS_TYPE} = 'C3' THEN #{ITEM_CLS2} <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(TO_NUMBER(MAX(<include refid="com.sql.subStr"/>(ITEM_CLS3,<include refid="com.sql.length"/>(#{ITEM_CLS2})+1, 2)))+1, 2, '0'), '01')
                    WHEN #{ITEM_CLS_TYPE} = 'C4' THEN #{ITEM_CLS3} <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(TO_NUMBER(MAX(<include refid="com.sql.subStr"/>(ITEM_CLS4,<include refid="com.sql.length"/>(#{ITEM_CLS3})+1, 2)))+1, 2, '0'), '01')
                    END AS VALUE
		   </if>
		   <if test="_databaseId == 'mssql'">
		       CASE WHEN #{ITEM_CLS_TYPE} = 'C2' THEN #{ITEM_CLS1} <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(CONVERT(INT,MAX(<include refid="com.sql.subStr"/>(ITEM_CLS2,len(#{ITEM_CLS1})+1, 2)))+1, 2, '0'), '01')
                    WHEN #{ITEM_CLS_TYPE} = 'C3' THEN CASE WHEN #{ITEM_CLS2} IS NULL THEN '' ELSE #{ITEM_CLS2} END <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(CONVERT(INT,MAX(<include refid="com.sql.subStr"/>(ITEM_CLS3,len(#{ITEM_CLS2})+1, 2)))+1, 2, '0'), '01')
                    WHEN #{ITEM_CLS_TYPE} = 'C4' THEN CASE WHEN #{ITEM_CLS3} IS NULL THEN '' ELSE #{ITEM_CLS3} END <include refid="com.sql.stringMerge"/> <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(CONVERT(INT,MAX(<include refid="com.sql.subStr"/>(ITEM_CLS4,len(#{ITEM_CLS3})+1, 2)))+1, 2, '0'), '01')
                    END AS VALUE
		   </if>
         FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
          AND DEL_FLAG = '0'
        <choose>
            <when test="ITEM_CLS_TYPE == 'C2'"> AND ITEM_CLS1 = #{ITEM_CLS1}</when>
            <when test="ITEM_CLS_TYPE == 'C3'"> AND ITEM_CLS2 = #{ITEM_CLS2}</when>
            <when test="ITEM_CLS_TYPE == 'C4'"> AND ITEM_CLS3 = #{ITEM_CLS3}</when>
        </choose>
    </select>

    <select id="existsItemClass" parameterType="hashMap" resultType="java.lang.Integer">
    	<if test="_databaseId == 'oracle'">
        SELECT COUNT(DEL_FLAG)
          FROM STOCMTCA
         WHERE ROWNUM  = 1
           AND GATE_CD= #{ses.gateCd}
        </if>
        <if test="_databaseId == 'mssql'">
        	SELECT
				 TOP 1
				 COUNT(DEL_FLAG)
			FROM STOCMTCA
	       WHERE GATE_CD= #{ses.gateCd}
        </if>
             AND BUYER_CD = #{BUYER_CD}
        <if test="ITEM_CLS1 != '' and ITEM_CLS1 != null"> AND ITEM_CLS1 = #{ITEM_CLS1}</if>
        <if test="ITEM_CLS2 != '' and ITEM_CLS2 != null"> AND ITEM_CLS2 = #{ITEM_CLS2}</if>
        <if test="ITEM_CLS3 != '' and ITEM_CLS3 != null"> AND ITEM_CLS3 = #{ITEM_CLS3}</if>
        <if test="ITEM_CLS4 != '' and ITEM_CLS4 != null"> AND ITEM_CLS4 = #{ITEM_CLS4}</if>
    </select>

    <update id="updateItemClass" parameterType="hashMap">

        UPDATE ${TABLE_NM}
        SET    MOD_USER_ID          = #{ses.userId}
             , MOD_DATE             = <include refid="com.sql.sysdate"/>
             , ITEM_CLS_NM          = #{ITEM_CLS_NM}
             , USE_FLAG             = #{USE_FLAG}
             , SORT_SQ              = #{SORT_SQ}
             , DEL_FLAG             = '0'
             , ITEM_CLS             = (CASE WHEN ITEM_CLS2 = '*' THEN ITEM_CLS1
                                            ELSE (CASE WHEN ITEM_CLS3 = '*' THEN ITEM_CLS2
                                            ELSE (CASE WHEN ITEM_CLS4 = '*' THEN ITEM_CLS3 ELSE ITEM_CLS4 END) END) END)
             , UP_ITEM_CLS          = (CASE WHEN ITEM_CLS2 = '*' THEN ''
                                            ELSE (CASE WHEN ITEM_CLS3 = '*' THEN ITEM_CLS1
                                            ELSE (CASE WHEN ITEM_CLS4 = '*' THEN ITEM_CLS2 ELSE ITEM_CLS3 END) END) END)
             , ITEM_CLS_RMK			= #{ITEM_CLS_RMK}
         WHERE GATE_CD = #{ses.gateCd}
           AND BUYER_CD = #{BUYER_CD}
        <if test="ITEM_CLS1 != '' and ITEM_CLS1 != null"> AND ITEM_CLS1 = #{ITEM_CLS1}</if>
        <if test="ITEM_CLS2 != '' and ITEM_CLS2 != null"> AND ITEM_CLS2 = #{ITEM_CLS2}</if>
        <if test="ITEM_CLS3 != '' and ITEM_CLS3 != null"> AND ITEM_CLS3 = #{ITEM_CLS3}</if>
        <if test="ITEM_CLS4 != '' and ITEM_CLS4 != null"> AND ITEM_CLS4 = #{ITEM_CLS4}</if>
    </update>

    <select id="notDeleteItemClass" parameterType="hashMap" resultType="java.lang.Integer">

    	SELECT (SELECT COUNT(GATE_CD)
                  FROM STOCMTCA
                 WHERE GATE_CD  = #{ses.gateCd}
                   AND BUYER_CD = #{BUYER_CD}
                   AND DEL_FLAG = '0'
				<if test='ITEM_CLS1 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS1 = #{ITEM_CLS1}</if>
				<if test='ITEM_CLS2 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS2 = #{ITEM_CLS2}</if>
				<if test='ITEM_CLS3 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS3 = #{ITEM_CLS3}</if>
				<if test='ITEM_CLS4 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS4 = #{ITEM_CLS4}</if>
    	       ) +
    	       (SELECT COUNT(GATE_CD)
                  FROM STOCMTGC
                 WHERE GATE_CD  = #{ses.gateCd}
                   AND BUYER_CD = #{BUYER_CD}
                   AND DEL_FLAG = '0'
				<if test='ITEM_CLS1 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS1 = #{ITEM_CLS1}</if>
				<if test='ITEM_CLS2 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS2 = #{ITEM_CLS2}</if>
				<if test='ITEM_CLS3 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS3 = #{ITEM_CLS3}</if>
				<if test='ITEM_CLS4 != "*" and ITEM_CLS1 != null'> AND ITEM_CLS4 = #{ITEM_CLS4}</if>
    	       ) as CNT
		  <include refid="com.sql.dual"/>

    </select>

    <insert id="insertItemClass" parameterType="hashMap">

        INSERT
        INTO   ${TABLE_NM} ( GATE_CD
             , BUYER_CD
             , ITEM_CLS1
             , ITEM_CLS2
             , ITEM_CLS3
             , ITEM_CLS4
             , REG_DATE
             , REG_USER_ID
             , MOD_DATE
             , MOD_USER_ID
             , DEL_FLAG
             , USE_FLAG
             , ITEM_CLS_NM
             , ITEM_CLS_TYPE
             , SORT_SQ
             , ITEM_CLS
             , UP_ITEM_CLS
             , ITEM_CLS_RMK
        )
        VALUES  (#{ses.gateCd}
             , #{BUYER_CD}
             , #{ITEM_CLS1}
             , #{ITEM_CLS2}
             , #{ITEM_CLS3}
             , #{ITEM_CLS4}
             , <include refid="com.sql.sysdate"/>
             , #{ses.userId}
             , <include refid="com.sql.sysdate"/>
             , #{ses.userId}
             , '0'
             , #{USE_FLAG}
             , #{ITEM_CLS_NM}
             , #{ITEM_CLS_TYPE}
             , #{SORT_SQ}
             ,(CASE WHEN #{ITEM_CLS2} = '*' THEN #{ITEM_CLS1}
                    ELSE (CASE WHEN #{ITEM_CLS3} = '*' THEN #{ITEM_CLS2}
                    ELSE (CASE WHEN #{ITEM_CLS4} = '*' THEN #{ITEM_CLS3} ELSE #{ITEM_CLS4} END) END) END)
             ,(CASE WHEN #{ITEM_CLS2} = '*' THEN ''
                    ELSE (CASE WHEN #{ITEM_CLS3} = '*' THEN #{ITEM_CLS1}
                    ELSE (CASE WHEN #{ITEM_CLS4} = '*' THEN #{ITEM_CLS2} ELSE #{ITEM_CLS3} END) END) END)
             , #{ITEM_CLS_RMK}
        )

    </insert>

    <delete id="deleteItemClass_r" parameterType="hashMap">

        DELETE FROM STOCMTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND BUYER_CD = #{BUYER_CD}
        <choose>
            <when test="ITEM_CLS_TYPE == 'C1'"> AND ITEM_CLS1 = #{ITEM_CLS1}</when>
            <when test="ITEM_CLS_TYPE == 'C2'"> AND ITEM_CLS2 = #{ITEM_CLS2}</when>
            <when test="ITEM_CLS_TYPE == 'C3'"> AND ITEM_CLS3 = #{ITEM_CLS3}</when>
            <when test="ITEM_CLS_TYPE == 'C4'"> AND ITEM_CLS4 = #{ITEM_CLS4}</when>
        </choose>
    </delete>

</mapper>