<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 02 08:25:38 KST 2012-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.IM04.IM0403_Mapper">

    <select id="selectItemClassSearchNm" parameterType="hashmap" resultType="hashmap">
        SELECT DISTINCT * FROM
            (
              SELECT GATE_CD
                    , PT_ITEM_CLS1
                    , PT_ITEM_CLS2
                    , PT_ITEM_CLS3
                    , PT_ITEM_CLS_NM
                    , PT_ITEM_CLS_TYPE
                    , CASE WHEN PT_ITEM_CLS_TYPE = 'C1' THEN PT_ITEM_CLS1
                            WHEN PT_ITEM_CLS_TYPE = 'C2' THEN PT_ITEM_CLS2
                            WHEN PT_ITEM_CLS_TYPE = 'C3' THEN PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                    , USE_FLAG
                    , SORT_SQ
                FROM STOCPTCA
                WHERE GATE_CD = #{ses.gateCd}
                AND DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( USE_FLAG = #{USE_FLAG}
                      OR PT_ITEM_CLS1 IN (SELECT T.PT_ITEM_CLS1 FROM STOCPTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C3' AND T.USE_FLAG = #{USE_FLAG})
                      OR PT_ITEM_CLS1 IN (SELECT T.PT_ITEM_CLS1 FROM STOCPTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C2' AND T.USE_FLAG = #{USE_FLAG})
                    )
                </if>
                <if test="ITEM_CLS_NM != '' and PT_ITEM_CLS_NM != null">
                    AND( PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
                      OR PT_ITEM_CLS1 IN (SELECT T.PT_ITEM_CLS1 FROM STOCPTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C3'  AND PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                      OR PT_ITEM_CLS1 IN (SELECT T.PT_ITEM_CLS1 FROM STOCPTCA T  WHERE  T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C2'  AND PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                    )

                </if>
                AND PT_ITEM_CLS_TYPE = 'C1'

            UNION ALL(
                SELECT T1.GATE_CD
                    , T1.PT_ITEM_CLS1
                    , T1.PT_ITEM_CLS2
                    , T1.PT_ITEM_CLS3
                    , T1.PT_ITEM_CLS_NM
                    , T1.PT_ITEM_CLS_TYPE
                    , CASE WHEN PT_ITEM_CLS_TYPE = 'C1' THEN PT_ITEM_CLS1
                           WHEN PT_ITEM_CLS_TYPE = 'C2' THEN PT_ITEM_CLS2
                           WHEN PT_ITEM_CLS_TYPE = 'C3' THEN PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                    , T1.USE_FLAG
                    , T1.SORT_SQ
                FROM STOCPTCA T1
                WHERE T1.GATE_CD = #{ses.gateCd}
                  AND T1.DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( T1.USE_FLAG = #{USE_FLAG}
                      OR T1.PT_ITEM_CLS2 IN (SELECT T.PT_ITEM_CLS2 FROM STOCPTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C3' AND T.USE_FLAG = #{USE_FLAG})
                    )
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                    AND( T1.PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>
                      OR T1.PT_ITEM_CLS2 IN (SELECT T.PT_ITEM_CLS2 FROM STOCPTCA T WHERE T.GATE_CD = #{ses.gateCd} AND T.DEL_FLAG = '0' AND T.PT_ITEM_CLS_TYPE = 'C3'  AND T.PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/>)
                    )
                </if>
                AND T1.PT_ITEM_CLS_TYPE = 'C2'
            )

            UNION ALL(
            SELECT T1.GATE_CD
                , T1.PT_ITEM_CLS1
                , T1.PT_ITEM_CLS2
                , T1.PT_ITEM_CLS3
                , T1.PT_ITEM_CLS_NM
                , T1.PT_ITEM_CLS_TYPE
                , CASE WHEN PT_ITEM_CLS_TYPE = 'C1' THEN PT_ITEM_CLS1
                       WHEN PT_ITEM_CLS_TYPE = 'C2' THEN PT_ITEM_CLS2
                       WHEN PT_ITEM_CLS_TYPE = 'C3' THEN PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                , T1.USE_FLAG
                , T1.SORT_SQ
                FROM STOCPTCA T1
                WHERE T1.GATE_CD = #{ses.gateCd}
                  AND T1.DEL_FLAG = '0'
                <if test="USE_FLAG != '' and USE_FLAG != null">
                    AND( T1.USE_FLAG = #{USE_FLAG}   )
                </if>
                <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null">
                  AND( ${ITEM_CLS_NM_L} T1.PT_ITEM_CLS_NM ${ITEM_CLS_NM_R}                   )
                </if>
                AND T1.PT_ITEM_CLS_TYPE = 'C3'
            )

        ) A
        ORDER BY PT_ITEM_CLS1, PT_ITEM_CLS2, PT_ITEM_CLS3, SORT_SQ



    </select>

    <select id="selectItemClass" parameterType="hashmap" resultType="hashmap">

        SELECT DISTINCT * FROM
        (SELECT GATE_CD
                , PT_ITEM_CLS1
                , PT_ITEM_CLS2
                , PT_ITEM_CLS3
                , PT_ITEM_CLS_NM
                , PT_ITEM_CLS_TYPE
                , CASE WHEN PT_ITEM_CLS_TYPE = 'C1' THEN PT_ITEM_CLS1
                       WHEN PT_ITEM_CLS_TYPE = 'C2' THEN PT_ITEM_CLS2
                       WHEN PT_ITEM_CLS_TYPE = 'C3' THEN PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                , USE_FLAG
                , SORT_SQ
         FROM STOCPTCA
        WHERE GATE_CD = #{ses.gateCd}
          AND DEL_FLAG = '0'
          <if test="USE_FLAG != '' and USE_FLAG != null"> AND PT_ITEM_CLS_TYPE = #{USE_FLAG} </if>
          <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND PT_ITEM_CLS_TYPE = #{ITEM_CLS} </if>
          <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND PT_ITEM_CLS_NM <include refid="com.sql.likeL"/>#{ITEM_CLS_NM}<include refid="com.sql.likeR"/> </if>

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.PT_ITEM_CLS1
                 , T1.PT_ITEM_CLS2
                 , T1.PT_ITEM_CLS3
                 , T1.PT_ITEM_CLS_NM
                 , T1.PT_ITEM_CLS_TYPE
                 , CASE WHEN T1.PT_ITEM_CLS_TYPE = 'C1' THEN T1.PT_ITEM_CLS1
                        WHEN T1.PT_ITEM_CLS_TYPE = 'C2' THEN T1.PT_ITEM_CLS2
                        WHEN T1.PT_ITEM_CLS_TYPE = 'C3' THEN T1.PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
            FROM STOCPTCA T1 JOIN STOCPTCA T2
              ON (T1.PT_ITEM_CLS1 = T2.PT_ITEM_CLS1 AND T1.GATE_CD = T2.GATE_CD AND T2.DEL_FLAG='0')
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.DEL_FLAG = '0'
              AND T1.PT_ITEM_CLS_TYPE = 'C1'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.PT_ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ${ITEM_CLS_NM_L} T2.PT_ITEM_CLS_NM ${ITEM_CLS_NM_R} </if>
         )

         UNION ALL(
            SELECT T1.GATE_CD
                 , T1.PT_ITEM_CLS1
                 , T1.PT_ITEM_CLS2
                 , T1.PT_ITEM_CLS3
                 , T1.PT_ITEM_CLS_NM
                 , T1.PT_ITEM_CLS_TYPE
                 , CASE WHEN T1.PT_ITEM_CLS_TYPE = 'C1' THEN T1.PT_ITEM_CLS1
                        WHEN T1.PT_ITEM_CLS_TYPE = 'C2' THEN T1.PT_ITEM_CLS2
                        WHEN T1.PT_ITEM_CLS_TYPE = 'C3' THEN T1.PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                 , T1.USE_FLAG
                 , T1.SORT_SQ
            FROM STOCPTCA T1 JOIN STOCPTCA T2
              ON (T1.PT_ITEM_CLS1=T2.PT_ITEM_CLS1 AND T1.PT_ITEM_CLS2=T2.PT_ITEM_CLS2 AND T1.GATE_CD=T2.GATE_CD AND T2.DEL_FLAG='0')
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.DEL_FLAG = '0'
              AND T1.PT_ITEM_CLS_TYPE = 'C2'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.PT_ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ${ITEM_CLS_NM_L} T2.PT_ITEM_CLS_NM ${ITEM_CLS_NM_R} </if>
         )

         UNION ALL(
            SELECT T1.GATE_CD
                , T1.PT_ITEM_CLS1
                , T1.PT_ITEM_CLS2
                , T1.PT_ITEM_CLS3
                , T1.PT_ITEM_CLS_NM
                , T1.PT_ITEM_CLS_TYPE
                , CASE WHEN T1.PT_ITEM_CLS_TYPE = 'C1' THEN T1.PT_ITEM_CLS1
                       WHEN T1.PT_ITEM_CLS_TYPE = 'C2' THEN T1.PT_ITEM_CLS2
                       WHEN T1.PT_ITEM_CLS_TYPE = 'C3' THEN T1.PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
                , T1.USE_FLAG
                , T1.SORT_SQ
            FROM STOCPTCA T1 JOIN STOCPTCA T2
              ON T1.PT_ITEM_CLS1=T2.PT_ITEM_CLS1 AND T1.PT_ITEM_CLS2=T2.PT_ITEM_CLS2 AND T1.PT_ITEM_CLS3=T2.PT_ITEM_CLS3 AND T1.GATE_CD=T2.GATE_CD AND T2.DEL_FLAG='0'
            WHERE  T1.GATE_CD = #{ses.gateCd}
              AND T1.DEL_FLAG = '0'
              AND T1.PT_ITEM_CLS_TYPE = 'C3'
              <if test="USE_FLAG != '' and USE_FLAG != null"> AND T2.USE_FLAG = #{USE_FLAG} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND T2.PT_ITEM_CLS_TYPE = #{ITEM_CLS} </if>
              <if test="ITEM_CLS_NM != '' and ITEM_CLS_NM != null"> AND ${ITEM_CLS_NM_L} T2.PT_ITEM_CLS_NM ${ITEM_CLS_NM_R} </if>
         )
     ) A
     ORDER BY PT_ITEM_CLS1, PT_ITEM_CLS2, PT_ITEM_CLS3, SORT_SQ

    </select>



    <select id="selectChildClass" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD
            , PT_ITEM_CLS1
            , PT_ITEM_CLS2
            , PT_ITEM_CLS3
            , PT_ITEM_CLS_NM
            , PT_ITEM_CLS_TYPE
            , USE_FLAG
            , 'U' AS INSERT_FLAG
            , CASE WHEN PT_ITEM_CLS_TYPE = 'C1' THEN PT_ITEM_CLS1
                   WHEN PT_ITEM_CLS_TYPE = 'C2' THEN PT_ITEM_CLS2
                   WHEN PT_ITEM_CLS_TYPE = 'C3' THEN PT_ITEM_CLS3 END AS PT_ITEM_CLS_ORI
        FROM STOCPTCA
        WHERE 1 = 1
        AND GATE_CD = #{ses.gateCd}
        AND DEL_FLAG = '0'
        <if test="USE_FLAG != '' and USE_FLAG != null"> AND USE_FLAG = #{USE_FLAG} </if>
        <choose>
            <when test="ITEM_CLS_TYPE_CLICKED == 'C1'">
                AND PT_ITEM_CLS_TYPE = 'C2'
                AND PT_ITEM_CLS1 IN
                    ( SELECT PT_ITEM_CLS1
                        FROM STOCPTCA
                        WHERE GATE_CD = #{ses.gateCd}
                        AND DEL_FLAG = '0'
                        AND PT_ITEM_CLS_TYPE = 'C2'
                        AND PT_ITEM_CLS1 = #{ITEM_CLS_CLICKED}
                    )
                ORDER BY PT_ITEM_CLS2, SORT_SQ
            </when>
            <when test="ITEM_CLS_TYPE_CLICKED == 'C2'">
                AND PT_ITEM_CLS_TYPE = 'C3'
                AND PT_ITEM_CLS2 IN
                ( SELECT PT_ITEM_CLS2
                    FROM STOCPTCA
                    WHERE GATE_CD = #{ses.gateCd}
                    AND DEL_FLAG = '0'
                    AND PT_ITEM_CLS_TYPE = 'C3'
                    AND PT_ITEM_CLS2 = #{ITEM_CLS_CLICKED}
                )
                ORDER BY PT_ITEM_CLS3, SORT_SQ
            </when>
        </choose>
    </select>

    <select id="existsItemClass" parameterType="hashMap" resultType="java.lang.Integer">
            SELECT
            TOP 1
            COUNT(DEL_FLAG)
            FROM STOCPTCA
            WHERE GATE_CD= #{ses.gateCd}
        <if test="PT_ITEM_CLS1 != '' and PT_ITEM_CLS1 != null"> AND PT_ITEM_CLS1 = #{PT_ITEM_CLS1}</if>
        <if test="PT_ITEM_CLS2 != '' and PT_ITEM_CLS2 != null"> AND PT_ITEM_CLS2 = #{PT_ITEM_CLS2}</if>
        <if test="PT_ITEM_CLS3 != '' and PT_ITEM_CLS3 != null"> AND PT_ITEM_CLS3 = #{PT_ITEM_CLS3}</if>

    </select>

    <select id="newItemClassKey" parameterType="hashMap" resultType="java.lang.String">

        SELECT

            CASE WHEN #{PT_ITEM_CLS_TYPE} = 'C2' THEN #{PT_ITEM_CLS1} + <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(CONVERT(INT,MAX(<include refid="com.sql.subStr"/>(PT_ITEM_CLS2,len(#{PT_ITEM_CLS1})+1, 2)))+1, 2, '0'), '01')
                 WHEN #{PT_ITEM_CLS_TYPE} = 'C3' THEN CASE WHEN #{PT_ITEM_CLS2} IS NULL THEN '' ELSE #{PT_ITEM_CLS2} END + <include refid="com.sql.nvl"/>(<include refid="com.sql.lpad"/>(CONVERT(INT,MAX(<include refid="com.sql.subStr"/>(PT_ITEM_CLS3,len(#{PT_ITEM_CLS2})+1, 2)))+1, 2, '0'), '01')
            END AS VALUE

        FROM STOCPTCA
        WHERE GATE_CD = #{ses.gateCd}
        AND DEL_FLAG = '0'
        <choose>
            <when test="PT_ITEM_CLS_TYPE == 'C2'"> AND PT_ITEM_CLS1 = #{PT_ITEM_CLS1}</when>
            <when test="PT_ITEM_CLS_TYPE == 'C3'"> AND PT_ITEM_CLS2 = #{PT_ITEM_CLS2}</when>
        </choose>
    </select>

    <update id="updateItemClass" parameterType="hashMap">

        UPDATE ${TABLE_NM}
           SET MOD_USER_ID = #{ses.userId}
           , MOD_DATE = <include refid="com.sql.sysdate"/>
           , PT_ITEM_CLS_NM = #{PT_ITEM_CLS_NM}
           , USE_FLAG = #{USE_FLAG}
           , DEL_FLAG = '0'
           , PT_ITEM_CLS  = (CASE WHEN PT_ITEM_CLS2 = '*' THEN PT_ITEM_CLS1
                                  ELSE (CASE WHEN PT_ITEM_CLS3 = '*' THEN PT_ITEM_CLS2 ELSE PT_ITEM_CLS3 END) END)
           , UP_PT_ITEM_CLS  = (CASE WHEN PT_ITEM_CLS2 = '*' THEN ''
                                     ELSE (CASE WHEN PT_ITEM_CLS3 = '*' THEN PT_ITEM_CLS1 ELSE PT_ITEM_CLS2 END) END)
        WHERE GATE_CD = #{ses.gateCd}
        <if test="PT_ITEM_CLS1 != '' and PT_ITEM_CLS1 != null"> AND PT_ITEM_CLS1 = #{PT_ITEM_CLS1}</if>
        <if test="PT_ITEM_CLS2 != '' and PT_ITEM_CLS2 != null"> AND PT_ITEM_CLS2 = #{PT_ITEM_CLS2}</if>
        <if test="PT_ITEM_CLS3 != '' and PT_ITEM_CLS3 != null"> AND PT_ITEM_CLS3 = #{PT_ITEM_CLS3}</if>
    </update>

    <select id="newSortSeq" parameterType="hashMap" resultType="java.lang.String">

        SELECT
        CASE WHEN #{PT_ITEM_CLS_TYPE} = 'C1' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCPTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.PT_ITEM_CLS2 = #{PT_ITEM_CLS2} AND B.PT_ITEM_CLS3 = #{PT_ITEM_CLS3} )
             WHEN #{PT_ITEM_CLS_TYPE} = 'C2' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCPTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.PT_ITEM_CLS1 = #{PT_ITEM_CLS1} AND B.PT_ITEM_CLS2 LIKE #{PT_ITEM_CLS1}<include refid="com.sql.stringMerge"/>'%')
             WHEN #{PT_ITEM_CLS_TYPE} = 'C3' THEN (SELECT <include refid="com.sql.nvl"/>(MAX(B.SORT_SQ), 0) + 1 FROM STOCPTCA B WHERE B.GATE_CD = #{ses.gateCd} AND B.PT_ITEM_CLS1 = #{PT_ITEM_CLS1} AND B.PT_ITEM_CLS2 = #{PT_ITEM_CLS2} AND B.PT_ITEM_CLS3 LIKE #{PT_ITEM_CLS2}<include refid="com.sql.stringMerge"/>'%')
        END AS VALUE


    </select>


    <insert id="insertItemClass" parameterType="hashMap">

        INSERT
        INTO   ${TABLE_NM} (
            GATE_CD
            ,PT_ITEM_CLS1
            ,PT_ITEM_CLS2
            ,PT_ITEM_CLS3
            ,REG_DATE
            ,REG_USER_ID
            ,MOD_DATE
            ,MOD_USER_ID
            ,DEL_FLAG
            ,USE_FLAG
            ,PT_ITEM_CLS_NM
            ,PT_ITEM_CLS_TYPE
            ,SORT_SQ
            ,ITEM_TYPE
            ,PT_ITEM_CLS
            ,UP_PT_ITEM_CLS
        )
        VALUES  (
            #{ses.gateCd}
            , #{PT_ITEM_CLS1}
            , #{PT_ITEM_CLS2}
            , #{PT_ITEM_CLS3}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{USE_FLAG}
            , #{PT_ITEM_CLS_NM}
            , #{PT_ITEM_CLS_TYPE}
            , #{SORT_SQ}
            , #{ITEM_TYPE}
            ,(CASE WHEN #{PT_ITEM_CLS2} = '*' THEN #{PT_ITEM_CLS1}
                    ELSE (CASE WHEN #{PT_ITEM_CLS3} = '*' THEN #{PT_ITEM_CLS2} ELSE #{PT_ITEM_CLS3} END) END)
            ,(CASE WHEN #{PT_ITEM_CLS2} = '*' THEN ''
                   ELSE (CASE WHEN #{PT_ITEM_CLS3} = '*' THEN #{PT_ITEM_CLS1} ELSE #{PT_ITEM_CLS2} END) END)
        )

    </insert>

    <select id="notDeleteItemClass" parameterType="hashMap" resultType="java.lang.Integer">

        SELECT (SELECT COUNT(GATE_CD)
                  FROM STOCPTCA
                 WHERE GATE_CD  = #{ses.gateCd}
                   AND DEL_FLAG = '0'
                <if test='PT_ITEM_CLS1 != "*" and PT_ITEM_CLS1 != null'> AND PT_ITEM_CLS1 = #{PT_ITEM_CLS1}</if>
                <if test='PT_ITEM_CLS2 != "*" and PT_ITEM_CLS1 != null'> AND PT_ITEM_CLS2 = #{PT_ITEM_CLS2}</if>
                <if test='PT_ITEM_CLS3 != "*" and PT_ITEM_CLS1 != null'> AND PT_ITEM_CLS3 = #{PT_ITEM_CLS3}</if>
        ) as CNT

    </select>

    <delete id="deleteItemClass_r" parameterType="hashMap">

        DELETE FROM STOCPTCA
        WHERE GATE_CD = #{ses.gateCd}
        <choose>
            <when test="PT_ITEM_CLS_TYPE == 'C1'"> AND PT_ITEM_CLS1 = #{PT_ITEM_CLS1}</when>
            <when test="PT_ITEM_CLS_TYPE == 'C2'"> AND PT_ITEM_CLS2 = #{PT_ITEM_CLS2}</when>
            <when test="PT_ITEM_CLS_TYPE == 'C3'"> AND PT_ITEM_CLS3 = #{PT_ITEM_CLS3}</when>
        </choose>
    </delete>


    <select id="doSearchPTItemClassPopup_TREE" parameterType="hashmap" resultType="hashMap">

            WITH CTE_TABLE(GATE_CD, SORT_SQ, PT_ITEM_CLS_NM, PT_ITEM_CLS1, PT_ITEM_CLS2, PT_ITEM_CLS3, PT_ITEM_CLS_TYPE, PT_ITEM_CLS, UP_PT_ITEM_CLS)
            AS
            (
                SELECT
                    A.GATE_CD, A.SORT_SQ, A.PT_ITEM_CLS_NM, A.PT_ITEM_CLS1, A.PT_ITEM_CLS2, A.PT_ITEM_CLS3, A.PT_ITEM_CLS_TYPE, A.PT_ITEM_CLS, A.UP_PT_ITEM_CLS
                FROM STOCPTCA A
                WHERE A.GATE_CD = #{ses.gateCd}
                <if test='PT_ITEM_CLS_NM != "" and PT_ITEM_CLS_NM != null'>
                    AND A.PT_ITEM_CLS_NM <include refid="com.sql.likeL"/> #{PT_ITEM_CLS_NM} <include refid="com.sql.likeR"/>
                </if>
                AND A.DEL_FLAG = '0'
                AND A.USE_FLAG = '1'

                UNION ALL

                SELECT
                  T.GATE_CD, T.SORT_SQ, T.PT_ITEM_CLS_NM, T.PT_ITEM_CLS1, T.PT_ITEM_CLS2, T.PT_ITEM_CLS3, T.PT_ITEM_CLS_TYPE, T.PT_ITEM_CLS, T.UP_PT_ITEM_CLS
                FROM (
                    SELECT
                        M.GATE_CD, M.SORT_SQ, M.PT_ITEM_CLS_NM, M.PT_ITEM_CLS1, M.PT_ITEM_CLS2, M.PT_ITEM_CLS3, M.PT_ITEM_CLS_TYPE ,M.PT_ITEM_CLS, M.UP_PT_ITEM_CLS
                    FROM STOCPTCA M
                    WHERE M.GATE_CD = #{ses.gateCd}
                    AND M.DEL_FLAG = '0'
                    AND M.USE_FLAG = '1'
                ) T JOIN CTE_TABLE N
                ON (T.GATE_CD = N.GATE_CD
                AND T.PT_ITEM_CLS = N.UP_PT_ITEM_CLS)
            )

            SELECT DISTINCT
                (CASE WHEN C.PT_ITEM_CLS_TYPE = 'C1' THEN C.PT_ITEM_CLS1
                      WHEN C.PT_ITEM_CLS_TYPE = 'C2' THEN C.PT_ITEM_CLS2
                      ELSE C.PT_ITEM_CLS3 END) "tree"
                ,C.SORT_SQ
                ,C.PT_ITEM_CLS_NM
                ,C.PT_ITEM_CLS1
                ,C.PT_ITEM_CLS2
                ,C.PT_ITEM_CLS3
                ,C.PT_ITEM_CLS
                ,C.UP_PT_ITEM_CLS
                ,P.PT_ITEM_CLS_PATH_NM
            FROM CTE_TABLE C
            JOIN (
                SELECT  PTCA.GATE_CD
                    , PTCA.PT_ITEM_CLS1
                    , PTCA.PT_ITEM_CLS2
                    , PTCA.PT_ITEM_CLS3
                    ,MTC1.PT_ITEM_CLS_NM +CASE WHEN MTC2.PT_ITEM_CLS_NM IS NOT NULL THEN ' > ' + MTC2.PT_ITEM_CLS_NM ELSE '' END
                                         +CASE WHEN MTC3.PT_ITEM_CLS_NM IS NOT NULL THEN ' > ' + MTC3.PT_ITEM_CLS_NM ELSE '' END AS PT_ITEM_CLS_PATH_NM
                 FROM STOCPTCA  PTCA
                 LEFT OUTER JOIN STOCPTCA MTC1
                   ON ( PTCA.GATE_CD = MTC1.GATE_CD
                   AND PTCA.PT_ITEM_CLS1 = MTC1.PT_ITEM_CLS1
                   AND MTC1.PT_ITEM_CLS_TYPE = 'C1'
                   AND MTC1.DEL_FLAG = '0')
                LEFT OUTER JOIN STOCPTCA MTC2
                  ON ( PTCA.GATE_CD = MTC2.GATE_CD
                   AND PTCA.PT_ITEM_CLS1 = MTC2.PT_ITEM_CLS1
                   AND PTCA.PT_ITEM_CLS2 = MTC2.PT_ITEM_CLS2
                   AND MTC2.PT_ITEM_CLS_TYPE = 'C2'
                   AND MTC2.DEL_FLAG = '0')
                LEFT OUTER JOIN STOCPTCA MTC3
                  ON ( PTCA.GATE_CD = MTC3.GATE_CD
                   AND PTCA.PT_ITEM_CLS1 = MTC3.PT_ITEM_CLS1
                   AND PTCA.PT_ITEM_CLS2 = MTC3.PT_ITEM_CLS2
                   AND PTCA.PT_ITEM_CLS3 = MTC3.PT_ITEM_CLS3
                   AND MTC3.PT_ITEM_CLS_TYPE = 'C3'
                   AND MTC3.DEL_FLAG = '0')

                WHERE  PTCA.GATE_CD = #{ses.gateCd}
                AND PTCA.USE_FLAG = '1'
                AND PTCA.DEL_FLAG = '0'
            ) P
            ON (C.GATE_CD = P.GATE_CD
            AND C.PT_ITEM_CLS1 = P.PT_ITEM_CLS1
            AND C.PT_ITEM_CLS2 = P.PT_ITEM_CLS2
            AND C.PT_ITEM_CLS3 = P.PT_ITEM_CLS3)
            WHERE 1 = 1
            ORDER BY C.PT_ITEM_CLS1, C.PT_ITEM_CLS2, C.PT_ITEM_CLS3, C.SORT_SQ

    </select>

</mapper>