<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.master.srm.SRM_410_Mapper">
	<select id="SRM_410_doSearch" parameterType="hashmap" resultType="hashmap">
		SELECT YEAR
			 , VENDOR_CD
			 , <include refid="com.sql.dbo"/>GETVENDORNAME(GATE_CD, VENDOR_CD, #{ses.langCd}) AS VENDOR_NM
			 , GROUP_CD
			 , RMK
			 , SALES_AMT
			 , PURCHASE_AMT
			 , DEPENDENCE_RATE
			 , GROUP_AMT
			 , ITEM_DESC
			 , DIFFICULTY_RATE
		  FROM STOCEVVG
		 WHERE GATE_CD = #{ses.gateCd}
		<if test="YEAR != null and YEAR != ''">
		   AND YEAR = #{YEAR}
		</if>
		<if test="VENDOR_NM != null and VENDOR_NM != ''">
		   AND UPPER(<include refid="com.sql.dbo"/>GETVENDORNAME(GATE_CD, VENDOR_CD, #{ses.langCd})) <include refid="com.sql.likeL"/> #{VENDOR_NM} <include refid="com.sql.likeR"/>
		</if>
		<if test="GROUP_CD != null and GROUP_CD != ''">
		   AND GROUP_CD = #{GROUP_CD}
		</if>
		   AND DEL_FLAG = '0'
	</select>

	<select id="doVendorCnt" parameterType="hashmap" resultType="java.lang.Integer">
		SELECT COUNT(VENDOR_CD) AS CNT
		  FROM STOCVNGL
		 WHERE GATE_CD = #{ses.gateCd}
		   AND VENDOR_CD = #{VENDOR_CD}
		   AND DEL_FLAG = '0'
		   AND PROGRESS_CD = 'E'
	</select>

	<update id="SRM_410_doDelete" parameterType="hashmap">
		UPDATE STOCEVVG SET
			   MOD_DATE = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
			 , DEL_FLAG = '1'
		 WHERE GATE_CD = #{ses.gateCd}
		   AND VENDOR_CD = #{VENDOR_CD}
		   AND YEAR = #{YEAR}
	</update>
	
	<insert id="SRM_410_doSave" parameterType="hashmap">
		 MERGE STOCEVVG AS A
		 USING (SELECT #{ses.gateCd} AS GATE_CD, #{VENDOR_CD} AS VENDOR_CD, #{YEAR} AS YEAR) AS B
			ON (A.GATE_CD = B.GATE_CD
		   AND 	A.VENDOR_CD = B.VENDOR_CD
		   AND A.YEAR = B.YEAR)
		  WHEN MATCHED THEN
		UPDATE SET
			   GROUP_CD = #{GROUP_CD}
			 , RMK = #{RMK}
			 , MOD_DATE = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
			 , SALES_AMT = #{SALES_AMT}
			 , PURCHASE_AMT = #{PURCHASE_AMT}
			 , DEPENDENCE_RATE = #{DEPENDENCE_RATE}
			 , GROUP_AMT = #{GROUP_AMT}
			 , ITEM_DESC = #{ITEM_DESC}
			 , DIFFICULTY_RATE = #{DIFFICULTY_RATE}
			 , DEL_FLAG = '0'
		  WHEN NOT MATCHED THEN
		INSERT (
			   GATE_CD
			 , VENDOR_CD
			 , YEAR
			 , GROUP_CD
			 , RMK
			 , REG_DATE
			 , REG_USER_ID
			 , SALES_AMT
			 , PURCHASE_AMT
			 , DEPENDENCE_RATE
			 , GROUP_AMT
			 , ITEM_DESC
			 , DIFFICULTY_RATE
			 , DEL_FLAG
		) VALUES (
			   #{ses.gateCd}
			 , #{VENDOR_CD}
			 , #{YEAR}
			 , #{GROUP_CD}
			 , #{RMK}
			 , <include refid="com.sql.sysdate"/>
			 , #{ses.userId}
			 , #{SALES_AMT}
			 , #{PURCHASE_AMT}
			 , #{DEPENDENCE_RATE}
			 , #{GROUP_AMT}
			 , #{ITEM_DESC}
			 , #{DIFFICULTY_RATE}
			 , '0'
		<include refid="com.sql.mergeEnd"/>
	</insert>
</mapper>