
/*
  section - main
*/

/*2020-12-30 : 가로 스크롤 수정*/
.main {
    /*width: 100%;*/
    /*min-width: 1920px;*/
    height: 450px;
    margin-bottom: 30px;
}
/*2020-12-30 : 가로 스크롤 수정*/
.wrap_main_img{
    width: 1820px;
    margin: 0 auto;
    text-align: center;
    height: 450px;
}

.main .box_main .contents {
    width: 1200px;
    margin: 0 auto;
    padding: 158px 0 0 100px;
}

.main .box_main .contents .title {
    width: 850px;
    overflow: hidden;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -2.4px;
    margin-bottom: 10px;
}

.main .box_main .contents .desc {
    width: 850px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: -1.6px;
}

/*로그인 영억*/
/*2020-12-30 : 가로 스크롤 수정*/
.middle_box{
    width: 1820px;
    position: relative;
    margin: 0 auto 30px;
    background: #ffffff;
    z-index: 100;
}
.middle_box_under{
    width: 1190px;
    margin: 0 auto;
}
.sm_box{
    width: 390px;
    height: 390px;
    float: left;
    padding: 30px 30px;
}
.sm_box.sm_box_1,
.sm_box.sm_box_2{
    margin-right: 10px;
}
.sm_box.sm_box_3{

}
.sm_box:last-child{
    border-right: none;
}
.sm_box .title{
    margin: 0 2px 40px 0;
}
.sm_box .title a{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffbc00;
}
.box_login {
    width: 330px;
    border-radius: 0 0 6px 6px;
}

.box_login .bar {
    position: absolute;
    width: 100%;
    height: 10px;
    background: #004878;
    top: 0;
}

.box_login .inner .title {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 17px;
    letter-spacing: -.5px;
}

.box_login .inner .title .highlight {
    font-size: 28px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: left;
    letter-spacing: normal;
}

.box_login .inner form .login_area {
    margin-bottom: 10px;
}
.box_login .inner form .login_area .form-group{
    margin-bottom: 0;
    border-bottom: 1px solid #cfcfcf;
}
.box_login .inner form .login_area .form-group.focus{
    margin-bottom: 0;
    border-bottom: 1px solid #222222;
}
.box_login .inner form .login_area .btn-login {
    width: 330px;
    height: 40px;
    margin: 0 0 44px;
    padding: 9.9px 0 9.1px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    -webkit-border-radius: 0 10px 0 10px;
    -moz-border-radius: 0 10px 0 10px;
    border-radius: 0 10px 0 10px;
}
.more, .go{
    position: relative;
    padding-right: 26px;
}
.more::after{
    content: url("/images/kb_data/ico_more.png");
    width: 22px;
    height: 22px;
    position: absolute;
    top: -1px;
    right: 0;
}
.go::after{
    content: url("/images/kb_data/ico_go.png");
    width: 22px;
    height: 22px;
    position: absolute;
    top: -1px;
    right: 0;
}
.join_search{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.join_search .join, .join_search .search {
    position: relative;
    float: left;
    width: 50%;
}
.join_search .join::after{
    content: '';
    position: absolute;
    top: 2px;
    width: 1px;
    right: 0;
    height: 16px;
    background-color: #dbdbdb;
}
.box_login .inner form .login_area .form-control {
    display: block;
    position: relative;
    height: 40px;
    padding: 0 0.625rem;
    font-family: "KBFG Text";
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.125rem;
    color: #303030;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 0;
}
.box_login .inner form .login_area .form-control::placeholder {
    color: #b2b2b2;
}
.box_login .inner form .login_area .form-control::-webkit-input-placeholder { /* Edge */
    color: #b2b2b2;
}
.custom-checkbox-login{
    margin: 11px 0 31px;
}
.box_login .inner form .login_area .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
}

.box_login .inner form .login_area .form-control::placeholder {
    color: #b2b2b2;
}
.box_login .inner form .btn-line{
    width: 162px;
}
.box_login .inner form .form-control::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box_login .inner form .login_area .form-control:disabled {
    color: #b2b2b2;
    border: 0;
    background-color: #fff;
}

.box_login .inner form .login_area .form-control[readonly] {
    background: #fff;
    border: 0;
}

.box_login .inner form .login_area .form-control[readonly]::placeholder {
    color: #b2b2b2;
}

.box_login .inner form .login_area .form-control:focus {
    color: #303030;
    outline: none;
}

.box_login .inner form .find-info a {
    color: #666666;
    font-size: 14px;
}

.box_login .inner form .find-info a:hover {
    cursor: pointer;
}
/*2020-12-30 : 가로 스크롤 수정*/
.sm_box .notice{
    position: relative;
    height: auto;
}
.notice ul li{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.69px;
    text-align: left;
    color: #000000;
    margin-bottom: 42px;
    position: relative;
}
.notice ul li .text_title{
    display: block;
    width:330px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.notice ul li .date{
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    left: 0;
    top: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
}
/*2020-12-30 : 가로 스크롤 수정*/
.notice .wrap_btn{
    position: absolute;
    top: 236px;
    left: 50%;
    margin-left: -60px;
}
.sm_box_3{
    position: relative;
    background-color: #f9f9f9;
}
.sm_box_3 .text{
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.69px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;
}
.sm_box_3 .text_2{
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.51px;
    text-align: left;
    color: #000000;
}
.sm_box_3 .wrap_btn{
    position: absolute;
    top: 326px;
    left: 50%;
    margin-left: -60px;
}
/*
  section - business
*/


