/*
  section - notice
*/
/*2020-12-30 : 가로 스크롤 수정*/
.wrap_sub{
    /*min-width: 1920px;*/
    width: 1820px;
    margin: 0 auto;
}
.notice {
    height: 248px;
}

.notice .box_card {
    padding: 0 5px;
}

.notice .box_card .row {
    margin-left: 0;
}

.notice .box_card .row .nav-wrap {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding: 5px 15px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li {
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.8px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li a {
    display: block;
    height: 30px;
    margin-bottom: 4px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li a:hover {
    color: inherit;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .category {
    display: inline-block;
    font-weight: 600;
    margin-right: 3px;
    vertical-align: top;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 436px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .date {
    float: right;
    font-size: 14px;
    letter-spacing: -0.7px;
    color: #909090;
}

.notice .box_card .row .nav-wrap .btn-link {
    position: absolute;
    right: 20px;
    top: 15px;
}

.notice .box_card .row .nav-wrap .btn-link a {
    color: #909090;
}

.notice .box_card .row .card .icon {
    position: absolute;
    right: 15px;
    top: 33px;
    font-size: 28px;
    color: #cfcfcf;
}

.notice .box_card .row .card:first-child {
    margin-bottom: 8px;
}

.notice .box_card .row .card:hover, .notice .box_card .row .card:active, .notice .box_card .row .card:focus {
    color: #303030;
}


.service .title {
    background: url("../../img/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
}

.service .nav-pills {
    margin-top: -20px;
    padding: 0 5px;
}

.service .tab-content {
    padding: 0 5px;
}

.personal .border-top {
    min-width: 1200px;
    margin-top: 80px;
    border-top: 2px solid #909090 !important;
}

.personal .border-bottom {
    border-bottom: 2px solid #909090 !important;
    margin-bottom: 80px;
}

.personal .box .title p {
    line-height: 150px;
    border-bottom: 2px solid #909090;
}

.personal .box .content {
    padding: 0 20px;
    border-bottom: 2px solid #909090;
    margin-bottom: 40px;
}

.personal .box .content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.8px;
}

.personal .box .content .p-box {
    padding: 0 40px;
    margin-bottom: 70px;
}

.personal .box .content .p-box .p-index {
    font-size: 16px;
    letter-spacing: -0.8px;
    line-height: 30px;
}

.personal .box .content .p-box .p-index a:hover, .personal .box .content .p-box .p-index a:focus {
    color: #118FE3;
    border-bottom: 1px solid #118FE3;
}

.personal .box .content .p-box .p-index:first-child {
    margin-right: 286px;
}



.personal .box .content .p-content > .title {
    position: relative;
    font-size: 18px;
    color: #118FE3;
    line-height: 21px;
    padding-left: 5px;
    font-weight: 600;
    margin-bottom: 24px;
}

.personal .box .content .p-content > .title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #118FE3;
    width: 1px;
    height: 18px;
    left: -4px;
    top: 2px;
}

.personal .box .content .p-content > .title p {
    line-height: 26px;
}

.personal .box .content .p-content:first-child {
    margin-top: 0;
}

.personal .box .content .p-content:last-child {
    margin-bottom: 100px;
}

.personal .box .content .p-content .p-text {
    text-align: center;
    padding-top: 60px;
}

.personal .box .content .p-content .p-text .text {
    font-size: 36px;
    letter-spacing: -1.8px;
    line-height: 41px;
    margin-bottom: 10px;
}

.personal .box .content .p-content .p-text .text-sm {
    font-size: 28px;
    letter-spacing: -1.4px;
    line-height: 32px;
}

.personal .box .content .p-content .p-text i {
    color: #000000;
    font-size: 70px;
    letter-spacing: -3.5px;
    margin-bottom: 30px;
}

.personal.sign_in > .title {
    background: url("../../img/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
    width: 100%;
    min-width: 1200px;
}

.personal.sign_in .box .content {
    border-bottom: 0;
}

.personal.sign_in .box .content .p-content {
    margin-top: 40px !important;
}

.personal.sign_in .box .content .p-content .p-inner {
    width: 100%;
    height: 320px;
    border: 1px solid #707070;
    overflow-y: scroll;
    padding: 30px 10px;
    margin-bottom: 10px;
}
.personal.sign_in .box .content .p-content .p-inner.p-inner-term{
    height: auto;
    border: 2px solid #909090;
    border-left: none;
    border-right: none;
    overflow: auto;
}
.personal.sign_in .box .content .p-content .p-inner.p-inner-term b{
    font-weight: 600;
}
.mb_10{
    margin-bottom: 10px;
}
.mb_60{
    margin-bottom: 60px;
}
.pd-lr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pd-lr-25{
    padding-left: 25px;
    padding-right: 25px;
}
.personal.sign_in .box .content .p-content .p-inner > .title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.9px;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;
}
.personal.sign_in .box .content .p-content .p-inner > .title_2 {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.personal.sign_in .box .content .p-content .p-inner > .text {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}

.personal.sign_in .box .content .p-content .form-group label {
    font-weight: 600;
}

.personal.sign_in .box .content .p-content .form-group .form-control {
    display: inline-block;
    border: 1px solid #666;
    border-radius: unset;
}

.personal.sign_in .box .content .p-content .form-group .form-control::placeholder {
    color: #333333;
}

.personal.sign_in .box .content .p-content .form-group .btn {
    font-size: 16px;
    width: 120px;
    height: 40px;
    vertical-align: unset;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #ffbc00;
}
.personal.sign_in .box .content .p-content .form-group .btn:hover{
    background: #e6a900;
}
.personal.sign_in .box .content .p-content .form-group .btn:active{
    background: #cc9600;
}
.personal.sign_in .box .content .p-content .btn-area {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.personal.sign_in .box .content .p-content .btn-area.btn-area-mt-sm{
    margin-top: 30px;
}

.personal.sign_in .box .content .p-content .btn-area .btn {
    -webkit-border-radius: 0 9px 0 9px;
    -moz-border-radius: 0 9px 0 9px;
    border-radius: 0 9px 0 9px;
    width: 260px;
    background: #ffbc00;
}
.personal.sign_in .box .content .p-content .btn-area .btn:hover {
    background: #e6a900;
}
.personal.sign_in .box .content .p-content .btn-area .btn:active {
    background: #cc9600;
}

.personal.sign_in .box .content .p-content .btn-area.single {
    margin-top: 60px;
}

.personal.sign_in .box .content .p-content .btn-area.single .btn {
    width: 140px;
    margin-right: 0;
}

.personal.sign_in .box .content .p-content .p-title {
    position: relative;
    font-size: 18px;
    color: #ffbc00;
    line-height: 21px;
    padding-left: 8px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;
    letter-spacing: -.9px;
}

.personal.sign_in .box .content .p-content .p-title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #ffbc00;
    width: 1px;
    height: 18px;
    left: 0;
    top: 2px;
}

.personal.sign_in .box .content .p-content form .title {
    position: relative;
    width: 100%;
    color: #333333;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
}

.personal.sign_in .box .content .p-content form .title i {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 15px;
}

.personal.sign_in .box .content .p-content form .title .right {
    position: absolute;
    width: 150px;
    right: 0;
    text-align: right;
}

.personal.sign_in .box .content .p-content form > .row {
    height: 49px;
    border-bottom: 1px solid #ababab;
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    margin: 0;
}

.personal.sign_in .box .content .p-content form > .row:first-child {
    border-right: 0;
    border-left: 0;
}

.personal.sign_in .box .content .p-content form > .row .col-title {
    position: relative;
    width: 194px;
    height: 48px;
    background: #e9e9e9;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 24px;
    color: #303030;
    line-height: 48px;
}

.personal.sign_in .box .content .p-content form > .row .col-title i {
    position: absolute;
    top: 16px;
    right: 10px;
    color: #118FE3;
}

.personal.sign_in .box .content .p-content form > .row .col-title.line-2 {
    font-size: 14px;
    line-height: 23px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc {
    width: calc(100% - 194px);
    padding: 4px 10px 4px 10px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc .btn {
    margin-bottom: 3px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc .text {
    line-height: 40px;
    padding-left: 10px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc input {
    width: 100%;
    height: 40px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc input:focus {
    border-color: #666;
    outline: 0;
}

.personal.sign_in .box .content .p-content form > .row.double {
    height: 99px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-title {
    height: 98px;
    line-height: 98px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-title i {
    top: 40px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc {
    padding: 4px 10px 4px 10px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc > .row {
    padding: 0 5px;
    margin-bottom: 10px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc > .row:last-child {
    margin-bottom: 0;
}

.personal.sign_in .box .content .p-content form > .row.row-3 .col-title {
    width: 150px;
}

.personal.sign_in .box .content .p-content form > .row.row-3 .col-desc {
    width: calc(100% - 150px);
}

.personal.find-info .border-top {
    width: 100%;
    min-width: auto;
    margin-top: 0;
    border-top: 1px solid #ABABAB !important;
}

.personal.find-info .col-title {
    width: 194px;
    line-height: 50px;
    font-weight: 600;
    padding-left: 20px;
}

.personal.find-info .col-desc {
    width: calc(100% - 194px);
    padding: 5px 10px;
}

.personal.find-info .col-desc .custom-radio .custom-control-label {
    line-height: 40px;
}

.personal.find-info .title {
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 13px;
}

.personal.find-info .title i {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 15px;
}

.p-table .table {
    margin-bottom: 10px;
}

.p-table .table th, .p-table .table td {
    position: relative;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
}

.p-table .table th .custom-checkbox, .p-table .table td .custom-checkbox {
    margin: 0 auto;
}

.p-table .table th > .btn-search, .p-table .table td > .btn-search {
    position: relative;
    top: 0;
}

.p-table .btn-area {
    margin-top: 0 !important;
    display: inline-block !important;
}

.p-table .btn-area .btn {
    width: 80px !important;
    font-size: 16px !important;
}

.faq > .title {
    background: url("../../img/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
    width: 100%;
    min-width: 1200px;
}

.faq .box {
    width: 1150px;
    min-width: 1150px;
    margin-bottom: 140px;
}

.faq .box .tab_faq {
    margin-top: 30px;
}

.faq .box .tab_faq .nav-link {
    width: 565px;
    border: 0;
    border-bottom: 4px solid #ebebeb;
}

.accordion-wrap {
    margin-bottom: 80px;
}

.faq .box .accordion-wrap .accordion-container .p-title {
    position: relative;
    font-size: 18px;
    color: #ffbc00;
    line-height: 21px;
    padding-left: 8px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;
    letter-spacing: -.9px;
}

.faq .box .accordion-wrap .accordion-container .p-title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #ffbc00;
    width: 1px;
    height: 18px;
    left: 0;
    top: 0;
}

.faq .box .accordion-wrap .accordion-container .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.faq .box .accordion-wrap .accordion-container .set:first-of-type {
    border-top: 1px solid #cccccc;
}


.faq .box .accordion-wrap .accordion-container .set .content {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    display: none;
    counter-reset: list;
    padding: 8px 14px 0 80px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.faq .box .accordion-wrap .accordion-container .set .content li {
    margin: 0 0 14px;
    line-height: 22px;
    font-size: 18px;
    line-height: 40px;
}

.tab-btn {
    position: relative;
    margin-bottom: 60px;
    padding-top: 70px;
}

.tab-btn .tab-item {
    float: left;
    margin-right: 80px;
}

.tab-btn .tab-item a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    text-align: center;
    padding-bottom: 10px;
    color: #909090;
}

.tab-btn .tab-item.active a {
    color: #118fe3;
    font-weight: bold;
    border-bottom: 4px solid #118fe3;
}

.tab-btn .tab-item:last-child {
    margin-right: 0;
}

.tab-btn::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e4e4e4;
}

.tab_content nav {
    position: absolute;
    top: 60px;
}

.tab_content .content-01 .img {
    display: block;
    margin: 0 auto 160px;
    width: 1079px;
    height: 781px;
}

.tab_content .content-01 .img img {
    width: 100%;
    height: 100%;
}

.f-list .f-item {
    margin-bottom: 40px;
    border: 1px solid #cccccc;
    padding: 30px 95px 37px 32px;
}

.f-list .f-item i {
    display: inline-block;
    font-size: 36px;
    line-height: 37px;
    letter-spacing: -1.8px;
    color: #118fe3;
    vertical-align: sub;
    margin-right: 22px;
}

.f-list .f-item .title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    letter-spacing: -1.2px;
    color: #118fe3;
    background: none;
    height: auto;
}

.f-list .f-item .desc {
    display: block;
    padding-left: 59px;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -1.1px;
    color: #303030;
    margin-top: 10px;
}

.f-list .f-item .desc .c-lg {
    display: block;
    margin-bottom: 16px;
}

.f-list .f-item .desc .c-lg:last-child {
    margin-bottom: 0;
}

.f-list .f-item:last-child {
    margin-bottom: 160px;
}

.content-sm {
    padding: 0 20px;
}

.c-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 50px;
    letter-spacing: -1.6px;
    margin-bottom: 14px;
}

.c-title.c-title-lg {
    margin-bottom: 40px;
}

.c-desc {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    margin-bottom: 60px;
}

.c-list {
    margin-bottom: 40px;
    padding: 0 40px;
}

.c-list li {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #1c8fdc;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.4px;
    margin-right: 77px;
}

.c-list li.line-2 {
    line-height: 36px;
    padding-top: 67px;
}

.c-list li:last-child {
    margin-right: 0;
}

.c-list2 {
    margin-bottom: 80px;
    padding: 0 40px;
}

.c-list2 li {
    width: 100%;
    height: 88px;
    line-height: 88px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 25px 0 25px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1.2px;
    margin-bottom: 40px;
}

.c-list2 li:last-child {
    margin-bottom: 0;
}

.c-list3 {
    padding: 0 40px;
    margin-bottom: 160px;
}

.c-list3 li {
    margin-bottom: 40px;
}

.c-list3 li .top {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #1c8fdc;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #ffffff;
    padding-left: 40px;
    border-radius: 16px 16px 0 0;
}

.c-list3 li .bottom {
    display: block;
    width: 100%;
    height: 86px;
    line-height: 86px;
    border-radius: 0 0 16px 16px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-size: 22px;
    letter-spacing: -1.1px;
    color: #303030;
    padding-left: 40px;
}

.c-list3 li .bottom.line-2 {
    height: 124px;
    padding: 30px 66px 30px 40px;
    line-height: 33px;
}

.c-list3 li:last-child {
    margin-bottom: 0;
}

.c-img-01 {
    display: block;
    width: 980px;
    height: 615px;
    margin: 0 auto 80px;
}

.c-img-01 img {
    width: 100%;
    height: 100%;
}

.c-img-02 {
    display: block;
    width: 860px;
    height: 435px;
    margin: 0 auto 80px;
}

.c-img-02 img {
    width: 100%;
    height: 100%;
}

.c-img-03 {
    display: block;
    width: 1005px;
    height: 852px;
    margin: 0 auto 80px;
}

.c-img-03 img {
    width: 100%;
    height: 100%;
}

.c-img-04 {
    display: block;
    width: 1104px;
    height: 753px;
    margin: 0 auto 160px;
}

.c-img-04 img {
    width: 100%;
    height: 100%;
}

.c-list4 {
    padding: 0 40px 30px;
}

.c-list4 li {
    margin-bottom: 40px;
}

.c-list4 li .c-header {
    float: left;
    display: inline-block;
    background-color: #1c8fdc;
    border-radius: 18px 0 0 18px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
    padding: 32px 0;
    width: 200px;
    height: 130px;
}

.c-list4 li .c-item {
    display: inline-block;
    width: calc(100% - 200px);
    height: 130px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 0 18px 18px 0;
    padding: 30px 0 0 48px;
}

.c-list4 li .c-item span {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -1.1px;
    text-align: left;
    color: #303030;
    margin-bottom: 20px;
}

.c-list4 li .c-item span::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: -17px;
    top: 9px;
    border-radius: 50%;
    background-color: #303030;
}

.c-list4 li .c-item span:last-child {
    margin-bottom: 0;
}

.c-list4 li:last-child {
    margin-bottom: 0;
}

.c-list4 li.lg .c-header {
    height: 173px;
    padding: 53px 0;
}

.c-list4 li.lg .c-item {
    height: 173px;
}

.c-list4 li.lg .c-item span:first-child {
    line-height: 31px;
}

.sub-bg {
    width: 100%;
    height: 80px;
    background: url("../../img/common/sub_main.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.sub-main {
    width: 1200px;
    min-height: 10px;
    margin: 0 auto 140px;
}

.wrap-sub-title .sub-title{
    float: left;
    margin-right: 100px;
}
.wrap-sub-title .sub-title span{
    font-weight: normal;
    margin-left: 5px;
}
.sub-title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #303030;
    margin-left: 40px;
    margin-bottom: 20px;
}
.sub-title.sub-title-ml-sm {
    margin-left: 11px;
}
.sub-title.sub-title-mb-md{
    margin-bottom: 40px;
}
.sub-title.sub-title-mb-lg{
    margin-bottom: 60px;
}
.sub-title.sub-title-mb-xl {
    margin-bottom: 100px;
}
.wrap-img{
    text-align: center;
}
.wrap-img.wrap-img-mb-lg{
    margin-bottom: 80px;
}


.sub-title::after {
    content: '';
    position: absolute;
    top: 1px;
    left: -30px;
    width: 24px;
    height: 24px;
    margin: 3px 2px 24px 0;
    -webkit-border-radius: 0 5px 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    border-radius: 0 5px 0 5px;
    background-color: #60584c;
}

.company_data {
    padding: 30px 20px;
}

.company_data .col1 {
    width: 96px;
    display: inline-block;
    padding-left: 13px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    position: relative;
    color: #303030;
}

.company_data .col1::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #222222;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 0;
    top: 16px;

}

.company_data .col2 {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: #303030;
}

.company_data .col3 {
    font-family: KBFG Text;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
    padding-left: 12px;
}
.sign{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.5px;
    text-align: right;
    color: #303030;
}
.sign *{
    vertical-align: middle;
}
.sign span{
    margin-right: 7px;
}

.wrap_grey_box_company {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}
.wrap_grey_box_company img{
    position: relative;
    left: 50px;
}
.subsidiary {
    padding: 60px 50px;
}

.subsidiary_company > a {
    width: 203px;
    height: 64px;
    float: left;
    margin-left: 63px;
}

.subsidiary_company > a:first-child {
    margin-left: 0;
}

.subsidiary_company.subsidiary_company_row {
    margin-bottom: 60px;
}

.subsidiary_company.subsidiary_company_row:last-child {
    margin-bottom: 0;
}

.mission_img {
    text-align: center;
    margin-bottom: 100px;
}

/*circle*/
.bgobj {
    display: inline-block;
    position: absolute;
    z-index: -2;
}

.circle01 {
    top: 370px;
    left: 150px;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border: 50px solid #fbfbe5;
}

.circle02 {
    top: 620px;
    right: 40px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 110px solid #f1faef;
}

.circle03 {
    top: 300px;
    left: 450px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 45px solid #f1f8fb;
}

/*sign-in*/
.sign_in .sub-title{
    margin-left: 30px;
}
.p-inner{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.wrap-p-list{
    margin-top: 40px;
}
.p-list{
    width: 50%;
    padding-left: 46.9px;
    float: left;
}
.p-list .point a{
    color: #ffaa00;
    border-bottom: 1px solid #ffaa00;
}
.wrap_policy{
    margin-bottom: 100px;
}
.policy_list{
    padding: 0 6px;
    margin-bottom: 40px;
}
.policy_list .title{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.9px;
    text-align: left;
    margin-bottom: 10px;
    color: #000000;
}
.policy_list .description{
    margin: 0 10px ;
    font-size: 16px;
}
.policy_list .description{
    margin: 0 10px ;
    font-size: 16px;
}
.policy_list .description .depth_3{
    position: relative;
    padding-left: 20px;
}
.policy_list .description .depth_3::before{
    content: "";
    position: absolute;
    left: 10px;
    background: #606060;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    top: 12px;
}
.policy_list .description.description_important{
    margin-top: 91px;
    font-size: 16px;
    color: #18a3f1;
}
.sub_appraisal{
    position: relative;
    /*width: 1000px;*/
    border: solid 1px #cecece;
    margin: 20px 0;
}
.sub_appraisal .title_upper{
    height: 90px;
    border-bottom: solid 1px #cecece;
    text-align: center;
    line-height: 90px;
    background-color: #f5f5f5;
}
.sub_appraisal .title_upper span{
    font-family: NanumGothic;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: 1.17;
    letter-spacing: -1.5px;
    text-align: center;
    color: #222222;
}
.sub_appraisal .wrap_question{
    padding: 40px 30px 30px;
}
.sub_appraisal .wrap_question .sub-title{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -1.1px;
    text-align: left;
    color: #222222;
    margin-left: 22px;
}
.sub_appraisal .wrap_question .sub-title::after{
    left: -22px;
    top: 1px;
    width: 16px;
    height: 16px;
}
.sub_appraisal .wrap_question .wrap_bg{
    /*width: 940px;*/
    padding: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin-bottom: 40px;
}
.sub_appraisal .wrap_question .wrap_bg:last-child{
    margin-bottom: 0;
}
.sub_appraisal .wrap_question .wrap_bg.wrap_bg_last{
    margin-bottom: 0;
}
.sub_appraisal .wrap_question .question{
    margin-bottom: 40px;
}
.sub_appraisal .wrap_question .question:last-child{
    margin-bottom: 0;
}
.sub_appraisal .wrap_question .wrap_bg .title{
    margin: 0 0 20px;
    font-family: NanumGothic;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #000000;
}
.sub_appraisal .wrap_question .wrap_bg .title.title_check{
    padding-left: 22px;
    position: relative;
}
.sub_appraisal .wrap_question .wrap_bg .title.title_check::after{
    content: '';
    width: 16px;
    height: 16px;
    background: url("/images/bullet_check.png") no-repeat;
    position: absolute;
    left: 0;
    top: 1px;
    background-size: contain;
}
.sub_appraisal .wrap_question .wrap_bg .custom-radio{
    margin-bottom: 10px;
}
.sub_appraisal .wrap_question .wrap_bg .custom-radio.custom-control-last{
    margin-bottom: 0;
}
.bullet{
    padding-left: 17px;
    position: relative;
}
.bullet::after{
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #222222;

}
.sub_appraisal .wrap_question .wrap_bg .point{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #ffaa00;
}
.sub_appraisal .wrap_question .wrap_bg input[type="number"]{
    border: 1px solid #bebebe;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    width: 70px;
    text-align: right;
    color: #222222;
    padding: 0 10px;
}
.sub_appraisal .wrap_question .wrap_bg input[type="text"]{
    border: 1px solid #bebebe;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 34px;
    width: 787px;
    line-height: 34px;
    font-size: 16px;
    color: #222222;
    padding: 0 10px;
}
.sub_appraisal .wrap_question .wrap_bg input[type="number"]::-webkit-outer-spin-button,
.sub_appraisal .wrap_question .wrap_bg input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.box .content .p-content {
    margin-top: 60px;
}



.custom-radio .custom-control-input:checked ~ .custom-control-label {
    color: #303030;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    top: 0;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    position: absolute;
    top: 2px;
    left: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffaa00;
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #ffaa00;
}
