.sub-main.sub-main-service{
    margin: 80px auto 140px;
}
.sub-main.sub-main-contract{
    margin: 80px auto 140px;
    min-height: 400px;
}
.btn.btn-line.btn-line-contract{
    width: 300px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.box .content .p-content .depths_1{
    margin-left: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.box .content .p-content .depths_1 .depths_1_title{
    margin-bottom: 20px;
}
.box .content .p-content .depths_1.depths_1_point{
    margin-top: 48px;
    margin-left: 16px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: -0.9px;
    text-align: left;
    color: #000000;
}
.box .content .p-content .depths_1 .depths_2{
    margin-left: 16px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.box .content .p-content .depths_1 .depths_2 .depths_2_title{
    margin-bottom: 10px;
}
.box .content .p-content .depths_1 .depths_2 .depths_3{
    margin-left: 16px;
    margin-bottom: 10px;
}
/*dashboard*/
.main_2{
    padding: 37px 13px 20px;
}
.box_main{
    /*width: 1624px;*/
    width: 100%;
    margin-bottom: 47px;
}
.main_2 .col-left{
    float: left;
    margin-right: 20px;
}
.row-list{
    margin-bottom: 20px;
    height: 130px;
}
.row-list.row-list-purchase{
    background: #f3f3f3;
}
.row-list.row-list-purchase-order{
    background: #efe5f9;
}
.row-list.row-list-info{
    background: #f6f3dc;
}
.row-list .list_col{
    float: left;
    position: relative;
}
.row-list .list_col .list-title{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.54px;
    text-align: left;
    color: #303030;
}
.row-list .list_col .num{
    position: absolute;
    top: 31px;
    line-height: 62px;
    right: 60px;
}
.row-list .list_col .state{
    position: absolute;
    top: 86px;
    line-height: 62px;
    right: 60px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.48px;
    text-align: right;
    color: #303030;
}
.row-list .list_col .num .txt-lg{
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: -2.7px;
    text-align: right;
}
.row-list .list_col .num .txt-lg.txt_blue{
    color: #0a4675;
}
.row-list .list_col .num .txt-lg.txt_red{
    color: #d6212e;
}
.row-list .list_col .num .txt-lg.txt_blue{
    color: #0a4675;
}
.row-list .list_col .num .txt-sm{
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -1.6px;
    color: #303030;
}
.row-list .list_col.list_col_2::before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 1px;
    height: 90px;
    background-color: #ffffff;
}
.row-list .list_col.list_col_2::after{
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
    height: 90px;
    background-color: #ffffff;
}
.row-list .list_col.list_col_1,
.row-list .list_col.list_col_2,
.row-list .list_col.list_col_3{
    /*width: 540px;*/
    width: 33%;
    padding: 25px 0 0 60px;
}

.row-list .list_col.list_col_quarter{
    width: 239px;
    padding: 25px 0 0 20px;
}
.row-list .list_col.list_col_quarter .num{
    right: 20px;
    top: 58px;
}
.row-list .list_col.list_col_quarter::after{
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
    height: 90px;
    background-color: #ffffff;
}

.row-list .list_col.list_col_quarter:last-child::after{
    content: none;
}
.main_2 .col-right{
    width: 254px;
    float: left;
}
.main_2 .title{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.72px;
    text-align: left;
    position: relative;
    color: #222222;
    margin: 0 0 14px 34px;
}
.main_2 .title.title_list::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_work_list.png");
}
.main_2 .title.title_link::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_link.png");
}
.main_2 .title.title_notice::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_notice.png");
}
.main_2 .title.title_faq::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_faq.png");
}
.main_2 .title.title_qna::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_qa.png");
}
.main_2 .title.title_call::after{
    position: absolute;
    content: '';
    left: -34px;
    top: 0;
    width: 28px;
    height: 28px;
    background: url("../../img/common/ico_call.png");
}
.main_2 .wrap_link{
    padding: 20px;
    border: 1px  solid #c4c4c4;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    height: 430px;
}
.main_2 .wrap_link.wrap_link_sm{
    height: 280px;
}
.main_2 .wrap_link ul li{
    margin-bottom: 16px;
    position: relative;
}
.main_2 .wrap_link ul li a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.main_2 .wrap_link ul li a:hover{
    color: #0064b3;
}

.main_2 .wrap_link ul li i{
    width: 18px;
    height: 18px;
    background: url(../../img/common/ico_link_arrow.png);
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
}
.main_2 .wrap_link ul li a:hover + i{
    display: block;
}
.main_2 .col-table.col-table-sm-1{
    width: 391px;
}
.main_2 .col-table.col-table-sm-2{
    width: 391px;
}
.main_2 .col-table.col-table-sm-3{
    width: 528px;
}
.main_2 .col-table:last-child{
    margin-right: 0;
}
.main_2 .wrap_table{
    border: solid #ccc 1px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    height: 350px;
}
.main_2 .table-main{
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}
.main_2 .table-main thead tr th{
    background: #f3f3f3;
    text-align: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: center;
    padding: 15px 0 16px;
    border-bottom: 1px solid #c4c4c4;
    color: #000000;
}
.main_2 .table-main thead tr th:first-child{
    -webkit-border-radius: 18px 0 0 0;
    -moz-border-radius: 18px 0 0 0;
    border-radius: 18px 0 0 0;
}
.main_2 .table-main thead tr th:last-child{
    -webkit-border-radius: 0 18px 0 0;
    -moz-border-radius: 0 18px 0 0;
    border-radius: 0 18px 0 0;
}

.main_2 .table-main tbody tr td{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.7px;
    color: #909090;
    text-align: center;
    padding: 14px 0 16px;
    border-bottom: 1px solid #cfcfcf;
}
.main_2 .table-main tbody tr td:first-child,
.main_2 .table-main tbody tr td:last-child
{
    border-bottom: none;
}
.main_2 .table-main tbody tr td.pl-20{
    padding: 14px 20px 16px;;
}
.main_2 .table-main tbody tr td.bold{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.main_2 .table-main tbody tr td.name{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: center;
    color: #303030;
}
.main_2 .table-main tbody tr td span{
    vertical-align: middle;
}
.main_2 .table-main tbody tr td .txt-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
}

.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-1{
    width: 250px;
}
.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-2{
    width: 348px;
}
.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-3{
    width: 250px;
}
.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-4{
    width: 380px;
}
.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-5{
    width: 502px;
}
.main_2 .table-main tbody tr td .txt-ellipsis.txt-ellipsis-6{
    width: 230px;
}
.main_2 .table-main tbody tr td span.txt-point{
    color: #0064b3;
    vertical-align: middle;
}
.main_2 .table-main tbody tr td .i-new{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    margin-right: 6px;
    height: 19px;
    background: url("../../img/common/bullet_new.png");
}
.main_2 .wrap_call{
    padding: 20px;
    border: 1px  solid #c4c4c4;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    height: 450px;
}
.main_2 .wrap_call .call_mb{
    margin-bottom: 24px;
}
.main_2 .wrap_call .call_mb .call_title{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #0064b3;
    margin-left: 12px;
    margin-bottom: 7px;
}
.main_2 .wrap_call .call_mb .call_title::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #0064b3;
    left: -12px;
    top: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main_2 .wrap_call .call_mb .call_content{
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.75px;
    text-align: left;
    color: #303030;
    margin-left: 12px;
}
.main_2 .title.title_dashboard{
    font-family: NanumGothic;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.72px;
    text-align: left;
    color: #222222;
    margin: 0 0 35px 0;
}