<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.STO.STO0201_Mapper">

    <insert id="sto0201_InsertTRANFROM" parameterType="hashmap">
        INSERT INTO STOITRAN (
              GATE_CD
            , AGENT_CODE
            , TRAN_NO
            , TRAN_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , TRAN_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , TRAN_QTY
            , CUR
            , TRAN_UNIT_PRICE
            , TRAN_AMT
            , REMARK
        ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{TRAN_NO}
            , '1' -- TRAN_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , '905' -- MOVEMENT_TYPE
            , #{TRAN_DATE}
            , #{STR_CTRL_CODE_H}
            , #{WAREHOUSE_CODE_H}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{TRAN_QTY}
            , #{CUR}
            , #{TRAN_UNIT_PRICE}
            , #{TRAN_AMT}
            , #{REMARK}
        )
    </insert>

    <insert id="sto0201_InsertTRANTO" parameterType="hashmap">
        INSERT INTO STOITRAN (
              GATE_CD
            , AGENT_CODE
            , TRAN_NO
            , TRAN_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , TRAN_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , TRAN_QTY
            , CUR
            , TRAN_UNIT_PRICE
            , TRAN_AMT
            , REMARK
        ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{TRAN_NO}
            , '2' -- TRAN_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , '105' -- MOVEMENT_TYPE
            , #{TRAN_DATE}
            , #{STR_CTRL_CODE}
            , #{WAREHOUSE_CODE}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{TRAN_QTY}
            , #{CUR}
            , #{TRAN_UNIT_PRICE}
            , #{TRAN_AMT}
            , #{REMARK}
            )
    </insert>

    <insert id="sto0201_InsertMMRSFROM" parameterType="hashmap">
        INSERT INTO STOIMMRS (
              GATE_CD
            , AGENT_CODE
            , DOC_NO -- TRAN_NO
            , DOC_SEQ -- TRAN_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , RD_DATE -- TRAN_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , ITEM_QTY -- TRAN_QTY
            , CUR
            , UNIT_PRICE -- TRAN_UNIT_PRICE
            , ITEM_AMT -- TRAN_AMT
        ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{TRAN_NO}
            , '1' -- TRAN_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , '905'
            , #{TRAN_DATE}
            , #{STR_CTRL_CODE_H}
            , #{WAREHOUSE_CODE_H}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{TRAN_QTY}
            , #{CUR}
            , #{TRAN_UNIT_PRICE}
            , #{TRAN_AMT}
        )
    </insert>

    <insert id="sto0201_insertMMRSTO" parameterType="hashmap">
        INSERT INTO STOIMMRS (
              GATE_CD
            , AGENT_CODE
            , DOC_NO -- TRAN_NO
            , DOC_SEQ -- TRAN_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , RD_DATE -- TRAN_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , ITEM_QTY -- TRAN_QTY
            , CUR
            , UNIT_PRICE -- TRAN_UNIT_PRICE
            , ITEM_AMT -- TRAN_AMT
        ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{TRAN_NO}
            , '2' -- TRAN_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , '105'
            , #{TRAN_DATE}
            , #{STR_CTRL_CODE}
            , #{WAREHOUSE_CODE}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{TRAN_QTY}
            , #{CUR}
            , #{TRAN_UNIT_PRICE}
            , #{TRAN_AMT}
        )
    </insert>

    <insert id="sto0202_InsertGIAD" parameterType="hashmap" >
        INSERT INTO STOIGIAD (
              GATE_CD
            , AGENT_CODE
            , IA_NO
            , IA_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , IA_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , IA_QTY
            , CUR
            , IA_PRICE
            , IA_AMT
            , REMARK
            ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{IA_NO}
            , '1' -- IA_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , #{MOVEMENT_TYPE}
            , #{IA_DATE}
            , #{STR_CTRL_CODE}
            , #{WAREHOUSE_CODE}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{IA_QTY}
            , #{CUR}
            , #{IA_PRICE}
            , #{IA_AMT}
            , #{REMARK}
        )
    </insert>

    <insert id="sto0202_insertMMRS" parameterType="hashmap">
        INSERT INTO STOIMMRS (
              GATE_CD
            , AGENT_CODE
            , DOC_NO -- IA_NO
            , DOC_SEQ -- IA_SEQ
            , REG_DATE
            , REG_USER_ID
            , MOD_DATE
            , MOD_USER_ID
            , DEL_FLAG
            , DEAL_CD
            , MOVEMENT_TYPE
            , RD_DATE -- IA_DATE
            , STR_CTRL_CODE
            , WAREHOUSE_CODE
            , ITEM_CD
            , ITEM_DESC
            , ITEM_SPEC
            , UNIT_CD
            , ITEM_QTY -- IA_QTY
            , CUR
            , UNIT_PRICE -- IA_PRICE
            , ITEM_AMT -- IA_AMT
        ) VALUES (
              #{ses.gateCd}
            , #{VENDOR_CD} -- AGENT_CODE
            , #{IA_NO}
            , '1' -- IA_SEQ
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{DEAL_CD}
            , #{MOVEMENT_TYPE}
            , #{IA_DATE}
            , #{STR_CTRL_CODE}
            , #{WAREHOUSE_CODE}
            , #{ITEM_CD}
            , #{ITEM_DESC}
            , #{ITEM_SPEC}
            , #{UNIT_CD}
            , #{IA_QTY}
            , #{CUR}
            , #{IA_PRICE}
            , #{IA_AMT}
        )
    </insert>

    <select id="sto02p01_doSearch" parameterType="hashmap" resultType="hashmap">
        SELECT
              OGWH.STR_CTRL_CODE
            , OGWH.WAREHOUSE_TYPE
            , OGWH.WAREHOUSE_CODE
            , OGWH.WH_NM
        FROM STOCOGWH OGWH
        WHERE
            OGWH.GATE_CD = #{ses.gateCd}
        AND OGWH.USE_FLAG = '1'
        <if test="STR_CTRL_CODE != null and STR_CTRL_CODE != ''">
            AND OGWH.STR_CTRL_CODE = #{STR_CTRL_CODE}
        </if>
        <if test="WAREHOUSE_TYPE != null and WAREHOUSE_TYPE != ''">
            AND OGWH.WAREHOUSE_TYPE =#{WAREHOUSE_TYPE}
        </if>
        ORDER BY OGWH.STR_CTRL_CODE
    </select>
</mapper>