<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.srm.screening.vendorRegScreeningMgt.SRM_Mapper">

    <select id="doSearchHeader" parameterType="hashMap" resultType="hashMap">

      SELECT DISTINCT
       		<include refid="com.sql.dbo"/>GETCOMCODE(#{ses.gateCd},'M111',EVIM.EV_ITEM_TYPE_CD,0,#{ses.langCd}) AS EV_ITEM_TYPE_CD_NM
	  		, EVIM.EV_ITEM_TYPE_CD
	  FROM STOCSGMT SGMT JOIN STOCEVTM EVTM
	  	ON (SGMT.GATE_CD = EVTM.GATE_CD
	       AND SGMT.SCRE_EV_TPL_NUM = EVTM.EV_TPL_NUM
	       AND EVTM.DEL_FLAG = '0') 
	  	JOIN STOCEVTD EVTD 
	  		ON (EVTM.GATE_CD = EVTD.GATE_CD
	       		AND EVTM.EV_TPL_NUM = EVTD.EV_TPL_NUM
	       		AND EVTD.DEL_FLAG = '0')
	  	JOIN STOCEVIM EVIM  
	  		ON (EVTD.GATE_CD = EVIM.GATE_CD
	        	AND EVTD.EV_ITEM_NUM = EVIM.EV_ITEM_NUM
	        	AND EVIM.DEL_FLAG = '0')
	  	LEFT JOIN STOCEVID EVID
	  		ON (EVIM.GATE_CD = EVID.GATE_CD
	         AND EVIM.EV_ITEM_NUM = EVID.EV_ITEM_NUM
	         AND EVID.DEL_FLAG = '0')    
		WHERE EVIM.GATE_CD = #{ses.gateCd}
		AND  EVIM.DEL_FLAG = '0'
		AND  EVIM.EV_ITEM_DIV_CD ='S' --'SCRE'
		AND  SGMT.SG_NUM = #{SG_NUM}
		ORDER BY EVIM.EV_ITEM_TYPE_CD
    
    </select>
    <select id="doSearchContent" parameterType="hashMap" resultType="hashMap">

       SELECT DISTINCT      
	         EVIM.EV_ITEM_TYPE_CD
		   	,EVIM.EV_ITEM_SUBJECT 
		   	,EVIM.EV_ITEM_CONTENTS 
		    ,EVID.EV_ITEM_NUM
	    FROM STOCSGMT SGMT JOIN STOCEVTM EVTM
		    	ON (SGMT.GATE_CD = EVTM.GATE_CD
		         AND SGMT.SCRE_EV_TPL_NUM = EVTM.EV_TPL_NUM
		         AND EVTM.DEL_FLAG = '0') 
	    	JOIN STOCEVTD EVTD 
	    		ON (EVTM.GATE_CD = EVTD.GATE_CD
			         AND EVTM.EV_TPL_NUM = EVTD.EV_TPL_NUM
			         AND EVTD.DEL_FLAG = '0')
	   		JOIN STOCEVIM EVIM  
			    ON (EVTD.GATE_CD = EVIM.GATE_CD
			          AND EVTD.EV_ITEM_NUM = EVIM.EV_ITEM_NUM
			          AND EVIM.DEL_FLAG = '0')
		    LEFT JOIN STOCEVID EVID
		   		ON (EVIM.GATE_CD = EVID.GATE_CD
		           AND EVIM.EV_ITEM_NUM = EVID.EV_ITEM_NUM
		           AND EVID.DEL_FLAG = '0')    
	    WHERE EVIM.GATE_CD = #{ses.gateCd}
	    AND  EVIM.DEL_FLAG = '0'
	    AND  EVIM.EV_ITEM_DIV_CD ='S'-- 'SCRE'
	    AND  SGMT.SG_NUM = #{SG_NUM}
	    ORDER BY EVIM.EV_ITEM_TYPE_CD,EVID.EV_ITEM_NUM
    

    </select>
    <select id="doSearchOption" parameterType="hashMap" resultType="hashMap">

       SELECT EVIM.EV_ITEM_TYPE_CD
		    ,  EVID.EV_ID_CONTENTS
		    ,  EVID.EV_ID_ORDER
		    ,  EVID.EV_ITEM_NUM
		    ,  EVID.EV_ID_SQ
		    ,  EVTM.EV_TPL_NUM
		    ,  EVID.PASS_FAIL_CD
        	,  EVID.EV_ID_SCORE
	    FROM 
	    STOCSGMT SGMT JOIN STOCEVTM EVTM
	    	ON (SGMT.GATE_CD = EVTM.GATE_CD
	         AND SGMT.SCRE_EV_TPL_NUM = EVTM.EV_TPL_NUM
	         AND EVTM.DEL_FLAG = '0')
	    JOIN STOCEVTD EVTD 
	    	ON (EVTM.GATE_CD = EVTD.GATE_CD
	         AND EVTM.EV_TPL_NUM = EVTD.EV_TPL_NUM
	         AND EVTD.DEL_FLAG = '0')
	    JOIN STOCEVIM EVIM  
	    	ON (EVTD.GATE_CD = EVIM.GATE_CD
	          AND EVTD.EV_ITEM_NUM = EVIM.EV_ITEM_NUM
	          AND EVIM.DEL_FLAG = '0')
	    LEFT JOIN STOCEVID EVID
	   		ON (EVIM.GATE_CD = EVID.GATE_CD
	           AND EVIM.EV_ITEM_NUM = EVID.EV_ITEM_NUM
	           AND EVID.DEL_FLAG = '0')    
	    WHERE EVIM.GATE_CD = #{ses.gateCd}
	    AND  EVIM.DEL_FLAG = '0'
	    AND  EVIM.EV_ITEM_DIV_CD = 'S' --'SCRE'
	    AND  SGMT.SG_NUM = #{SG_NUM}
	 	ORDER BY EVIM.EV_ITEM_TYPE_CD,EVID.EV_ITEM_NUM, EVID.EV_ID_ORDER
    

    </select>
    
    <select id="doGetSgmtInfo" resultType="hashMap" parameterType="hashMap" >
    	   SELECT   SITE_EV_TPL_NUM
				    , SCRE_EV_TPL_NUM
				    , CTRL_USER_ID
			FROM STOCSGMT 
    		WHERE SG_NUM = #{SG_NUM}
    		AND  DEL_FLAG = '0'
    		AND  GATE_CD = #{ses.gateCd}
    </select>
	<insert id="insertEVVM" parameterType="hashMap">
	    INSERT INTO STOCEVVM(
	    	 GATE_CD
			,EV_NUM
			,SG_NUM
			,REG_DATE
			,REG_USER_ID
			,MOD_DATE
			,MOD_USER_ID
			,DEL_FLAG
			,PROGRESS_CD
			,EV_NM
			,EV_CTRL_USER_ID
			,SCRE_EV_TPL_NUM
			,SITE_EV_TPL_NUM
			,RESULT_ENTER_CD
			,VENDOR_CD
			,SIGN_STATUS
			)
			VALUES (
				#{ses.gateCd}
				,#{EV_NUM}
				,#{SG_NUM}
				,<include refid="com.sql.sysdate"/>
	            ,#{ses.userId}
	            ,<include refid="com.sql.sysdate"/>
	            ,#{ses.userId}
				,'0'
				,'100'
				,#{EV_NM}
				,#{EV_CTRL_USER_ID}
				,#{SCRE_EV_TPL_NUM}
				,#{SITE_EV_TPL_NUM}
				,'PERUSER'
				,#{VENDOR_CD}
				,'T'
			)
		
    </insert>    
        <insert id="insertEVVU" parameterType="hashMap">
        	INSERT INTO STOCEVVU (
        		GATE_CD
				,EV_NUM
				,SG_NUM
				,REG_DATE
				,REG_USER_ID
				,MOD_DATE
				,MOD_USER_ID
				,DEL_FLAG
				,PROGRESS_CD
				,REP_FLAG
				,EV_USER_ID
				)
        	  VALUES(
        	  	#{ses.gateCd}
        	  	,#{EV_NUM}
				,#{SG_NUM}
				,<include refid="com.sql.sysdate"/>
				,#{ses.userId}
	            ,<include refid="com.sql.sysdate"/>
	            ,#{ses.userId}
				,'0'
				,'100'
				,#{REP_FLAG}
				,#{EV_USER_ID}
        	  )
        	
        </insert>
        
        <select id="getUserIdSGUS" parameterType="hashMap" resultType="hashMap">
        	SELECT USER_ID AS EV_USER_ID, REP_FLAG
        	FROM STOCSGUS
        	WHERE SG_NUM = #{SG_NUM}
        	AND  EVAL_FLAG = '1'
        	AND  DEL_FLAG = '0'
        	AND  GATE_CD = #{ses.gateCd}
        </select>
        
        <insert id="insertEVSC" parameterType="hashMap">
        	INSERT INTO STOCEVSC
        	(
        		GATE_CD
				,EV_NUM
				,SG_NUM
				,REG_DATE
				,REG_USER_ID
				,MOD_DATE
				,MOD_USER_ID
				,DEL_FLAG
				,EV_TPL_NUM
				,EV_ITEM_NUM
				,EV_ID_SQ
				,PASS_FAIL_CD
        	)
        	VALUES(
        		#{ses.gateCd}
        	  	,#{EV_NUM}
				,#{SG_NUM}
				,<include refid="com.sql.sysdate"/>
				,#{ses.userId}
	            ,<include refid="com.sql.sysdate"/>
	            ,#{ses.userId}
				,'0'
				,#{SCRE_EV_TPL_NUM}
				,#{EV_ITEM_NUM}
				,#{EV_ID_SQ}
				,#{PASS_FAIL_CD}
        	)
        </insert>
</mapper>