<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.statistic.DH1590_Mapper">
	<select id="DH1590_doSearch" parameterType="hashmap" resultType="hashmap">
		
		SELECT	 HD.PLANT_CD
				,<include refid="com.sql.dbo"/>GETPLANTNAME(HD.GATE_CD, HD.BUYER_CD, HD.PLANT_CD, #{ses.langCd}) AS PLANT_NM
				,CASE  WHEN HD.PURCHASE_TYPE = 'AS' OR HD.PURCHASE_TYPE = 'NEW' OR HD.PURCHASE_TYPE = 'DC' OR HD.PURCHASE_TYPE = 'DMRO' THEN 'NMAT'
				       WHEN HD.PURCHASE_TYPE = 'OMRO' 	THEN 'ETC'
					   WHEN HD.SL_TYPE != 'GS' AND (HD.PURCHASE_TYPE = '' OR HD.PURCHASE_TYPE IS NULL) THEN 'JAC'
					   WHEN HD.SL_TYPE = 'GS' THEN 'GLO'
				  	   ELSE HD.PURCHASE_TYPE
				 END   AS PURCHASE_TYPE
				,<include refid="com.sql.dbo"/>GETCODENAME( #{ses.gateCd},'M015',GL.SHIPPER_TYPE,#{ses.langCd}) AS SHIPPER_TYPE
				,HD.SUP_AMT
				,HD.VENDOR_CD 
				,<include refid="com.sql.dbo"/>getVendorName(HD.GATE_CD, HD.VENDOR_CD, #{ses.langCd})  AS VENDOR_NM
				,HD.PAY_TERMS 
				,<include refid="com.sql.dbo"/>GETCODENAME( #{ses.gateCd},'M018',HD.PAY_TERMS,#{ses.langCd}) AS PAY_TERMS_DETAIL
				,HD.DEAL_NUM
				<!-- ,HD.SL_NUM -->
				,(CASE WHEN HD.CON_SL_NUM IS NULL OR HD.CON_SL_NUM = '' THEN <include refid="com.sql.subStr"/>(HD.SL_NUM, 1, 10)
					   ELSE <include refid="com.sql.subStr"/>(HD.SL_NUM, 1, 10) <include refid="com.sql.stringMerge"/> ' / ' <include refid="com.sql.stringMerge"/> HD.CON_SL_NUM
				   END)   AS SL_NUM
				
		  FROM	STOCDLHD HD
	INNER JOIN	STOCVNGL GL ON GL.GATE_CD = HD.GATE_CD AND GL.VENDOR_CD = HD.VENDOR_CD
		 WHERE	HD.GATE_CD = #{ses.gateCd}
		   AND	HD.DEL_FLAG = '0'
		   AND	DEAL_DATE  BETWEEN 	<include refid="com.sql.toDate"/>#{DEAL_DATE_FROM}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{DEAL_DATE_TO}, 'YYYYMMDD HH24:MI:SS')
		   AND	SL_NUM IS NOT NULL
		   AND	PURCHASE_TYPE != 'NORMAL'
		<if test="PLANT_NM != '' and PLANT_NM != null">       
           AND HD.PLANT_CD IN (${PLANT_NM})
        </if> 
		<if test="PURCHASE_TYPE != '' and PURCHASE_TYPE != null">
			<if test="PURCHASE_TYPE == 'NMAT'">
				AND HD.PURCHASE_TYPE IN ('AS', 'NEW', 'DC', 'DMRO')
			</if>
			<if test="PURCHASE_TYPE == 'ETC'">
				AND HD.PURCHASE_TYPE = 'OMRO'
			</if>
			<if test="PURCHASE_TYPE != 'ETC' and PURCHASE_TYPE != 'NMAT' and PURCHASE_TYPE != 'JAC' and PURCHASE_TYPE != 'GLO'">
				AND HD.PURCHASE_TYPE = #{PURCHASE_TYPE}
			</if>
			<if test="PURCHASE_TYPE == 'JAC'">
				AND HD.PURCHASE_TYPE = ''
				AND HD.SL_TYPE != 'GS'
			</if>
			<if test="PURCHASE_TYPE == 'GLO'">
				AND HD.SL_TYPE = 'GS'
			</if>
		</if>
		<if test="PAY_TERMS != '' and PAY_TERMS != null">       
           AND HD.PAY_TERMS IN (${PAY_TERMS})
        </if> 
		<if test="SHIPPER_TYPE != '' and SHIPPER_TYPE != null">
		   AND 	GL.SHIPPER_TYPE = #{SHIPPER_TYPE}
		</if>
		<if test="VENDOR_NM != '' and VENDOR_NM != null">
		   AND 	<include refid="com.sql.dbo"/>getVendorName(HD.GATE_CD, HD.VENDOR_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> #{VENDOR_NM} <include refid="com.sql.likeR"/>
		</if>
		<if test="DEAL_NUM != '' and DEAL_NUM != null">
		   AND HD.DEAL_NUM <include refid="com.sql.likeL"/> #{DEAL_NUM} <include refid="com.sql.likeR"/>
		</if>
		<if test="SL_NUM != '' and SL_NUM != null">
		   AND HD.SL_NUM <include refid="com.sql.likeL"/> #{SL_NUM} <include refid="com.sql.likeR"/>
		</if>
	  ORDER BY	HD.DEAL_NUM DESC
	</select>
	
	
	<select id="payTermsOptions" parameterType="hashmap" resultType="hashmap">
		SELECT	DISTINCT	 PAY_TERMS AS value
							,<include refid="com.sql.dbo"/>GETCODENAME( #{ses.gateCd},'M018',PAY_TERMS,#{ses.langCd}) AS text
		  FROM	STOCDLHD
		 WHERE	GATE_CD		= #{ses.gateCd}
		   AND	DEL_FLAG	= '0'
		   AND	PAY_TERMS  != ''
		   AND	PAY_TERMS IS NOT NULL
	</select>
	<!-- <select id="purchaseTypeOptions" parameterType="hashmap" resultType="hashmap">
		SELECT  'SMT'   AS value
		       ,#{SMT} AS text
		 UNION
		SELECT  'ISP'   AS value
		       ,#{ISP}  AS text
		 UNION
		SELECT  'OMRO'   AS value
		       ,'슬로박/체코외'  AS text
		 UNION
		SELECT  'COMMON'   AS value
		       ,'일반자재'  AS text
	</select> -->
</mapper>
