<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.statistic.DH1570_Mapper">

	<select id="DH1570_doSearch" parameterType="hashmap" resultType="hashmap">
					SELECT GATE_CD
					      ,PLAN_YEAR
					      ,BUYER_CD
					      ,PLANT_CD
					      ,ITEM_CD
					      ,ITEM_NM
					      ,ITEM_SPEC
					      ,UNIT
					      ,CHANGE_PERIOD
					      ,YEAR_CHANGE_QT
					      ,PLAN01_QT
					      ,RESULT01_QT
					      ,PLAN02_QT
					      ,RESULT02_QT
					      ,PLAN03_QT
					      ,RESULT03_QT
					      ,PLAN04_QT
					      ,RESULT04_QT
					      ,PLAN05_QT
					      ,RESULT05_QT
					      ,PLAN06_QT
					      ,RESULT06_QT
					      ,PLAN07_QT
					      ,RESULT07_QT
					      ,PLAN08_QT
					      ,RESULT08_QT
					      ,PLAN09_QT
					      ,RESULT09_QT
					      ,PLAN10_QT
					      ,RESULT10_QT
					      ,PLAN11_QT
					      ,RESULT11_QT
					      ,PLAN12_QT
					      ,RESULT12_QT
					      ,(PLAN01_QT+PLAN02_QT+PLAN03_QT+PLAN04_QT+PLAN05_QT+PLAN06_QT+PLAN07_QT+PLAN08_QT+PLAN09_QT+PLAN10_QT+PLAN11_QT+PLAN12_QT) AS PLAN_QT_SUM
					      ,(RESULT01_QT+RESULT02_QT+RESULT03_QT+RESULT04_QT+RESULT05_QT+RESULT06_QT+RESULT07_QT+RESULT08_QT+RESULT09_QT+RESULT10_QT+RESULT11_QT+RESULT12_QT) AS RESULT_QT_SUM
					      ,REG_USER_NM
					      ,REG_DATE
					FROM
					(
					  SELECT	GPCS.GATE_CD
										 ,GPCS.BUYER_CD
										 ,GPCS.PLAN_YEAR
										 ,GPCS.PLANT_CD
										 ,GPCS.ITEM_CD
										 ,MTGL.ITEM_DESC AS ITEM_NM
										 ,MTGL.ITEM_SPEC
										 ,MTGL.UNIT_CD AS UNIT
										 ,GPCS.CHANGE_PERIOD
										 ,GPCS.YEAR_CHANGE_QT
										 ,GPCS.PLAN01_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0) 
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_01_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_01_E}, 'YYYYMMDD HH24:MI:SS') 
					            ) AS RESULT01_QT
										 ,GPCS.PLAN02_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_02_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_02_E}, 'YYYYMMDD HH24:MI:SS') 
					            ) AS RESULT02_QT
										 ,GPCS.PLAN03_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_03_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_03_E}, 'YYYYMMDD HH24:MI:SS') 
					            ) AS RESULT03_QT
										 ,GPCS.PLAN04_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_04_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_04_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT04_QT
										 ,GPCS.PLAN05_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_05_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_05_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT05_QT
										 ,GPCS.PLAN06_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_06_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_06_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT06_QT
										 ,GPCS.PLAN07_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_07_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_07_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT07_QT
										 ,GPCS.PLAN08_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_08_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_08_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT08_QT
										 ,GPCS.PLAN09_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_09_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_09_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT09_QT
										 ,GPCS.PLAN10_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_10_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_10_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT10_QT
										 ,GPCS.PLAN11_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_11_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_11_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT11_QT
										 ,GPCS.PLAN12_QT
										 ,( SELECT <include refid="com.sql.nvl"/>(SUM(GRDT.GR_QT),0)
					                FROM STOCGRDT GRDT
					               WHERE 1 = 1 
					                 AND GRDT.DEL_FLAG  = '0' 
					                 AND GRDT.GATE_CD   = GPCS.GATE_CD 
					                 AND GRDT.ITEM_CD   = GPCS.ITEM_CD
					                 AND GRDT.PLANT_CD  = GPCS.PLANT_CD 
					                 AND GRDT.GR_DATE BETWEEN <include refid="com.sql.toDate"/>#{QT_12_S}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{QT_12_E}, 'YYYYMMDD HH24:MI:SS')  
					            ) AS RESULT12_QT
					 				 ,<include refid="com.sql.dbo"/>GETUSERNAME(#{ses.gateCd}, GPCS.REG_USER_ID, #{ses.langCd}) AS REG_USER_NM
									 ,GPCS.REG_USER_ID
									 ,<include refid="com.sql.dbo"/>GETGMTDATE(GPCS.REG_DATE, 'GMT+09:00', 'GMT+09:00', <include refid="com.sql.dateFormat"/>) AS REG_DATE
							  	FROM STOCGPCS GPCS
								INNER JOIN STOCMTGL MTGL
								   ON GPCS.GATE_CD    = MTGL.GATE_CD
								  AND GPCS.ITEM_CD    = MTGL.ITEM_CD
						    WHERE GPCS.GATE_CD 			= #{ses.gateCd}
				   			  AND GPCS.PLANT_CD				= #{PLANT_CD}
								  AND GPCS.PLAN_YEAR		= #{PLAN_YEAR}
								  AND GPCS.DEL_FLAG   		= '0'
								  AND MTGL.DEL_FLAG 		= '0'
							<if test="REG_USER_ID != '' and REG_USER_ID != null">
								AND <include refid="com.sql.dbo"/>GETUSERNAME(GPCS.GATE_CD, GPCS.REG_USER_ID, #{ses.langCd}) <include refid="com.sql.likeL"/> #{REG_USER_ID} <include refid="com.sql.likeR"/>
							</if>		             
							<if test="ITEM_CD != '' and ITEM_CD != null">
								AND GPCS.ITEM_CD <include refid="com.sql.likeL"/> #{ITEM_CD} <include refid="com.sql.likeR"/>
							</if>		             
							<if test="ITEM_NM != '' and ITEM_NM != null">
								AND MTGL.ITEM_DESC <include refid="com.sql.likeL"/> #{ITEM_NM} <include refid="com.sql.likeR"/>
							</if>		             
							<if test="ITEM_SPEC != '' and ITEM_SPEC != null">
								AND MTGL.ITEM_SPEC <include refid="com.sql.likeL"/> #{ITEM_SPEC} <include refid="com.sql.likeR"/>
							</if>		             
				  ) MAIN
  ORDER BY MAIN.ITEM_CD	
	</select>
	
<!-- 	
	<select id="DH1570_doSearch" parameterType="hashmap" resultType="hashmap">
         SELECT	GPCS.GATE_CD
		                 ,GPCS.BUYER_CD
		                 ,GPCS.PLAN_YEAR
		                 ,GPCS.PLANT_CD
		                 ,GPCS.ITEM_CD
		                 ,MTGL.ITEM_DESC AS ITEM_NM
		                 ,MTGL.ITEM_SPEC
		                 ,GPCS.CHANGE_PERIOD
		                 ,GPCS.YEAR_CHANGE_QT
		                 ,GPCS.PLAN01_QT
		                 ,GRDT.GR01_QT AS RESULT01_QT
		                 ,GPCS.PLAN02_QT
		                 ,GRDT.GR02_QT AS RESULT02_QT
		                 ,GPCS.PLAN03_QT
		                 ,GRDT.GR03_QT AS RESULT03_QT
		                 ,GPCS.PLAN04_QT
		                 ,GRDT.GR04_QT AS RESULT04_QT
		                 ,GPCS.PLAN05_QT
		                 ,GRDT.GR05_QT AS RESULT05_QT
		                 ,GPCS.PLAN06_QT
		                 ,GRDT.GR06_QT AS RESULT06_QT
		                 ,GPCS.PLAN07_QT
		                 ,GRDT.GR08_QT AS RESULT08_QT
		                 ,GPCS.PLAN08_QT
		                 ,GRDT.GR08_QT AS RESULT08_QT
		                 ,GPCS.PLAN09_QT
		                 ,GRDT.GR09_QT AS RESULT09_QT
		                 ,GPCS.PLAN10_QT
		                 ,GRDT.GR10_QT AS RESULT10_QT
		                 ,GPCS.PLAN11_QT
		                 ,GRDT.GR11_QT AS RESULT11_QT
		                 ,GPCS.PLAN12_QT
		                 ,GRDT.GR12_QT AS RESULT12_QT
		                 ,(GPCS.PLAN01_QT+GPCS.PLAN02_QT+GPCS.PLAN03_QT+GPCS.PLAN04_QT+GPCS.PLAN05_QT+GPCS.PLAN06_QT+
		                   GPCS.PLAN07_QT+GPCS.PLAN08_QT+GPCS.PLAN09_QT+GPCS.PLAN10_QT+GPCS.PLAN11_QT+GPCS.PLAN12_QT ) AS PLAN_QT_SUM
		                 ,(GRDT.GR01_QT+GRDT.GR02_QT+GRDT.GR03_QT+GRDT.GR04_QT+GRDT.GR05_QT+GRDT.GR06_QT+
		                   GRDT.GR07_QT+GRDT.GR08_QT+GRDT.GR09_QT+GRDT.GR10_QT+GRDT.GR11_QT+GRDT.GR12_QT ) AS RESULT_QT_SUM
 				        ,<include refid="com.sql.dbo"/>GETUSERNAME(#{ses.gateCd},   GPCS.REG_USER_ID, #{ses.langCd}) AS REG_USER_NM
		                 ,GPCS.REG_USER_ID
		                 ,<include refid="com.sql.dbo"/>GETGMTDATE(GPCS.REG_DATE, #{ses.userGmt}, #{ses.systemGmt}, <include refid="com.sql.dateFormat"/>) AS REG_DATE
		          	FROM STOCGPCS GPCS
		            INNER JOIN STOCMTGL MTGL
		            ON GPCS.GATE_CD = MTGL.GATE_CD
		            AND GPCS.ITEM_CD = MTGL.ITEM_CD
		            LEFT OUTER JOIN (
		                                SELECT BASE.GR_YEAR
		                                     , BASE.BUYER_CD
		                                     , BASE.PLANT_CD
		                                     , BASE.ITEM_CD
		                                     , BASE.GR_DATE
		                                     , SUM(BASE.GR01_QT) AS GR01_QT
		                                     , SUM(BASE.GR02_QT) AS GR02_QT
		                                     , SUM(BASE.GR03_QT) AS GR03_QT
		                                     , SUM(BASE.GR04_QT) AS GR04_QT
		                                     , SUM(BASE.GR05_QT) AS GR05_QT
		                                     , SUM(BASE.GR06_QT) AS GR06_QT
		                                     , SUM(BASE.GR07_QT) AS GR07_QT
		                                     , SUM(BASE.GR08_QT) AS GR08_QT
		                                     , SUM(BASE.GR09_QT) AS GR09_QT
		                                     , SUM(BASE.GR10_QT) AS GR10_QT
		                                     , SUM(BASE.GR11_QT) AS GR11_QT     
		                                     , SUM(BASE.GR12_QT) AS GR12_QT 
		                                FROM   
		                                (
		                                SELECT GR_YEAR
		                                     , BUYER_CD
		                                     , PLANT_CD
		                                     , ITEM_CD 
		                                     , <include refid="com.sql.subStr"/>(<include refid="com.sql.dbo"/>GETGMTDATE(GR_DATE, #{ses.userGmt}, #{ses.systemGmt}, <include refid="com.sql.dateFormat"/>),5,2) AS GR_DATE
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '01' THEN GR_QT ELSE 0 END AS GR01_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '02' THEN GR_QT ELSE 0 END AS GR02_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '03' THEN GR_QT ELSE 0 END AS GR03_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '04' THEN GR_QT ELSE 0 END AS GR04_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '05' THEN GR_QT ELSE 0 END AS GR05_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '06' THEN GR_QT ELSE 0 END AS GR06_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '07' THEN GR_QT ELSE 0 END AS GR07_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '08' THEN GR_QT ELSE 0 END AS GR08_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '09' THEN GR_QT ELSE 0 END AS GR09_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '10' THEN GR_QT ELSE 0 END AS GR10_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '11' THEN GR_QT ELSE 0 END AS GR11_QT
		                                     , CASE WHEN <include refid="com.sql.subStr"/>(CONVERT(NVARCHAR, GR_DATE,112),5,2) = '12' THEN GR_QT ELSE 0 END AS GR12_QT
		                                FROM STOCGRDT
		                                WHERE GATE_CD 			=		 #{ses.gateCd}
		                                 AND GR_YEAR 				=		 #{PLAN_YEAR}
		                                 AND PLANT_CD 				=		 #{PLANT_CD}
		                                 AND ITEM_CD 				=		#{ITEM_CD}
		                                 AND DEL_FLAG 				!=	 '1'
		                                 ) BASE
		                                GROUP BY BASE.GR_YEAR, BASE.BUYER_CD, BASE.PLANT_CD, BASE.ITEM_CD, GR_DATE
		                            ) GRDT
		           ON GPCS.PLAN_YEAR 						= GRDT.GR_YEAR
		           AND GPCS.PLANT_CD 						= GRDT.PLANT_CD
		           AND GPCS.BUYER_CD						= GRDT.BUYER_CD
		           AND GPCS.ITEM_CD 							= GRDT.ITEM_CD
		           WHERE GPCS.GATE_CD 					= #{ses.gateCd}
		             AND GPCS.PLANT_CD 						=#{PLANT_CD}
		             AND GPCS.PLAN_YEAR 					=#{PLAN_YEAR}
		             AND GPCS.DEL_FLAG 						!= '1'
		             AND MTGL.DEL_FLAG 					!= '1'		
		<if test="REG_USER_ID != '' and REG_USER_ID != null">
			AND <include refid="com.sql.dbo"/>GETUSERNAME(GPCS.GATE_CD, GPCS.REG_USER_ID, #{ses.langCd}) <include refid="com.sql.likeL"/> #{REG_USER_ID} <include refid="com.sql.likeR"/>
		</if>		             
		<if test="ITEM_CD != '' and ITEM_CD != null">
			AND GPCS.ITEM_CD <include refid="com.sql.likeL"/> #{ITEM_CD} <include refid="com.sql.likeR"/>
		</if>		             
		<if test="ITEM_NM != '' and ITEM_NM != null">
			AND MTGL.ITEM_DESC <include refid="com.sql.likeL"/> #{ITEM_NM} <include refid="com.sql.likeR"/>
		</if>		             
		<if test="ITEM_SPEC != '' and ITEM_SPEC != null">
			AND MTGL.ITEM_SPEC <include refid="com.sql.likeL"/> #{ITEM_SPEC} <include refid="com.sql.likeR"/>
		</if>		             
	</select>
 -->
 	
	<update id="DH1570_doDelete" parameterType="hashmap">
		UPDATE STOCGPCS 
		          SET DEL_FLAG 			= '1'
		                 ,MOD_DATE 			= <include refid="com.sql.sysdate"/>
		                 ,MOD_USER_ID 	= #{ses.userId}
         WHERE GATE_CD 				= #{ses.gateCd}
               AND BUYER_CD			= #{ses.companyCd}
               AND PLAN_YEAR		= #{PLAN_YEAR}
               AND PLANT_CD			= #{PLANT_CD}		                 
     		   AND ITEM_CD				= #{ITEM_CD}		                                          
	</update>
	
	<update id="DH1570_doSave" parameterType="hashmap">
			MERGE INTO STOCGPCS TARGET
			USING (
			         SELECT  #{ses.gateCd} 						AS GATE_CD
						             ,#{ses.companyCd} 				AS BUYER_CD
						             ,#{PLAN_YEAR} 					AS PLAN_YEAR
						             ,#{PLANT_CD} 						AS PLANT_CD
						             ,#{ITEM_CD} 							AS ITEM_CD
						             ,<include refid="com.sql.sysdate"/> 									AS REG_DATE
						             ,#{ses.userId}							 AS REG_USER_ID
						             ,<include refid="com.sql.sysdate"/> 									AS MOD_DATE
						             ,#{ses.userId} 							AS MOD_USER_ID
						             ,'0' 													AS DEL_FLAG
						             ,#{CHANGE_PERIOD} 			AS CHANGE_PERIOD
						             ,#{YEAR_CHANGE_QT} 	AS YEAR_CHANGE_QT
						             ,#{PLAN01_QT} 	AS PLAN01_QT
						             ,#{PLAN02_QT} 	AS PLAN02_QT
						             ,#{PLAN03_QT} 	AS PLAN03_QT
						             ,#{PLAN04_QT} 	AS PLAN04_QT
						             ,#{PLAN05_QT} 	AS PLAN05_QT
						             ,#{PLAN06_QT} 	AS PLAN06_QT
						             ,#{PLAN07_QT} 	AS PLAN07_QT
						             ,#{PLAN08_QT} 	AS PLAN08_QT
						             ,#{PLAN09_QT} 	AS PLAN09_QT
						             ,#{PLAN10_QT}	 	AS PLAN10_QT
						             ,#{PLAN11_QT} 		AS PLAN11_QT						             
						             ,#{PLAN12_QT}  	AS PLAN12_QT      
			      ) SOURCE
			ON (    TARGET.GATE_CD    			= SOURCE.GATE_CD
			    AND TARGET.BUYER_CD   		= SOURCE.BUYER_CD
			    AND TARGET.PLAN_YEAR  	= SOURCE.PLAN_YEAR
			    AND TARGET.PLANT_CD   		= SOURCE.PLANT_CD
			    AND TARGET.ITEM_CD    		= SOURCE.ITEM_CD
			   )
			WHEN MATCHED THEN
			    UPDATE SET
			           TARGET.CHANGE_PERIOD   = SOURCE.CHANGE_PERIOD
			          ,TARGET.YEAR_CHANGE_QT  = SOURCE.YEAR_CHANGE_QT
			          ,TARGET.PLAN01_QT       	= SOURCE.PLAN01_QT
			          ,TARGET.PLAN02_QT       	= SOURCE.PLAN02_QT
			          ,TARGET.PLAN03_QT       	= SOURCE.PLAN03_QT
			          ,TARGET.PLAN04_QT       	= SOURCE.PLAN04_QT
			          ,TARGET.PLAN05_QT       	= SOURCE.PLAN05_QT
			          ,TARGET.PLAN06_QT       	= SOURCE.PLAN06_QT
			          ,TARGET.PLAN07_QT       	= SOURCE.PLAN07_QT
			          ,TARGET.PLAN08_QT       	= SOURCE.PLAN08_QT
			          ,TARGET.PLAN09_QT       	= SOURCE.PLAN09_QT
			          ,TARGET.PLAN10_QT      	= SOURCE.PLAN10_QT
			          ,TARGET.PLAN11_QT       	= SOURCE.PLAN11_QT
			          ,TARGET.PLAN12_QT       	= SOURCE.PLAN12_QT
			          ,TARGET.MOD_USER_ID 	= SOURCE.MOD_USER_ID
			          ,TARGET.MOD_DATE        	= SOURCE.MOD_DATE
			          ,TARGET.DEL_FLAG        	= SOURCE.DEL_FLAG
			WHEN NOT MATCHED THEN
			    INSERT ( GATE_CD, BUYER_CD, PLANT_CD, PLAN_YEAR, ITEM_CD, REG_DATE, REG_USER_ID, MOD_DATE, MOD_USER_ID, DEL_FLAG
			           , CHANGE_PERIOD, YEAR_CHANGE_QT, PLAN01_QT, PLAN02_QT, PLAN03_QT, PLAN04_QT, PLAN05_QT, PLAN06_QT, PLAN07_QT 
			           , PLAN08_QT, PLAN09_QT, PLAN10_QT, PLAN11_QT, PLAN12_QT )
			    VALUES ( SOURCE.GATE_CD, SOURCE.BUYER_CD, SOURCE.PLANT_CD, SOURCE.PLAN_YEAR, SOURCE.ITEM_CD, SOURCE.REG_DATE, SOURCE.REG_USER_ID, SOURCE.MOD_DATE, SOURCE.MOD_USER_ID, SOURCE.DEL_FLAG
			           , SOURCE.CHANGE_PERIOD, SOURCE.YEAR_CHANGE_QT, SOURCE.PLAN01_QT, SOURCE.PLAN02_QT, SOURCE.PLAN03_QT, SOURCE.PLAN04_QT, SOURCE.PLAN05_QT, SOURCE.PLAN06_QT, SOURCE.PLAN07_QT 
			           , SOURCE.PLAN08_QT, SOURCE.PLAN09_QT, SOURCE.PLAN10_QT, SOURCE.PLAN11_QT, SOURCE.PLAN12_QT <include refid="com.sql.mergeEnd"/>
	</update>
	
</mapper>
