<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.statistic.DH1800_Mapper">

    <select id="doSearch" parameterType="hashmap" resultType="hashmap">

        SELECT
        'USA' AS 'A'
        ,3010 AS 'B'

        UNION ALL
        SELECT
        'CHINA' AS 'A'
        ,1530 AS 'B'

        UNION ALL
        SELECT
        'JAPAN' AS 'A'
        ,2850 AS 'B'

        UNION ALL
        SELECT
        'GERMANY' AS 'A'
        ,1900 AS 'B'

        UNION ALL
        SELECT
        'UK' AS 'A'
        ,2400 AS 'B'

        UNION ALL
        SELECT
        'FRANCE' AS 'A'
        ,2840 AS 'B'

        UNION ALL
        SELECT
        'INDIA' AS 'A'
        ,2500 AS 'B'

        UNION ALL
        SELECT
        'SPAIN' AS 'A'
        ,1845 AS 'B'

    </select>

    <select id="doSearch_multi" parameterType="hashmap" resultType="hashmap">

SELECT
		'USA' AS '1'
		,3010 AS '2'
		,4000 as '3'
		,3000 as '4'

		UNION ALL
		SELECT
		'CHINA' AS '1'
		,1530 AS '2'
		,900 as '3'
		,3000 as '4'

		UNION ALL
		SELECT
		'JAPAN' AS '1'
		,2850 AS '2'
		,1240 as '3'
		,3000 as '4'


    </select>

    <select id="doSearch_DH1805" parameterType="hashmap" resultType="hashmap">

        SELECT
        '1' AS 'A'
        ,0.030 AS 'B'

        UNION ALL
        SELECT
        '2' AS 'A'
        ,0.030 AS 'B'

        UNION ALL
        SELECT
        '3' AS 'A'
        ,0.010 AS 'B'

        UNION ALL
        SELECT
        '4' AS 'A'
        ,0.000 AS 'B'

        UNION ALL
        SELECT
        '5' AS 'A'
        ,0.000 AS 'B'

        UNION ALL
        SELECT
        '6' AS 'A'
        ,0.000 AS 'B'

        UNION ALL
        SELECT
        '7' AS 'A'
        ,0.000 AS 'B'

        UNION ALL
        SELECT
        '8' AS 'A'
        ,0.000 AS 'B'

        UNION ALL
        SELECT
        '9' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '10' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '11' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '12' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '13' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '14' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '15' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '16' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '17' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '18' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '19' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '20' AS 'A'
        ,0.000 AS 'B'

    </select>

    <select id="doSearch_DH1806" parameterType="hashmap" resultType="hashmap">

      	SELECT
		'60.76' AS 'A',
		0 AS 'L',
		0 AS 'R'
        UNION ALL
        SELECT
            '60.78' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '60.90' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '60.92' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '60.94' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '60.96' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '60.98' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.00' AS 'A',
            0.5 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.02' AS 'A',
            3 AS 'L',
            34 AS 'R'
        UNION ALL
        SELECT
            '61.04' AS 'A',
            1.4 AS 'L',
            34 AS 'R'
        UNION ALL
        SELECT
            '61.06' AS 'A',
            0.1 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.08' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.10' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.12' AS 'A',
            0 AS 'L',
            0 AS 'R'
        UNION ALL
        SELECT
            '61.14' AS 'A',
            0 AS 'L',
            0 AS 'R'

    </select>

	<select id="doSearch_DH1807" parameterType="hashmap" resultType="hashmap">

        SELECT
        '1' AS 'A'
        ,362.50 AS 'B'

        UNION ALL
        SELECT
        '2' AS 'A'
        ,359.00 AS 'B'

        UNION ALL
        SELECT
        '3' AS 'A'
        ,367.02 AS 'B'

        UNION ALL
        SELECT
        '4' AS 'A'
        ,359.00 AS 'B'

        UNION ALL
        SELECT
        '5' AS 'A'
        ,361.21 AS 'B'

        UNION ALL
        SELECT
        '6' AS 'A'
        ,364.22 AS 'B'

        UNION ALL
        SELECT
        '7' AS 'A'
        ,353.01 AS 'B'

        UNION ALL
        SELECT
        '8' AS 'A'
        ,354.51 AS 'B'

        UNION ALL
        SELECT
        '9' AS 'A'
        ,353.02 AS 'B'

		UNION ALL
        SELECT
        '10' AS 'A'
        ,351.10 AS 'B'

		UNION ALL
        SELECT
        '11' AS 'A'
        ,353.43 AS 'B'

		UNION ALL
        SELECT
        '12' AS 'A'
        ,356.21 AS 'B'

		UNION ALL
        SELECT
        '13' AS 'A'
        ,0 AS 'B'

    </select>

	<select id="doSearch_DH1808" parameterType="hashmap" resultType="hashmap">

        SELECT
        '2' AS 'A'
        ,4.000 AS 'B'

        UNION ALL
        SELECT
        '3' AS 'A'
        ,5.000 AS 'B'

        UNION ALL
        SELECT
        '4' AS 'A'
        ,5.000 AS 'B'

        UNION ALL
        SELECT
        '5' AS 'A'
        ,2.000 AS 'B'

        UNION ALL
        SELECT
        '6' AS 'A'
        ,2.000 AS 'B'

        UNION ALL
        SELECT
        '7' AS 'A'
        ,8.000 AS 'B'

        UNION ALL
        SELECT
        '8' AS 'A'
        ,1.000 AS 'B'

        UNION ALL
        SELECT
        '9' AS 'A'
        ,1.000 AS 'B'

		UNION ALL
        SELECT
        '10' AS 'A'
        ,2.900 AS 'B'

		UNION ALL
        SELECT
        '11' AS 'A'
        ,2.900 AS 'B'

		UNION ALL
        SELECT
        '12' AS 'A'
        ,1.000 AS 'B'

		UNION ALL
        SELECT
        '13' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '14' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '15' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '16' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '17' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '18' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '19' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '20' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '21' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '22' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '23' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '24' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '25' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '26' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '27' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '28' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '29' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '30' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '31' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '32' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '33' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '34' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '35' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '36' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '37' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '38' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '39' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '40' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '41' AS 'A'
        ,0.000 AS 'B'

		UNION ALL
        SELECT
        '42' AS 'A'
        ,0.000 AS 'B'

    </select>

	<select id="doSearch_DH1809_1" parameterType="hashmap" resultType="hashmap">

        SELECT
        '1' AS 'A'
        ,11.97 AS 'B'

        UNION ALL
        SELECT
        '2' AS 'A'
        ,11.92 AS 'B'

        UNION ALL
        SELECT
        '3' AS 'A'
        ,11.98 AS 'B'

        UNION ALL
        SELECT
        '4' AS 'A'
        ,12.00 AS 'B'

        UNION ALL
        SELECT
        '5' AS 'A'
        ,11.92 AS 'B'

        UNION ALL
        SELECT
        '6' AS 'A'
        ,11.98 AS 'B'

        UNION ALL
        SELECT
        '7' AS 'A'
        ,12.00 AS 'B'

        UNION ALL
        SELECT
        '8' AS 'A'
        ,11.83 AS 'B'

        UNION ALL
        SELECT
        '9' AS 'A'
        ,11.98 AS 'B'

		UNION ALL
        SELECT
        '10' AS 'A'
        ,12.00 AS 'B'

		UNION ALL
        SELECT
        '11' AS 'A'
        ,11.92 AS 'B'

		UNION ALL
        SELECT
        '12' AS 'A'
        ,11.98 AS 'B'

		UNION ALL
        SELECT
        '13' AS 'A'
        ,12.02 AS 'B'

		UNION ALL
        SELECT
        '14' AS 'A'
        ,11.94 AS 'B'

		UNION ALL
        SELECT
        '15' AS 'A'
        ,11.92 AS 'B'

		UNION ALL
        SELECT
        '16' AS 'A'
        ,11.97 AS 'B'

		UNION ALL
        SELECT
        '17' AS 'A'
        ,11.99 AS 'B'

		UNION ALL
        SELECT
        '18' AS 'A'
        ,11.91 AS 'B'

		UNION ALL
        SELECT
        '19' AS 'A'
        ,11.97 AS 'B'

		UNION ALL
        SELECT
        '20' AS 'A'
        ,11.99 AS 'B'

		UNION ALL
        SELECT
        '21' AS 'A'
        ,11.92 AS 'B'

		UNION ALL
        SELECT
        '22' AS 'A'
        ,11.92 AS 'B'

		UNION ALL
        SELECT
        '23' AS 'A'
        ,11.99 AS 'B'

		UNION ALL
        SELECT
        '24' AS 'A'
        ,11.92 AS 'B'

		UNION ALL
        SELECT
        '25' AS 'A'
        ,11.90 AS 'B'

    </select>

	<select id="doSearch_DH1809_2" parameterType="hashmap" resultType="hashmap">

        SELECT
        '1' AS 'A'
        ,0.29 AS 'B'

        UNION ALL
        SELECT
        '2' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '3' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '4' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '5' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '6' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '7' AS 'A'
        ,0.22 AS 'B'

        UNION ALL
        SELECT
        '8' AS 'A'
        ,0.38 AS 'B'

        UNION ALL
        SELECT
        '9' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '10' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '11' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '12' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '13' AS 'A'
        ,0.30 AS 'B'

		UNION ALL
        SELECT
        '14' AS 'A'
        ,0.38 AS 'B'

		UNION ALL
        SELECT
        '15' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '16' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '17' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '18' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '19' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '20' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '21' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '22' AS 'A'
        ,0.38 AS 'B'

		UNION ALL
        SELECT
        '23' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '24' AS 'A'
        ,0.22 AS 'B'

		UNION ALL
        SELECT
        '25' AS 'A'
        ,0.22 AS 'B'

    </select>

    <select id="doSearch_DH1810" parameterType="hashmap" resultType="hashmap">
        SELECT
            '11.6' AS 'A',
            0.7 AS 'L',
            0 AS 'x1',
            0 AS 'x2'
        UNION ALL
        SELECT
            '11.7' AS 'A',
             1.2 AS 'L',
            1.2 AS 'x1',
            1.2 AS 'x2'
        UNION ALL
        SELECT
            '11.8' AS 'A',
             2.5 AS 'L',
             2.7 AS 'x1',
             2.7 AS 'x2'
        UNION ALL
        SELECT
            '11.9' AS 'A',
             7.6 AS 'L',
             7.6 AS 'x1',
             7.6 AS 'x2'
        UNION ALL
        SELECT
            '12.0' AS 'A',
             9 AS 'L',
             8.2 AS 'x1',
             8.2 AS 'x2'
        UNION ALL
        SELECT
            '12.1' AS 'A',
             3 AS 'L',
             3 AS 'x1',
             3 AS 'x2'
        UNION ALL
        SELECT
            '12.2' AS 'A',
             1 AS 'L',
             1 AS 'x1',
             1 AS 'x2'
        UNION ALL
        SELECT
            '12.3' AS 'A',
             0.1 AS 'L',
             0.2 AS 'x1',
             0.2 AS 'x2'
        UNION ALL
         SELECT
            '12.4' AS 'A',
             0 AS 'L',
             0 AS 'x1',
             0 AS 'x2'

    </select>

</mapper>