<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.solicit.rfq.BSOX_240Mapper">


    <select id="doSearchRfqProposalList" parameterType="hashMap" resultType="hashMap">

        SELECT
              RQHD.GATE_CD
            , RQHD.RFX_NUM
            , RQHD.RFX_CNT
            , RQHD.RFX_TYPE
            , RQHD.RFX_SUBJECT
            , <include refid="com.sql.dbo"/>GETGMTDATE( RQHD.REG_DATE, #{ses.userGmt}, #{ses.systemGmt}, <include refid="com.sql.dateFormat"/>) AS REG_DATE
            , RQVN.VENDOR_CD
            , <include refid="com.sql.dbo"/>GETVENDORNAME(RQVN.GATE_CD, RQVN.VENDOR_CD, #{ses.langCd}) AS VENDOR_NM
            , QTHD.QTA_NUM
            , <include refid="com.sql.dbo"/>GETGMTDATE( QTHD.SEND_DATE, #{ses.userGmt}, #{ses.systemGmt}, #{ses.dateFormat}<include refid="com.sql.stringMerge"/>' hh24:mi') AS SEND_DATE
            , <include refid="com.sql.dbo"/>GETGMTDATE( QTHD.VALID_TO_DATE, #{ses.userGmt}, #{ses.systemGmt}, <include refid="com.sql.dateFormat"/>) AS VALID_TO_DATE
            , <include refid="com.sql.dbo"/>GETGMTDATE( RQHD.RFQ_START_DATE, #{ses.userGmt}, #{ses.systemGmt}, #{ses.dateFormat}<include refid="com.sql.stringMerge"/>' hh24:mi') AS RFQ_START_DATE
            , <include refid="com.sql.dbo"/>GETGMTDATE( RQHD.RFQ_CLOSE_DATE, #{ses.userGmt}, #{ses.systemGmt}, #{ses.dateFormat}<include refid="com.sql.stringMerge"/>' hh24:mi') AS RFQ_CLOSE_DATE
            , <include refid="com.sql.dbo"/>GETPURORGNAME(RQHD.GATE_CD, RQHD.BUYER_CD, RQHD.PUR_ORG_CD, #{ses.langCd}) AS PUR_ORG_NM
            , RQHD.PUR_ORG_CD
            , <include refid="com.sql.dbo"/>GETDEPTNAME(RQHD.GATE_CD, RQHD.BUYER_CD, IUSER.DEPT_CD,#{ses.langCd}) AS DEPT_NM
            , <include refid="com.sql.dbo"/>GETUSERNAME(RQHD.GATE_CD, RQHD.CTRL_USER_ID, #{ses.langCd}) AS BUYER_NM
            , RQHD.CTRL_USER_ID
            , <include refid="com.sql.dbo"/>GETUSERNAME(RQHD.GATE_CD, RQHD.CTRL_USER_ID, #{ses.langCd}) AS CTRL_USER_NM
            , <include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(
                    (SELECT MAX(NRQDT.PROGRESS_CD)
                        FROM STOCRQHD NRQHD, STOCRQDT NRQDT
                        WHERE NRQHD.GATE_CD = NRQDT.GATE_CD
                          AND NRQHD.RFX_NUM = NRQDT.RFX_NUM
                          AND NRQHD.RFX_CNT = NRQDT.RFX_CNT
                          AND NRQDT.GATE_CD = RQHD.GATE_CD
                          AND NRQDT.ORIGIN_RFX_NUM = RQHD.RFX_NUM
                          AND NRQDT.ORIGIN_RFX_CNT = RQHD.RFX_CNT
                          AND NRQDT.DEL_FLAG = '0'
                          AND NRQHD.DEL_FLAG = '0'
                      ), RQHD.RFQ_CLOSE_DATE
               )  AS NEGO_STATUS
--            ,(SELECT MAX(NEGO_DATE) FROM STOCRQDT WHERE GATE_CD = RQHD.GATE_CD AND RFX_NUM = RQHD.RFX_NUM AND RFX_CNT = RQHD.RFX_CNT) AS NEGO_FLAG
            ,<include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(RQHD.PROGRESS_CD, RQHD.RFQ_CLOSE_DATE) PROGRESS_CD
            ,RQHD.PURCHASE_TYPE
            ,RQHD.VENDOR_OPEN_TYPE
            ,RQHD.SUBMIT_TYPE
            ,RQHD.PRC_STL_TYPE
            ,QTHD.QTA_AMT
        FROM STOCRQHD RQHD
        JOIN STOCRQVN RQVN
         ON (RQHD.GATE_CD = RQVN.GATE_CD
         AND RQHD.RFX_NUM = RQVN.RFX_NUM
         AND RQHD.RFX_CNT = RQVN.RFX_CNT)
        JOIN STOCQTHD QTHD
         ON (RQVN.GATE_CD = QTHD.GATE_CD
         AND RQVN.RFX_NUM = QTHD.RFX_NUM
         AND RQVN.RFX_CNT = QTHD.RFX_CNT
         AND RQVN.VENDOR_CD = QTHD.VENDOR_CD)
        LEFT JOIN STOCUSER IUSER
         ON (RQHD.GATE_CD=IUSER.GATE_CD
         AND RQHD.CTRL_USER_ID=IUSER.USER_ID
         AND IUSER.DEL_FLAG = '0')
        WHERE RQHD.GATE_CD = #{ses.gateCd}
          AND RQHD.DEL_FLAG = '0'
          AND RQVN.DEL_FLAG = '0'
          AND QTHD.DEL_FLAG = '0'
          AND RQHD.RFX_TYPE IN ('RFQ', 'RFP')
          AND <include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(RQHD.PROGRESS_CD, RQHD.RFQ_CLOSE_DATE) >= '2335'
          <!-- HMCHOI-151022 : 가격입찰진행중, 역경매진행중은 제외함 -->
          AND <include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(RQHD.PROGRESS_CD, RQHD.RFQ_CLOSE_DATE) NOT IN ('2350','2370')
          AND (CASE WHEN RQHD.RFX_OPEN_TYPE = 'SEL' THEN
                         CASE WHEN RQHD.RFQ_OPEN_DATE IS NOT NULL THEN '1' ELSE '0' END
                    WHEN RQHD.RFX_OPEN_TYPE = 'ONE' THEN
                         CASE WHEN <include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(RQHD.PROGRESS_CD, RQHD.RFQ_CLOSE_DATE) >= '2400' THEN '1' ELSE '0' END
                    WHEN RQHD.RFX_OPEN_TYPE = 'SEQ' THEN
                		   CASE WHEN RQVN.RFQ_PROGRESS_CD = '300' THEN '1' ELSE '0' END
                	  ELSE '1'
               END) = '1'
      	  <!--
        	PF0055 : 부품구매 OR 구매원가
        	PF0054 : 일반구매
        	부품구매 / 일반구매 구분해서 조회한다.
 		  -->
 		  <!--
 		  AND CASE WHEN #{ses.grantedAuthCd} = 'PF0055' or #{ses.grantedAuthCd} = 'PF0057' THEN
 		                CASE WHEN RQHD.PURCHASE_TYPE = 'NORMAL' THEN '1' ELSE '0' END
 			       WHEN #{ses.grantedAuthCd} = 'PF0054' THEN
 			 		   CASE WHEN RQHD.PURCHASE_TYPE != 'NORMAL' THEN '1' ELSE '0' END
 			 	   ELSE '1'
 			  END = '1' -->

            <if test="REG_DATE_FROM !='' and REG_DATE_FROM != null and REG_DATE_TO !='' and REG_DATE_TO != null">
	            <if test='DATE_TYPE == "S"'>
	                AND RQHD.RFQ_START_DATE
	            </if>
	            <if test='DATE_TYPE == "R"'>
	                AND RQHD.REG_DATE
	            </if>
                <if test='DATE_TYPE == "C"'>
                    AND RQHD.RFQ_CLOSE_DATE
                </if>
                BETWEEN <include refid="com.sql.toDate"/>#{REG_DATE_FROM}, 'YYYYMMDD HH24:MI:SS') AND <include refid="com.sql.toDate"/>#{REG_DATE_TO}, 'YYYYMMDD HH24:MI:SS')
            </if>
            <if test="VENDOR_NM != '' and VENDOR_NM != null">
                AND <include refid="com.sql.dbo"/>GETVENDORNAME(RQVN.GATE_CD, RQVN.VENDOR_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> #{VENDOR_NM} <include refid="com.sql.likeR"/>
            </if>
            <if test="RFX_NUM != '' and RFX_NUM != null">
                AND RQHD.RFX_NUM <include refid="com.sql.likeL"/> #{RFX_NUM} <include refid="com.sql.likeR"/>
            </if>
            <if test="RFX_SUBJECT != '' and RFX_SUBJECT != null">
				AND RQHD.RFX_SUBJECT <include refid="com.sql.likeL"/> #{RFX_SUBJECT} <include refid="com.sql.likeR"/>
            </if>
            <if test="PURCHASE_NM != '' and PURCHASE_NM != null">
               	AND <include refid="com.sql.dbo"/>GETUSERNAME(RQHD.GATE_CD, RQHD.CTRL_USER_ID, #{ses.langCd}) <include refid="com.sql.likeL"/> #{PURCHASE_NM} <include refid="com.sql.likeR"/>
           	</if>
           	<if test="RFX_TYPE != '' and RFX_TYPE != null">
                AND RQHD.RFX_TYPE = #{RFX_TYPE}
            </if>
           	<if test="PROGRESS_CD != '' and PROGRESS_CD != null">
            	AND	<include refid="com.sql.dbo"/>GETRFQPROGRESSSTATUS(RQHD.PROGRESS_CD, RQHD.RFQ_CLOSE_DATE) = #{PROGRESS_CD}
			</if>
           	<if test="PURCHASE_TYPE != '' and PURCHASE_TYPE != null">
                AND RQHD.PURCHASE_TYPE = #{PURCHASE_TYPE}
            </if>
           	<if test="SUBMIT_TYPE != '' and SUBMIT_TYPE != null">
                AND RQHD.SUBMIT_TYPE = #{SUBMIT_TYPE}
            </if>
            	AND QTHD.SEND_DATE IS NOT NULL
           ORDER BY RQHD.REG_DATE DESC, QTHD.SEND_DATE DESC

    </select>


</mapper>