<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.eversrm.solicit.rfq.DH2150Mapper">

	<select id="doSearchQtaCostHeader"  resultType="hashMap">
		SELECT
			 QTCH.RAW_COST_AMT
			,QTCH.MNGT_COST_AMT
			,QTCH.PROFIT_AMT
			,QTCH.FINAL_AMT
			,QTCH.ATT_FILE_NUM
			,QTCH.COST_RMK
			,QTCH.COST_NUM
			,QTCH.COST_CD
		FROM STOCQTCH QTCH
		WHERE QTCH.GATE_CD = #{ses.gateCd}
			AND QTCH.DEL_FLAG = '0'
		    AND QTCH.COST_NUM = #{COST_NUM}
	</select>


	<select id="doSearchQtaCostDetail" parameterType="hashMap" resultType="hashMap">
		SELECT
		QTCD.COST_TYPE_CD
		,QTCD.COST_TEXT
		,QTCD.UNIT_PRC
		,QTCD.COST_RMK
		FROM STOCQTCD QTCD
		WHERE QTCD.GATE_CD = #{ses.gateCd}
			AND QTCD.DEL_FLAG = '0'
		    AND QTCD.COST_NUM = #{COST_NUM}
	</select>


	<delete id="doDeleteCost_QTCH" parameterType="hashmap">
         DELETE FROM STOCQTCH
         WHERE  GATE_CD = #{ses.gateCd}
            AND COST_NUM = #{COST_NUM}
	</delete>

	<delete id="doDeleteCost_QTCD" parameterType="hashmap">
         DELETE FROM STOCQTCD
         WHERE  GATE_CD = #{ses.gateCd}
            AND COST_NUM = #{COST_NUM}
	</delete>

	<insert id="doInsertCost_QTCH" parameterType="hashMap">
        INSERT INTO STOCQTCH (
			  GATE_CD
			, COST_NUM
			, COST_CD
			, REG_DATE
			, REG_USER_ID
			, DEL_FLAG
			, RAW_COST_AMT
			, MNGT_COST_AMT
			, PROFIT_AMT
			, FINAL_AMT
			, ATT_FILE_NUM
			, COST_RMK
			, QTA_NUM
			, QTA_SQ
        ) VALUES (
			 #{ses.gateCd}
			, #{COST_NUM}
			, 'Q'
			, <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
			, <include refid="com.sql.nvl"/>(#{RAW_COST_AMT}, 0)
			, <include refid="com.sql.nvl"/>(#{MNGT_COST_AMT}, 0)
			, <include refid="com.sql.nvl"/>(#{PROFIT_AMT}, 0)
			, <include refid="com.sql.nvl"/>(#{FINAL_AMT}, 0)
			, #{ATT_FILE_NUM}
			, #{COST_RMK}
			, CASE WHEN #{QTA_NUM} = '' THEN NULL ELSE #{QTA_NUM} END
			, CASE WHEN #{QTA_SQ} = '' THEN NULL ELSE #{QTA_SQ} END
        )
    </insert>

    <insert id="doInsertCost_QTCD" parameterType="hashMap">
     	INSERT INTO STOCQTCD(
     		 GATE_CD
			, COST_NUM
			, COST_CD
			, COST_SQ
			, REG_DATE
			, REG_USER_ID
			, DEL_FLAG
			, COST_TYPE_CD
			, COST_TEXT
			, COST_AMT
			, COST_RMK
			, UNIT_PRC
     	) VALUES (
     		 #{ses.gateCd}
			, #{COST_NUM}
			, 'Q'
			, #{COST_SQ}
			, <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{COST_TYPE_CD}
            , #{COST_TEXT}
            , case when #{COST_AMT} = '' then '0' else #{COST_AMT} end
            , #{COST_RMK}
            , #{UNIT_PRC}
     	)
	</insert>



</mapper>