<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.SIV1.SIV103_Mapper">

    <!-- SIV1_030 -->
	<!-- 공급사 : 납품서 조회/수정 -->
	<select id="siv1030_doSearch" parameterType="hashMap" resultType="hashMap">

		SELECT
			  YPOHD.CUST_CD
			, <include refid="com.sql.dbo"/>GETCOMPANYNAME(YPOHD.GATE_CD,YPOHD.CUST_CD,#{ses.langCd}) AS CUST_NM
			, YPODT.CPO_NO  -- 주문번호
			, YPODT.CPO_SEQ -- 주문항번
			, YPODT.PO_NO   -- 발주번호
			, YPODT.PO_SEQ  -- 발주항번
			, YPODT.PR_TYPE
			, <include refid="com.sql.toDateChar"/>(YPODT.REG_DATE, 'yyyyMMdd') AS REG_DATE -- YYYY-MM-DD
			, YPOHD.CPO_USER_ID         -- 주문자ID
			, <include refid="com.sql.dbo"/>GETUSERNAME(YPODT.GATE_CD,YPOHD.CPO_USER_ID ,#{ses.langCd}) AS CPO_USER_NM      -- 주문자명
			, YPOHD.CPO_USER_DEPT_CD 	-- 주문자부서코드
			, YPOHD.CPO_USER_TEL_NUM  	-- 주문자전화번호
			, YPOHD.CPO_USER_CELL_NUM 	-- 주문자휴대전화번호
			, YPODT.CUST_ITEM_CD
			, YPODT.ITEM_CD
			, YPODT.ITEM_DESC
			, YPODT.ITEM_SPEC
			, YPODT.MAKER_CD
			, YPODT.MAKER_NM
			, YPODT.MAKER_PART_NO
			, YPODT.BRAND_CD
			, YPODT.BRAND_NM
			, YPODT.ORIGIN_CD
			, <include refid="com.sql.dbo"/>GETCODENAME(YPODT.GATE_CD,'M004',YPODT.ORIGIN_CD,#{ses.langCd}) AS ORIGIN_NM
			, YPODT.UNIT_CD
			, YPODT.VENDOR_CD
			, VNGL.VENDOR_NM
			, <include refid="com.sql.nvl"/>(YPODT.MOQ_QTY, 1) AS MOQ_QTY
			, <include refid="com.sql.nvl"/>(YPODT.RV_QTY, 1)  AS RV_QTY
			, <include refid="com.sql.nvl"/>(YPODT.CPO_QTY, 0) AS CPO_QTY
			, YPODT.CUR
			, <include refid="com.sql.nvl"/>(YPODT.CPO_UNIT_PRICE, 0) AS CPO_UNIT_PRICE -- 주문단가
			, <include refid="com.sql.nvl"/>(YPODT.CPO_ITEM_AMT, 0)   AS CPO_ITEM_AMT   -- 주문금액
			, <include refid="com.sql.nvl"/>(YPODT.PO_UNIT_PRICE, 0)  AS PO_UNIT_PRICE  -- 매입단가
			, <include refid="com.sql.nvl"/>(YPODT.PO_ITEM_AMT, 0)    AS PO_ITEM_AMT    -- 매입금액
			, CASE WHEN <include refid="com.sql.nvl"/>(YPODT.PRIOR_GR_FLAG, '0') = '0' THEN 'N' ELSE 'Y' END AS PRIOR_GR_FLAG -- 선입고여부
			, <include refid="com.sql.toDateChar"/>(YPOHD.CPO_DATE, 'yyyyMMdd') AS CPO_DATE -- 주문일자
			, <include refid="com.sql.nvl"/>(YPODT.LEAD_TIME, 0) AS LEAD_TIME -- 납기일자
			, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.dbo"/>fn_GetTotalWorkingDaysFromParamDate(YPOHD.CPO_DATE, <include refid="com.sql.nvl"/>(YPODT.LEAD_TIME, 0)), 'yyyyMMdd') AS LEAD_TIME_DATE -- 표준납기일자
			, <include refid="com.sql.toDateChar"/>(YPODT.HOPE_DUE_DATE, 'yyyyMMdd') AS HOPE_DUE_DATE -- 희망납기일자
			, (SELECT CSDM.DELY_NM FROM STOCCSDM CSDM WHERE CSDM.GATE_CD = YPODT.GATE_CD AND CSDM.CUST_CD = #{ses.manageCd} AND CSDM.SEQ = YPODT.DELY_PLACE) AS DELY_PLACE -- 배송장소
			, YIVDT.DELY_TYPE AS DELY_TYPE --납품방법
			, CASE WHEN YPODT.DELY_PLACE = '1' THEN <include refid="com.sql.nvl"/>(YPODT.REQ_USER_NM, YPODT.RECIPIENT_NM) ELSE YPODT.RECIPIENT_NM END AS RECIPIENT_NM  -- 인수자명
			, YPODT.RECIPIENT_DEPT_NM  -- 인수자부서명
			, CASE WHEN YPODT.DELY_PLACE = '1' THEN <include refid="com.sql.nvl"/>(YPODT.REQ_USER_TEL_NUM, YPODT.RECIPIENT_TEL_NUM) ELSE YPODT.RECIPIENT_TEL_NUM END AS RECIPIENT_TEL_NUM  -- 인수자전화번호
			, CASE WHEN YPODT.DELY_PLACE = '1' THEN <include refid="com.sql.nvl"/>(YPODT.REQ_USER_TEL_NUM, YPODT.RECIPIENT_CELL_NUM) ELSE YPODT.RECIPIENT_CELL_NUM END AS RECIPIENT_CELL_NUM -- 인수자휴대전화번호
			, YPODT.DELY_ZIP_CD  -- 납품장소 우편번호
			, YPODT.DELY_ADDR_1  -- 납품장소 기본주소
			, YPODT.DELY_ADDR_2  -- 납품장소 상세주소
			, YPODT.REQ_TEXT
			, YPODT.ATTACH_FILE_NO
			, <include refid="com.sql.dbo"/>GETFILECOUNT(YPODT.GATE_CD,YPODT.ATTACH_FILE_NO) AS ATTACH_FILE_CNT
			, YPODT.DEAL_CD
			, <include refid="com.sql.dbo"/>GETCODENAME(YPODT.GATE_CD,'MP021',YPODT.DEAL_CD,#{ses.langCd}) AS DEAL_NM
			, YPODT.PROGRESS_CD
			, <include refid="com.sql.dbo"/>GETCODENAME(YPODT.GATE_CD,'MP056',<include refid="com.sql.nvl"/>(YPODT.PROGRESS_CD, YPODT.PROGRESS_CD),#{ses.langCd}) AS PROGRESS_NM
			, MTGL.SG_CTRL_USER_ID -- 품목담당자
		    , YPODT.AM_USER_ID AS MANAGE_ID
			, USR.USER_NM      AS MANAGE_NM -- 구매담당자
			, YPODT.DOC_TYPE
			, YPODT.TAX_CD
			, YPODT.REF_MNG_NO -- 관리번호
			, <include refid="com.sql.nvl"/>(YPODT.GR_COMPLETE_FLAG, '0') AS GR_COMPLETE_FLAG -- 공급사 입고완료여부
			, <include refid="com.sql.nvl"/>(YPODT.INV_QTY, 0) AS BF_INV_QTY  -- 기납품수량(=기납품수량 - 납품수량)
			, <include refid="com.sql.nvl"/>(YIVDT.GR_QTY, 0)  AS BF_GR_QTY   -- 기입고수량
			, <include refid="com.sql.toDateChar"/>(YIVHD.DELY_APP_DATE, 'yyyyMMdd') AS DELY_APP_DATE       -- 납품예정일자
			, <include refid="com.sql.toDateChar"/>(YIVHD.DELY_APP_DATE, 'yyyyMMdd') AS DELY_APP_DATE_RES   -- 납품예정일자(원본)
			, YIVDT.INV_QTY AS INV_QTY_RES -- 납품수량 원본
			, YIVDT.INV_QTY         -- 납품수량
			, YIVDT.INV_QTY * YPODT.PO_UNIT_PRICE AS IV_ITEM_AMT  -- 납품금액
			, YIVDT.GR_QTY          -- 입고수량
			, YIVDT.DELY_COMPANY_NM -- 택배사명
			, YIVDT.WAYBILL_NO      -- 송장번호
			, <include refid="com.sql.nvl"/>(YPODT.RETURN_REMARK, YPODT.RETURN_REMARK) AS RETURN_REMARK -- 반품사유
			, YIVDT.DELY_DELAY_CD    -- 납품지연 사유
			, <include refid="com.sql.dbo"/>GETCODENAME(YIVDT.GATE_CD,'MP067',YIVDT.DELY_DELAY_CD,#{ses.langCd}) AS DELY_DELAY_NM -- 납품지연 사유명
			, YIVDT.DELY_DELAY_REASON-- 납품지연 상세사유
			, <include refid="com.sql.nvl"/>(YIVDT.DELY_COMPLETE_FLAG, '0') AS DELY_COMPLETE_FLAG
			, <include refid="com.sql.toDateChar"/>(YIVDT.DELY_COMPLETE_DATE, 'yyyyMMdd') AS DELY_COMPLETE_DATE
			, <include refid="com.sql.nvl"/>(YPODT.FORCE_CLOSE_DATE, YPODT.FORCE_CLOSE_DATE) AS FORCE_CLOSE_DATE -- 주문종결일자
			, <include refid="com.sql.nvl"/>(YPODT.FORCE_CLOSE_USER_ID, YPODT.FORCE_CLOSE_USER_ID) AS FORCE_CLOSE_USER_ID -- 주문종결자ID
			, <include refid="com.sql.nvl"/>(YPODT.FORCE_CLOSE_REASON, YPODT.FORCE_CLOSE_REASON) AS FORCE_CLOSE_REASON  -- 주문종결사유
			, YIVDT.IV_NO  AS IV_NO
			, YIVDT.IV_SEQ AS IV_SEQ
			, <include refid="com.sql.nvl"/>(YIVHD.AGENT_YN, '0') AS AGENT_YN
			, CASE WHEN <include refid="com.sql.nvl"/>(YIVHD.AGENT_YN, '0') = '1' THEN <include refid="com.sql.dbo"/>getUserName(YIVHD.GATE_CD, YIVHD.REG_USER_ID, #{ses.langCd})
			       ELSE NULL
			  END AS AGENT_USER_NM
			, (	SELECT <include refid="com.sql.toDateChar"/>(MAX(GRDT.GR_DATE), 'yyyyMMdd') AS GR_DATE
				FROM STOCGRDT GRDT
				WHERE GRDT.GATE_CD = #{ses.gateCd}
				AND GRDT.DEL_FLAG = '0'
				AND YIVDT.GATE_CD = GRDT.GATE_CD
				AND YIVDT.IV_NO = GRDT.IV_NO
				AND YIVDT.IV_SEQ = GRDT.IV_SEQ
				GROUP BY GRDT.GATE_CD, GRDT.IV_NO, GRDT.IV_SEQ) AS GR_DATE
			, (	SELECT MAX(GRDT.GR_NO) AS GR_DATE
				FROM STOCGRDT GRDT
				WHERE GRDT.GATE_CD = #{ses.gateCd}
				AND GRDT.DEL_FLAG = '0'
				AND YIVDT.GATE_CD = GRDT.GATE_CD
				AND YIVDT.IV_NO = GRDT.IV_NO
				AND YIVDT.IV_SEQ = GRDT.IV_SEQ
				GROUP BY GRDT.GATE_CD, GRDT.IV_NO, GRDT.IV_SEQ) AS GR_NO
			, (	SELECT MAX(GRDT.GR_SEQ) AS GR_DATE
				FROM STOCGRDT GRDT
				WHERE GRDT.GATE_CD = #{ses.gateCd}
				AND GRDT.DEL_FLAG = '0'
				AND YIVDT.GATE_CD = GRDT.GATE_CD
				AND YIVDT.IV_NO = GRDT.IV_NO
				AND YIVDT.IV_SEQ = GRDT.IV_SEQ
				GROUP BY GRDT.GATE_CD, GRDT.IV_NO, GRDT.IV_SEQ) AS GR_SEQ
			, YPODT.AGENT_MEMO
			, YPODT.SHIPPER_TYPE
			, YPODT.IF_CPO_NO
			, YPODT.IF_CPO_NO <include refid="com.sql.stringMerge"/> '-' <include refid="com.sql.stringMerge"/> TO_CHAR(YPODT.IF_CPO_SEQ) AS IF_CPO_NO_SEQ
			, YPODT.REF_MNG_NO
			, YPODT.CSDM_SEQ
			, YPODT.DELY_NM
			, YPODT.RECIPIENT_FAX_NUM
			, YPODT.RECIPIENT_EMAIL
			, YPODT.REQ_USER_NM
			, YPODT.REQ_USER_TEL_NUM
			, YIVDT.IF_INVC_CD
			, YPODT.CPO_NO <include refid="com.sql.stringMerge"/> TO_CHAR(YPODT.CPO_SEQ) AS CPO_NO_SEQ --주문키
			, YPODT.VENDOR_ITEM_CD
			, YPODT.PLANT_CD
			,<include refid="com.sql.dbo"/>getPlantName(YPODT.GATE_CD, YPODT.CUST_CD, YPODT.PLANT_CD, #{ses.langCd}) AS PLANT_NM
			,<include refid="com.sql.dbo"/>getCpoDeptInfo(YPODT.GATE_CD, YPODT.CPO_NO, #{ses.langCd}) AS CPO_USER_DEPT_NM
			,(SELECT PR_SUBJECT FROM STOUPOHD WHERE GATE_CD=YPODT.GATE_CD AND CUST_CD= YPODT.CUST_CD AND CPO_NO=YPODT.CPO_NO) PR_SUBJECT
			, TO_CHAR(YPODT.PO_DATE,'YYYYMMDD') PO_DATE
            ,<include refid="com.sql.dbo"/>getUserName(YPODT.GATE_CD, MTGL.SG_CTRL_USER_ID, #{ses.langCd}) SG_CTRL_USER_NM
			, YPODT.PO_UNIT_PRICE TEMP_PO_UNIT_PRICE
			, YPODT.PO_ITEM_AMT   TEMP_PO_ITEM_AMT
			,(SELECT INV_NO  FROM STOUIVDT WHERE GATE_CD=YIVDT.GATE_CD AND IV_NO = YIVDT.IV_NO AND IV_SEQ=YIVDT.IV_SEQ  AND DEL_FLAG = '0') INV_NO
			,(SELECT INV_SEQ FROM STOUIVDT WHERE GATE_CD=YIVDT.GATE_CD AND IV_NO = YIVDT.IV_NO AND IV_SEQ=YIVDT.IV_SEQ  AND DEL_FLAG = '0') INV_SEQ


			, CASE WHEN YPODT.FORCE_CLOSE_USER_ID IS NULL THEN '0' ELSE '1' END FORCE_CLOSE_YN
			, YPODT.TAX_CD AS TAX_NM
		FROM STOYIVDT YIVDT -- 공급사 납품상세
		JOIN STOYIVHD YIVHD -- 공급사 납품헤더
			ON (YIVDT.GATE_CD  = YIVHD.GATE_CD
		    AND YIVDT.IV_NO    = YIVHD.IV_NO
			<!-- SIV1_030 : 공급사 납품완료 -->
			<if test="USER_TYPE != null and USER_TYPE != null and USER_TYPE eq 'S'.toString()">
			   AND YIVHD.VENDOR_CD = #{ses.companyCd}
			</if>
		       AND YIVHD.DEL_FLAG = '0')
		JOIN STOYPODT YPODT
			ON (YIVDT.GATE_CD  = YPODT.GATE_CD
			AND YIVDT.PO_NO    = YPODT.PO_NO
			AND YIVDT.PO_SEQ   = YPODT.PO_SEQ
			--AND YPODT.DEAL_CD IN ('200','400')
			AND YPODT.DEL_FLAG = '0')
		JOIN STOYPOHD YPOHD
			ON (YPODT.GATE_CD  = YPOHD.GATE_CD
			AND YPODT.PO_NO    = YPOHD.PO_NO
			AND YPOHD.SIGN_STATUS = 'E' -- 결재완료
			AND YPOHD.DEL_FLAG = '0')
		LEFT JOIN STOCCUST CUST
			ON (YPOHD.GATE_CD = CUST.GATE_CD
			AND YPOHD.CUST_CD = CUST.CUST_CD)
		JOIN STOCVNGL VNGL -- 공급사
			ON (YPODT.GATE_CD   = VNGL.GATE_CD
			AND YPODT.VENDOR_CD = VNGL.VENDOR_CD)
		LEFT JOIN STOCCVUR CVUR -- 고객사 주문자
			ON (YPOHD.GATE_CD  = CVUR.GATE_CD
			AND YPOHD.CUST_CD  = CVUR.COMPANY_CD
			AND YPOHD.CPO_USER_ID = CVUR.USER_ID
			AND CVUR.USER_TYPE = 'B')
		LEFT JOIN STOCUSER USR -- 진행관리담당자
			ON (YPODT.GATE_CD = USR.GATE_CD
			AND YPODT.AM_USER_ID = USR.USER_ID)
		LEFT OUTER JOIN STOCMTGL MTGL
			ON (YPODT.GATE_CD = MTGL.GATE_CD
			AND YPODT.ITEM_CD = MTGL.ITEM_CD
			AND MTGL.DEL_FLAG ='0')
		WHERE YIVDT.GATE_CD  = #{ses.gateCd}
		AND YIVDT.DEL_FLAG = '0'
		AND YPODT.PR_TYPE IN ('G','C')
		AND YPODT.PO_NO NOT LIKE 'X%' -- 반품건 조회 X


		AND CASE WHEN YPODT.DEAL_CD = '200' AND YPODT.CUST_CD != #{ses.manageCd} THEN 'Y'
				 WHEN YPODT.DEAL_CD IN ('100','400') AND YPODT.CUST_CD = #{ses.manageCd} THEN 'Y'
		ELSE 'N' END = 'Y'



		<if test="CUST_CD != '' and CUST_CD != null">
			AND YPOHD.CUST_CD <include refid="com.sql.likeL"/> #{CUST_CD} <include refid="com.sql.likeR"/>
		</if>
		<if test="CUST_NM != '' and CUST_NM != null">
			AND <include refid="com.sql.dbo"/>getCompanyName(YPOHD.GATE_CD,YPOHD.CUST_CD,#{ses.langCd}) <include refid="com.sql.likeL"/> #{CUST_NM} <include refid="com.sql.likeR"/>
		</if>

		<if test="CPO_NO != '' and CPO_NO != null">
			AND YPODT.CPO_NO <include refid="com.sql.likeL"/> #{CPO_NO} <include refid="com.sql.likeR"/>
		</if>

        <if test="PR_SUBJECT != '' and PR_SUBJECT != null">
           AND (SELECT PR_SUBJECT FROM STOUPOHD WHERE GATE_CD=YPODT.GATE_CD AND CUST_CD= YPODT.CUST_CD AND CPO_NO=YPODT.CPO_NO)
          <include refid="com.sql.likeL"/> #{PR_SUBJECT} <include refid="com.sql.likeR"/>
        </if>

       <if test="CUST_CD != '' and CUST_CD != null">
			AND YPODT.CUST_CD = #{CUST_CD}
	   </if>
		<if test="PLANT_CD != '' and PLANT_CD != null">
			AND YPODT.PLANT_CD <include refid="com.sql.likeL"/> #{PLANT_CD} <include refid="com.sql.likeR"/>
		</if>
		<if test="PLANT_NM != '' and PLANT_NM != null">
			AND <include refid="com.sql.dbo"/>getPlantName(#{ses.gateCd}, YPODT.CUST_CD, YPODT.PLANT_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> #{PLANT_NM} <include refid="com.sql.likeR"/>
		</if>
		<if test="DDP_CD != '' and DDP_CD != null">
			AND <include refid="com.sql.dbo"/>getCpoDeptInfo(YPODT.GATE_CD, YPODT.CPO_NO, #{ses.langCd}) <include refid="com.sql.likeL"/> UPPER(#{DDP_CD}) <include refid="com.sql.likeR"/>
		</if>
       <if test="DIVISION_CD != '' and DIVISION_CD != null">
			AND CVUR.DIVISION_CD = #{DIVISION_CD}
	   </if>
       <if test="DEPT_CD != '' and DEPT_CD != null">
			AND CVUR.DEPT_CD = #{DEPT_CD}
	   </if>
       <if test="PART_CD != '' and PART_CD != null">
			AND CVUR.PART_CD = #{PART_CD}
	   </if>
        <if test="AM_USER_ID != '' and AM_USER_ID != null">
           AND YPODT.AM_USER_ID = #{AM_USER_ID}
        </if>
		<if test="SG_CTRL_USER_ID != '' and SG_CTRL_USER_ID != null">
			AND MTGL.SG_CTRL_USER_ID = #{SG_CTRL_USER_ID}
		</if>
		<if test="CPO_USER_ID != '' and CPO_USER_ID != null">
			AND YPOHD.CPO_USER_ID <include refid="com.sql.likeL"/> #{CPO_USER_ID} <include refid="com.sql.likeR"/>
		</if>
		<if test="CPO_USER_NM != '' and CPO_USER_NM != null">
			AND <include refid="com.sql.dbo"/>GETUSERNAME(YPODT.GATE_CD,YPOHD.CPO_USER_ID ,#{ses.langCd}) <include refid="com.sql.likeL"/> #{CPO_USER_NM} <include refid="com.sql.likeR"/>
		</if>
		<if test="START_DATE != '' and START_DATE != null">
			<choose>
				<when test="START_DATE_COMBO != '' and START_DATE_COMBO != null and START_DATE_COMBO eq 'REG_DATE'.toString()">
		   			AND YIVHD.REG_DATE BETWEEN <include refid="com.sql.toDate"/>#{START_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{END_DATE}<include refid="com.sql.dateTo"/>
				</when>
				<when test="START_DATE_COMBO != '' and START_DATE_COMBO != null and START_DATE_COMBO eq 'DELY_APP_DATE'.toString()">
		   			AND YIVHD.DELY_APP_DATE BETWEEN <include refid="com.sql.toDate"/>#{START_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{END_DATE}<include refid="com.sql.dateTo"/>
				</when>
				<when test="START_DATE_COMBO != '' and START_DATE_COMBO != null and START_DATE_COMBO eq 'CPO_DATE'.toString()">
		   			AND YPOHD.CPO_DATE BETWEEN <include refid="com.sql.toDate"/>#{START_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{END_DATE}<include refid="com.sql.dateTo"/>
				</when>


				<when test="START_DATE_COMBO != '' and START_DATE_COMBO != null and START_DATE_COMBO eq 'PO_DATE'.toString()">
		   			AND YPODT.PO_DATE BETWEEN <include refid="com.sql.toDate"/>#{START_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{END_DATE}<include refid="com.sql.dateTo"/>
				</when>

				<otherwise>
		   			AND YPODT.HOPE_DUE_DATE BETWEEN <include refid="com.sql.toDate"/>#{START_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{END_DATE}<include refid="com.sql.dateTo"/>
				</otherwise>
			</choose>
		</if>

		<if test="VENDOR_CD != '' and VENDOR_CD != null">
		   AND YPODT.VENDOR_CD <include refid="com.sql.likeL"/> #{VENDOR_CD} <include refid="com.sql.likeR"/>
		</if>
		<if test="VENDOR_NM != '' and VENDOR_NM != null">
		   AND VNGL.VENDOR_NM <include refid="com.sql.likeL"/> #{VENDOR_NM} <include refid="com.sql.likeR"/>
		</if>
		<if test="GR_COMPLETE_FLAG != '' and GR_COMPLETE_FLAG != null">
		   AND <include refid="com.sql.nvl"/>(YPODT.GR_COMPLETE_FLAG, '0') = #{GR_COMPLETE_FLAG}
		</if>
		<if test="ITEM_CD != '' and ITEM_CD != null">
		 	<if test="ITEM_CNT == 1">
				AND YPODT.ITEM_CD IN ${ITEM_CD}
			</if>
			<if test="ITEM_CNT == 0">
				AND YPODT.ITEM_CD <include refid="com.sql.likeL"/> #{ITEM_CD} <include refid="com.sql.likeR"/>
			</if>
		</if>
		<if test="ITEM_DESC != '' and ITEM_DESC != null">
		   AND (${ITEM_DESC} OR  ${ITEM_SPEC} OR ${ITEM_CD} OR ${CUST_ITEM_CD})
		</if>
		<if test="MAKER_CD != '' and MAKER_CD != null">
		   AND ${MAKER_CD}
		</if>
		<if test="MAKER_NM != '' and MAKER_NM != null">
		   AND ${MAKER_NM}
		</if>

		<choose>
		  <when test='autoSearchFlag == "Y"'>
		    AND <include refid="com.sql.nvl"/>(YPODT.GR_COMPLETE_FLAG,'0') = '0'
		    AND <include refid="com.sql.nvl"/>(YIVDT.DELY_COMPLETE_FLAG, '0') = '1'
		    AND DATEDIFF(DAY, YIVDT.DELY_COMPLETE_DATE, <include refid="com.sql.sysdate"/>) <![CDATA[>=]]> 3
		  </when>
		  <otherwise>
		    AND 1 = 1
		  </otherwise>
		</choose>

		<if test="DELY_COMPLETE_FLAG != '' and DELY_COMPLETE_FLAG != null">
		   AND <include refid="com.sql.nvl"/>(YIVDT.DELY_COMPLETE_FLAG, '0') = #{DELY_COMPLETE_FLAG}
		</if>
		<if test="PR_TYPE != '' and PR_TYPE != null">
			AND YPODT.PR_TYPE =#{PR_TYPE}
		</if>

		 ORDER BY
		          YPODT.CPO_NO  -- 동일한 주문
		        , YPODT.PO_NO -- 동일한 발주
				, YIVDT.IV_NO

	</select>

	<!-- 납품서 수정 -->
	<!-- STOUIVHD -->
	<update id="siv1030_doUpdateUIVHD" parameterType="hashmap">
		UPDATE STOUIVHD UIVH
		   SET UIVH.DELY_APP_DATE = #{DELY_APP_DATE}
			 , UIVH.MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , UIVH.MOD_USER_ID   = #{ses.userId}
		 WHERE UIVH.GATE_CD  = #{ses.gateCd}
		   AND EXISTS (SELECT 1 FROM STOUIVDT UIVD
	                    WHERE UIVD.GATE_CD  = UIVH.GATE_CD
	                      AND UIVD.INV_NO   = UIVH.INV_NO
	                      AND UIVD.IV_NO    = #{IV_NO}
	                      AND UIVD.DEL_FLAG = '0')
		   AND UIVH.DEL_FLAG = '0'
	</update>

	<!-- STOYIVHD -->
	<update id="siv1030_doUpdateYIVHD" parameterType="hashmap">
		UPDATE STOYIVHD
		   SET DELY_APP_DATE = #{DELY_APP_DATE}
			 , MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID   = #{ses.userId}
		 WHERE GATE_CD  = #{ses.gateCd}
		   AND IV_NO    = #{IV_NO}
		   AND DEL_FLAG = '0'
	</update>

	<!-- STOUIVDT -->
	<update id="siv1030_doUpdateUIVDT" parameterType="hashmap">
		UPDATE STOUIVDT
		   SET INV_QTY       = #{INV_QTY}
			 , INV_ITEM_AMT  = <include refid="com.sql.dbo"/>getPriceByCur(CUR, INV_UNIT_PRICE * ${INV_QTY})
			 , DELY_DELAY_CD = #{DELY_DELAY_CD}
			 , DELY_DELAY_REASON = #{DELY_DELAY_REASON}
			 , DELY_COMPANY_NM   = #{DELY_COMPANY_NM}
			 , WAYBILL_NO    = #{WAYBILL_NO}
			 , IF_INVC_CD = #{IF_INVC_CD}
		     , MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID   = #{ses.userId}


			 , DELY_TYPE = #{DELY_TYPE}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}  -- 공급사 납품번호
		   AND IV_SEQ  = #{IV_SEQ} -- 공급사 납품항번
	</update>

	<!-- STOYIVDT -->
	<update id="siv1030_doUpdateYIVDT" parameterType="hashmap">
		UPDATE STOYIVDT
		   SET INV_QTY       = #{INV_QTY}
			 , INV_ITEM_AMT  = <include refid="com.sql.dbo"/>getPriceByCur(CUR, INV_UNIT_PRICE * ${INV_QTY})
			 , DELY_DELAY_CD = #{DELY_DELAY_CD}
			 , DELY_DELAY_REASON = #{DELY_DELAY_REASON}
			 , DELY_COMPANY_NM   = #{DELY_COMPANY_NM}
			 , WAYBILL_NO    = #{WAYBILL_NO}
			 , IF_INVC_CD    = #{IF_INVC_CD}
		     , MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID   = #{ses.userId}

			 , DELY_TYPE = #{DELY_TYPE}

		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}
		   AND IV_SEQ  = #{IV_SEQ}
	</update>

	<!-- STOUPODT -->
	<update id="siv1030_doUpdateUPODT" parameterType="hashmap">
		UPDATE STOUPODT
		   SET INV_QTY = (SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
						   WHERE GATE_CD  = #{ses.gateCd}
							 AND CUST_CD  = #{CUST_CD}
							 AND CPO_NO   = #{CPO_NO}
							 AND CPO_SEQ  = #{CPO_SEQ}
							 AND DEL_FLAG = '0')
			 , MOD_DATE    = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
		 WHERE GATE_CD  = #{ses.gateCd}
		   AND CUST_CD  = #{CUST_CD}
		   AND CPO_NO   = #{CPO_NO}
		   AND CPO_SEQ  = #{CPO_SEQ}
		   AND DEL_FLAG = '0'
	</update>

	<!-- STOYPODT -->
	<update id="siv1030_doUpdateYPODT" parameterType="hashmap">
		UPDATE STOYPODT
		   SET INV_QTY = (SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
						   WHERE GATE_CD  = #{ses.gateCd}
							 AND PO_NO    = #{PO_NO}
							 AND PO_SEQ   = #{PO_SEQ}
							 AND DEL_FLAG = '0')
			 , MOD_DATE    = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
		 WHERE GATE_CD  = #{ses.gateCd}
		   AND PO_NO    = #{PO_NO}
		   AND PO_SEQ   = #{PO_SEQ}
		   AND DEL_FLAG = '0'
	</update>

	<!-- 납품서 삭제 -->
	<!-- STOUIVDT -->
	<update id="siv1030_doDeleteUIVDT" parameterType="hashmap">
		UPDATE STOUIVDT
		   SET DEL_FLAG    = '1'
		     , MOD_DATE    = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}
		   AND IV_SEQ  = #{IV_SEQ}
	</update>

	<!-- 납품완료건은 삭제 안됨 -->
	<select id="chkUivdt" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) COU
		FROM STOUIVDT
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}
		   AND IV_SEQ  = #{IV_SEQ}
		   AND <include refid="com.sql.nvl"/>(DELY_COMPLETE_FLAG, '0') = '1' -- 납품완료
		   AND DEL_FLAG = '0'
	</select>

	<select id="chkGrdt" parameterType="hashMap" resultType="int">
			SELECT COUNT(*) COU
			FROM STOCGRDT GRDT
			WHERE GRDT.GATE_CD  = #{ses.gateCd}
			AND GRDT.IV_NO = #{IV_NO}
			AND GRDT.IV_SEQ = #{IV_SEQ}
			AND GRDT.DEL_FLAG = '0'
	</select>

	<!-- STOYIVDT -->
	<update id="siv1030_doDeleteYIVDT" parameterType="hashmap">
		UPDATE STOYIVDT
		   SET DEL_FLAG    = '1'
		     , MOD_DATE    = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID = #{ses.userId}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}
		   AND IV_SEQ  = #{IV_SEQ}
	</update>

	<!-- STOUPODT -->
	<update id="siv1030_doDeleteUPODT" parameterType="hashmap">
		UPDATE STOUPODT
		   SET INV_QTY = (SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
						   WHERE GATE_CD  = #{ses.gateCd}
							 AND CUST_CD  = #{CUST_CD}
							 AND CPO_NO   = #{CPO_NO}
							 AND CPO_SEQ  = #{CPO_SEQ}
							 AND DEL_FLAG = '0')
			 , PROGRESS_CD = CASE WHEN ((SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
										  WHERE GATE_CD  = #{ses.gateCd}
										    AND CUST_CD  = #{CUST_CD}
											AND CPO_NO   = #{CPO_NO}
											AND CPO_SEQ  = #{CPO_SEQ}
											AND DEL_FLAG = '0')) > 0 THEN '6120'
								   ELSE '6100'
							 END
		 WHERE GATE_CD  = #{ses.gateCd}
		   AND CUST_CD  = #{CUST_CD}
		   AND CPO_NO   = #{CPO_NO}
		   AND CPO_SEQ  = #{CPO_SEQ}
		   AND DEL_FLAG = '0'
	</update>

	<!-- STOYPODT -->
	<update id="siv1030_doDeleteYPODT" parameterType="hashmap">
		UPDATE STOYPODT
		   SET INV_QTY = (SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
						   WHERE GATE_CD  = #{ses.gateCd}
							 AND PO_NO    = #{PO_NO}
							 AND PO_SEQ   = #{PO_SEQ}
							 AND DEL_FLAG = '0')
			 , PROGRESS_CD = CASE WHEN ((SELECT <include refid="com.sql.nvl"/>(SUM(INV_QTY), 0) FROM STOUIVDT
										  WHERE GATE_CD  = #{ses.gateCd}
											AND PO_NO    = #{PO_NO}
											AND PO_SEQ   = #{PO_SEQ}
											AND DEL_FLAG = '0')) > 0 THEN '6120'
								   ELSE '6100'
							 END
		 WHERE GATE_CD  = #{ses.gateCd}
		   AND PO_NO    = #{PO_NO}
		   AND PO_SEQ   = #{PO_SEQ}
		   AND DEL_FLAG = '0'
	</update>

	<!-- SIV1_030 -->
	<!-- 납품서 변경시 mail, sms 발송정보 가져오기 -->
    <select id="getInvChangeHeaderInfo" parameterType="hashMap" resultType="hashMap">
		SELECT
			  POHD.CPO_NO
			, <include refid="com.sql.toDateChar"/>(POHD.CPO_DATE, 'YYYY-MM-DD') AS CPO_DATE
			, POHD.CUST_CD
			, CUST.CUST_NM
			, POHD.CPO_USER_ID AS CUST_USER_ID
			, CVUR.USER_NM     AS CUST_USER_NM
			, POHD.CPO_USER_TEL_NUM  AS CUST_TEL_NUM
			, (CASE WHEN <include refid="com.sql.nvl"/>(CVUR.SMS_FLAG, '0') = '1' THEN POHD.CPO_USER_CELL_NUM ELSE '' END) AS CUST_CELL_NUM
			, (CASE WHEN <include refid="com.sql.nvl"/>(CVUR.MAIL_FLAG, '0') = '1' THEN CVUR.EMAIL ELSE '' END) AS CUST_EMAIL
			, USR.USER_ID  AS OPER_USER_ID
			, USR.USER_NM  AS OPER_USER_NM
			, USR.TEL_NUM  AS OPER_TEL_NUM
			, USR.CELL_NUM AS OPER_CELL_NUM
			, USR.EMAIL    AS OPER_EMAIL
		 FROM STOUPOHD POHD
		 JOIN STOCCUST CUST
		      ON (POHD.GATE_CD  = CUST.GATE_CD
		      AND POHD.CUST_CD  = CUST.CUST_CD)
		 JOIN STOCCVUR CVUR -- 고객사 주문자
			  ON (POHD.GATE_CD     = CVUR.GATE_CD
			  AND POHD.CUST_CD     = CVUR.COMPANY_CD
			  AND POHD.CPO_USER_ID = CVUR.USER_ID)
		 JOIN STOCUSER USR -- 운영사 진행관리담당자
		      ON (CUST.GATE_CD   = USR.GATE_CD
		      AND CUST.MANAGE_ID = USR.USER_ID)
		WHERE POHD.GATE_CD   = #{ses.gateCd}
		  AND POHD.CPO_NO    = #{CPO_NO}
	</select>

	<!-- 납품서 변경 DETAIL 가져오기 -->
	<select id="getInvChangeDetailInfo" parameterType="hashMap" resultType="hashMap">
		SELECT
			  PODT.ITEM_CD
			, PODT.ITEM_DESC
			, PODT.ITEM_SPEC
			, PODT.MAKER_CD
			, PODT.MAKER_NM
			, PODT.MAKER_PART_NO
			, PODT.BRAND_CD
			, PODT.BRAND_NM
			, PODT.ORIGIN_CD
			, PODT.UNIT_CD
			, PODT.VENDOR_CD
			, PODT.CUR
			<if test="_databaseId == 'mssql'">
			, REPLACE(CONVERT(VARCHAR(50), CAST(CONVERT(DECIMAL(25,2), PODT.CPO_QTY) AS MONEY), 1),'.00','') AS CPO_QTY
			, REPLACE(CONVERT(VARCHAR(50), CAST(CONVERT(DECIMAL(25,2), PODT.CPO_UNIT_PRICE) AS MONEY), 1),'.00','') AS UNIT_PRC
			, REPLACE(CONVERT(VARCHAR(50), CAST(CONVERT(DECIMAL(25,2), PODT.CPO_ITEM_AMT) AS MONEY), 1),'.00','') AS ITEM_AMT
			</if>
			<if test="_databaseId == 'oracle'">
			, REPLACE(TO_CHAR(PODT.CPO_QTY),'.00','') AS CPO_QTY
			, REPLACE(TO_CHAR(PODT.CPO_UNIT_PRICE),'.00','') AS UNIT_PRC
			, REPLACE(TO_CHAR(PODT.CPO_ITEM_AMT),'.00','') AS ITEM_AMT
			</if>
			, PODT.TAX_CD
			, PODT.LEAD_TIME
			, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.dbo"/>fn_GetTotalWorkingDaysFromParamDate(POHD.CPO_DATE, <include refid="com.sql.nvl"/>(PODT.LEAD_TIME, 0)), 'YYYY-MM-DD') AS LEAD_TIME_DATE -- 표준납기일자
			, <include refid="com.sql.toDateChar"/>(PODT.HOPE_DUE_DATE, 'YYYY-MM-DD') AS HOPE_DUE_DATE
			, PODT.RECIPIENT_NM
			, PODT.RECIPIENT_DEPT_NM
			, PODT.RECIPIENT_TEL_NUM
			, PODT.RECIPIENT_CELL_NUM
			, PODT.DELY_ZIP_CD
			, PODT.DELY_ADDR_1
			, PODT.DELY_ADDR_2
			, PODT.AUTO_PO_FLAG
			, <include refid="com.sql.toDateChar"/>(IVHD.DELY_APP_DATE, 'YYYY-MM-DD') AS DELY_APP_DATE
			, <include refid="com.sql.dbo"/>GETCODENAME(IVDT.GATE_CD,'MP067',IVDT.DELY_DELAY_CD,#{ses.langCd}) AS DELY_DELAY_NM
			, IVDT.DELY_DELAY_REASON
		  FROM STOYIVDT IVDT
		  JOIN STOYIVHD IVHD
		       ON (IVDT.GATE_CD  = IVHD.GATE_CD
		       AND IVDT.IV_NO    = IVHD.IV_NO
		       AND IVHD.DEL_FLAG = '0')
		  JOIN STOYPODT PODT
		       ON (IVDT.GATE_CD  = PODT.GATE_CD
		       AND IVDT.PO_NO    = PODT.PO_NO
		       AND IVDT.PO_SEQ   = PODT.PO_SEQ
		       AND PODT.DEL_FLAG = '0')
		  JOIN STOYPOHD POHD
		       ON (PODT.GATE_CD  = POHD.GATE_CD
		       AND PODT.PO_NO    = POHD.PO_NO
		       AND POHD.DEL_FLAG = '0')
		 WHERE IVDT.GATE_CD  = #{ses.gateCd}
		   AND IVDT.IV_NO <include refid="com.sql.stringMerge"/> <if test="_databaseId == 'mssql'">CONVERT(NVARCHAR(10), IVDT.IV_SEQ)</if> <if test="_databaseId == 'oracle'">TO_CHAR(IVDT.IV_SEQ)</if>IN
		<foreach item="ivSeqMap" collection="ivSeqList" open="(" separator="," close=")">
			  #{ivSeqMap.IV_NO_SEQ}
       	</foreach>
		   AND IVDT.DEL_FLAG  = '0'
	</select>



























	<update id="siv1030_doUpdateUIVDT2" parameterType="hashmap">
		UPDATE STOUIVDT
		   SET
			   DELY_DELAY_CD = #{DELY_DELAY_CD}
			 , DELY_DELAY_REASON = #{DELY_DELAY_REASON}
			 , DELY_COMPANY_NM   = #{DELY_COMPANY_NM}
			 , WAYBILL_NO    = #{WAYBILL_NO}
		     , MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID   = #{ses.userId}
			 , DELY_TYPE = #{DELY_TYPE}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}  -- 공급사 납품번호
		   AND IV_SEQ  = #{IV_SEQ} -- 공급사 납품항번
	</update>

	<!-- STOYIVDT -->
	<update id="siv1030_doUpdateYIVDT2" parameterType="hashmap">
		UPDATE STOYIVDT
		   SET DELY_DELAY_CD = #{DELY_DELAY_CD}
			 , DELY_DELAY_REASON = #{DELY_DELAY_REASON}
			 , DELY_COMPANY_NM   = #{DELY_COMPANY_NM}
			 , WAYBILL_NO    = #{WAYBILL_NO}
		     , MOD_DATE      = <include refid="com.sql.sysdate"/>
			 , MOD_USER_ID   = #{ses.userId}
			 , DELY_TYPE = #{DELY_TYPE}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND IV_NO   = #{IV_NO}
		   AND IV_SEQ  = #{IV_SEQ}
	</update>









</mapper>