body{
    margin: 0;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }
th{
    font-size: 17px;
}
td{
    width: 45px;
    height: 35px;
    font-size: 15px;
}
.container{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}



.td_sun{
    color: red;
    font-size: 18px;
}
.td_sat{
    color: blue;
    font-size: 18px;
}


.item{
    text-align: center;
    font-size: 18px;
}
#today{
    width: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
#week{
    font-size: 20px;
}
#date{
    font-size: 10px;
}
.top-bar{
    display: inline;
    font-weight: bold;
    font-size: 15px;
}
.today-circle{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border-width: 3px;
    background-color: purple;
    color: white;
}
.click-circle{
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border-width: 2px;
    border-style: solid;
    border-color: purple;
}