@charset "UTF-8";

/* Layout */
.northPanel {
    padding: 0px;
    margin: 0px;
}

.ui-layout-north {
    padding: 0px;
    overflow: hidden;
}

.ui-layout-south {
    padding: 0px;
    overflow: hidden;
}

.ui-layout-west {
    padding: 0px;
}

.ui-layout-center {
    padding: 0px;
    overflow: hidden;
}

.logo-container {
    height: 72px;
    width: 290px;
}

#logo {
    top: 13px;
    left: 82px;
    height: 46px;
    width: 126px;
    margin: 0;
    cursor: pointer;
}

.e-userinfo-button {
    background: url(/resource/kakao/assets/images/btn_mypage_normal.png) 50% 50% no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    width: 31px;
    margin-right: 4px;
}

.e-userinfo-button:hover {
    background: url(/resource/kakao/assets/images/btn_mypage_over.png) 50% 50% no-repeat;
}

.e-logout-button {
    background: url(/resource/kakao/assets/images/btn_logout_normal.png) 50% 50% no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    width: 31px;
}

.e-logout-button:hover {
    background: url(/resource/kakao/assets/images/btn_logout_over.png) 50% 50% no-repeat;
}

.e-userinfo-container {
    background-color: #e8f5fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 84px;
    width: 100%;
}

.e-userinfo-container {
    position: relative;
}

.e-userinfo-dept-name {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000;
    font-size: 18px;
    height: 18px;
    font-weight: 500;
}

.e-userinfo-user-name {
    position: absolute;
    top: 46px;
    left: 20px;
    color: #666;
}

.e-userinfo-button-container {
    position: absolute;
    right: 20px;
    top: 27px;
}

@media(max-height: 770px) {
    .e-topmenu-wrapper {
        height: 74px !important;
        background-position-y: 35% !important;
    }

    .e-topmenu-text-wrapper {
        top: 44px !important;
    }
}

.e-topmenu-wrapper {
    cursor: pointer;
    height: 80px;
    width: 74px;
    position: relative;
    display: block;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
}

.e-topmenu-wrapper:hover {
    background-color: #2d91da !important;
}

.e-topmenu-text-wrapper {
    line-height: 12px;
    padding: 0;
    top: 48px;
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Others */
#MP {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_mypage.png);
}

#PM {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_purchase.png);
}

#HP {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_hospital.png);
}

#FD {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_funds.png);
}

#WM {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_storage.png);
}

#SA {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_sales.png);
}

#AP {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_confirm.png);
}

#CO {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_info.png);
}

#MA {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/resource/kakao/assets/images/ico_system.png);
}

.e-topmenu-selected {
    background-color: #2d91da !important;
}

.e-topmenu-selected .e-topmenu-text {
    font-weight: 500;
}

.e-topmenu-text {
    width: 88px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    top: 30px;
}

.menu-container {
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.e-window-container {
    box-sizing: border-box;
    padding: 0 !important;
}

.e-window-container-body {
    box-sizing: border-box;
    height: 100%;
}

body {
    position: relative;
    /*min-width: 1366px;*/
}

/* 메인 site map */
.sitemap {
    position: relative;
    top: 12px;
    left: 288px;
    width: calc(100% - 288px);
    z-index: 100000;
    border: 1px solid #BBB;
    background: #fff;
}

.sitemap:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: ""
}

.sitemap div {
    float: left;
    /* min-width: 100px; */
    width: calc(100% / 8);
}

.sitemap div p {
    font-size: 13px;
    font-family: dotum;
    color: #393939;
    font-weight: bold;
}

.sitemap div ul li {
    line-height: 185%;
    list-style: none;
    color: #0020ff;
    padding: 0px 0;
    font-size: 12px;
    font-family: dotum;
}

.sitemap div ul li a {
    color: #393939;
    font-size: 11px;
    font-family: dotum;
    margin-left: 15px;
}

.sitemap div ul li a:hover {
    background-color: #19afe1;
    color: #fff;
    padding: 5px 3px
}

.scrollbar {
    height: 100%;
    overflow-y: auto;
}

.force-overflow {
    width: 215px !important;
}

.sitemap .force-overflow ul {
    padding-left: 10px;
}

#sitemapMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#sitemapMenu::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#sitemapMenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.allMenu {
    position: relative;
    left: 99%;
    z-index: 1;
    top: 5px;
}

.btn-layerClose {
    position: absolute;
    left: 99%;
}

.sitemap .e-icon-bookmark-off {
    background: url(/images/everuxf/theme/kakao/icons/bookmark.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.sitemap .e-icon-bookmark-on {
    background: url(/images/everuxf/theme/kakao/icons/bookmark.png) no-repeat -32px 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.sitemap .e-window-toolbar {
    width: 10px !important;
}

.fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

* {
    font-family: 'SUIT', 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', '맑은 고딕', sans-serif;
    letter-spacing: -0.5px;
}

.context-menu-item {
    background-position: 4px 5px;
    background-repeat: no-repeat;
}
.context-menu-item.context-menu-icon-ui-tab--arrow {
    background-image: url(/images/icon/ui-tab--arrow.png);
}
.context-menu-item.context-menu-icon-ui-tab--minus {
    background-image: url(/images/icon/ui-tab--minus.png);
}
.context-menu-item.context-menu-icon-ui-tab--plus {
    background-image: url(/images/icon/ui-tab--plus.png);
}
