@charset "utf-8";

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('/design/fonts/NotoSans-Regular.eot');
	src: url('/design/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/NotoSans-Regular.woff2') format('woff2'),
		 url('/design/fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'), url('/design/fonts/NotoSans-Medium.eot');
	src: url('/design/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/NotoSans-Medium.woff2') format('woff2'),
		 url('/design/fonts/NotoSans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('/design/fonts/NotoSans-Bold.eot');
	src: url('/design/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/NotoSans-Bold.woff2') format('woff2'),
		 url('/design/fonts/NotoSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 200;
	src: local('NotoSansKR Light'), local('NotoSansKR-Light'), url('/design/fonts/NotoSansKR-Light.eot');
	src: url('/design/fonts/NotoSansKR-Light?#iefix') format('embedded-opentype'),
		 url('/design/fonts/NotoSansKR-Light.woff2') format('woff2'),
		 url('/design/fonts/NotoSansKR-Light.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 900;
	src: local('NotoSansKR Black'), local('NotoSansKR-Black'), url('/design/fonts/NotoSansKR-Black.eot');
	src: url('/design/fonts/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/NotoSansKR-Black.woff2') format('woff2'),
		 url('/design/fonts/NotoSansKR-Black.woff') format('woff');
}

@font-face {
	font-family: 'PoppinsBold';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Bold'), local('Poppins-Bold'), url('/design/fonts/Poppins-Bold.eot');
	src: url('/design/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/Poppins-Bold.woff2') format('woff2'),
		 url('/design/fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
	font-family: 'PoppinsLight';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins Light'), local('Poppins-Light'), url('/design/fonts/Poppins-Light.eot');
	src: url('/design/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/Poppins-Light.woff2') format('woff2'),
		 url('/design/fonts/Poppins-Light.woff') format('woff');
}

@font-face {
	font-family: 'PoppinsSemiBold';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('/design/fonts/Poppins-SemiBold.eot');
	src: url('/design/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('/design/fonts/Poppins-SemiBold.woff2') format('woff2'),
		 url('/design/fonts/Poppins-SemiBold.woff') format('woff');
}

