<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 02 08:25:38 KST 2012-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.evermp.BNM1.BNM101_Mapper">

	<insert id="bnm1010_doInsert" parameterType="hashmap">

		INSERT INTO STOUNWRQ (
			  GATE_CD
             ,CUST_CD
             ,ITEM_REQ_NO
             ,ITEM_REQ_SEQ
             ,REG_DATE
             ,REG_USER_ID
             ,MOD_DATE
             ,MOD_USER_ID
             ,DEL_FLAG
             ,PROGRESS_CD
             ,BUDGET_DEPT_CD
             ,CUST_ITEM_CD
             ,ITEM_CD
             ,ITEM_DESC
             ,ITEM_SPEC
             ,MAKER_NM
             ,MODEL_NM
             ,ORIGIN_NM
             ,UNIT_CD
             ,PIC_USER_NM
             ,EST_YEAR_QT
             ,PREV_UNIT_PRICE
             ,CUR
             ,EST_PO_QT
             ,REQUEST_DATE
             ,ITEM_RMK
             ,RFQ_REQ_TXT
             ,REQ_TXT
             ,IMAGE_UUID
             ,ATTACH_FILE_NO
             ,AUTO_PO_FLAG
             ,ACCOUNT_CD
             ,RECIPIENT_NM
             ,RECIPIENT_DEPT_NM
             ,RECIPIENT_TEL_NO
             ,RECIPIENT_CELL_NO
             ,DELY_ZIP_CD
             ,DELY_ADDR_1
             ,DELY_ADDR_2
             ,CPO_NO
             ,CPO_SEQ
             ,CMS_CTRL_USER_ID
             ,CMS_MAPPING_DATE
             ,SG_CTRL_USER_ID
             ,RE_REQ_CODE
             ,STD_FLAG
             ,RE_REQ_REASON
             ,CMS_MAKER_CD
             ,CMS_MAKER_NM
             ,CMS_ORIGIN_CD
             ,ITEM_CLS1
             ,ITEM_CLS2
             ,ITEM_CLS3
             ,ITEM_CLS4
             ,AGENT_USER_ID
             ,AGENT_ADD_DATE
             ,CMS_RMK
             ,MANUAL_CONT_FLAG
             ,MOVE_REASON
             ,ERP_USE_FLAG
             ,OPERATOR_FLAG
             ,PLANT_CD
             ,PIC_TEL_NO
             ,HOPE_DUE_DATE
             ,EST_PO_DATE
             ,HOPE_UNIT_PRICE
             ,REQ_DEPT_CD
	         ,REQ_DIVISION_CD
	         ,REFER_URL
             ,PREV_VENDOR_NM
             ,REQUEST_USER_ID
             ,ERP_IF_FLAG
		) VALUES (
			  #{ses.gateCd}
             ,#{ses.companyCd}
             ,#{ITEM_REQ_NO}
             ,(SELECT <include refid="com.sql.nvl"/>(MAX(TO_NUMBER(ITEM_REQ_SEQ)),0) + 1 FROM STOUNWRQ WHERE GATE_CD=#{ses.gateCd} AND CUST_CD = #{ses.companyCd} AND ITEM_REQ_NO = #{ITEM_REQ_NO} )
             ,<include refid="com.sql.sysdate"/>
             ,#{ses.userId}
             ,<include refid="com.sql.sysdate"/>
             ,#{ses.userId}
             ,'0'
             ,#{PROGRESS_CD}
             ,#{BUDGET_DEPT_CD}
             ,#{CUST_ITEM_CD}
             ,null -- ITEM_CD
             ,#{ITEM_DESC}
             ,#{ITEM_SPEC}
             ,#{MAKER_NM}
             ,#{MODEL_NM}
             ,#{ORIGIN_NM}
             ,#{UNIT_CD}
             ,#{PIC_USER_NM}
             ,(CASE WHEN (#{EST_YEAR_QT} IS NULL OR #{EST_YEAR_QT} = '') THEN 0 ELSE to_number(#{EST_YEAR_QT}) END)
             ,(CASE WHEN (#{PREV_UNIT_PRICE} IS NULL OR #{PREV_UNIT_PRICE} = '') THEN 0 ELSE to_number(#{PREV_UNIT_PRICE}) END)
             ,#{CUR}
             ,(CASE WHEN (#{EST_PO_QT} IS NULL OR #{EST_PO_QT} = '') THEN 0 ELSE to_number(#{EST_PO_QT}) END)
             ,<include refid="com.sql.sysdate"/>
             ,#{ITEM_RMK}
             ,#{REQ_TXT}
             ,#{REQ_TXT}
             ,#{IMAGE_UUID}
             ,#{ATTACH_FILE_NO}
             ,#{AUTO_PO_FLAG}
             ,#{ACCOUNT_CD}
             ,#{RECIPIENT_NM}
             ,#{RECIPIENT_DEPT_NM}
             ,#{RECIPIENT_TEL_NO}
             ,#{RECIPIENT_CELL_NO}
             ,#{DELY_ZIP_CD}
             ,#{DELY_ADDR_1}
             ,#{DELY_ADDR_2}
             ,null -- CPO_NO
             ,null -- CPO_SEQ
             ,<include refid="com.sql.nvl"/>((SELECT COST_CENTER_NMG_ID FROM STOUCOST
                       WHERE GATE_CD = #{ses.gateCd}
                         AND CUST_CD = #{ses.companyCd}
                         AND COST_CENTER_CD = ''
                     ), <include refid="com.sql.nvl"/>((SELECT OGDP.MANAGE_ID FROM STOCOGDP OGDP
                                 WHERE OGDP.GATE_CD = #{ses.gateCd}
                                   AND OGDP.DEL_FLAG = '0'
                                   AND OGDP.BUYER_CD = #{ses.companyCd}
                                   AND OGDP.PLANT_CD = #{ses.plantCd}
                                   AND OGDP.DIVISION_CD = #{ses.divisionCd}
                                   AND OGDP.DEPT_CD = #{ses.deptCd}
                                   AND OGDP.PART_CD = #{ses.partCd})
                              ,(SELECT MANAGE_ID FROM STOCCUST
                                 WHERE GATE_CD = #{ses.gateCd}
                                   AND CUST_CD = #{ses.companyCd})))
             ,null -- CMS_MAPPING_DATE
             ,null -- SG_CTRL_USER_ID
             ,null -- RE_REQ_CODE
             ,null -- STD_FLAG
             ,null -- RE_REQ_REASON
             ,null -- CMS_MAKER_CD
             ,null -- CMS_MAKER_NM
             ,null -- CMS_ORIGIN_CD
             ,null -- ITEM_CLS1
             ,null -- ITEM_CLS2
             ,null -- ITEM_CLS3
             ,null -- ITEM_CLS4
             ,null -- AGENT_USER_ID
             ,null -- AGENT_ADD_DATE
             ,null -- CMS_RMK
             ,null -- MANUAL_CONT_FLAG
             ,null -- MOVE_REASON
             ,null -- ERP_USE_FLAG
             ,#{OPERATOR_FLAG}
             ,#{ses.plantCd}
             ,#{PIC_TEL_NO}
             ,#{HOPE_DUE_DATE}
             ,#{EST_PO_DATE}
             ,${HOPE_UNIT_PRICE}
             ,#{ses.deptCd}
             ,#{ses.divisionCd}
             ,#{REFER_URL}
             ,#{PREV_VENDOR_NM}
             ,#{REQUEST_USER_ID}
             ,<include refid="com.sql.nvl"/>((SELECT CASE WHEN ERP_IF_FLAG = '1' THEN 'T' ELSE '' END
             									FROM STOCCUST
             								   WHERE GATE_CD = #{ses.gateCd}
             								     AND CUST_CD = #{ses.companyCd}), '')	-- DGNS I/F 여부
		)
    </insert>

	<!-- 고객사 신규상품 요청 후 "운영사 상품담당자"에게 메일 발송 -->
    <select id="bnm1010_doSaveSELECT_MAIL" parameterType="hashmap" resultType="hashMap">

        SELECT
             USR.USER_ID
            ,USR.USER_NM
            ,USR.EMAIL
          FROM STOCBACP BACP
          JOIN STOCUSER USR
	           ON (BACP.GATE_CD = USR.GATE_CD
	           AND BACP.CTRL_USER_ID = USR.USER_ID
	           AND <include refid="com.sql.nvl"/>(USR.MAIL_FLAG, '0') = '1'
	           AND USR.PROGRESS_CD = 'E'
	           AND USR.USE_FLAG = '1'
	           AND USR.DEL_FLAG = '0')
         WHERE BACP.GATE_CD  = #{ses.gateCd}
           AND BACP.BUYER_CD = #{ses.manageCd}
           AND BACP.CTRL_CD  = #{CTRL_CD}
           AND BACP.USE_FLAG = '1'
           AND BACP.DEL_FLAG = '0'
    </select>

	<update id="bnm1010_doUpdate" parameterType="hashmap">

		UPDATE STOUNWRQ SET
			 MOD_DATE = <include refid="com.sql.sysdate"/>
			,MOD_USER_ID = #{ses.userId}
			,PROGRESS_CD = #{PROGRESS_CD}
            ,ITEM_DESC = #{ITEM_DESC}
            ,ITEM_SPEC = #{ITEM_SPEC}
            ,MAKER_NM = #{MAKER_NM}
            ,MODEL_NM = #{MODEL_NM}
            ,ORIGIN_NM = #{ORIGIN_NM}
            ,UNIT_CD = #{UNIT_CD}
            ,EST_YEAR_QT = #{EST_YEAR_QT}
            ,PREV_VENDOR_NM = #{PREV_VENDOR_NM}
            ,EST_PO_DATE = #{EST_PO_DATE}
            ,HOPE_UNIT_PRICE = #{HOPE_UNIT_PRICE}
            ,HOPE_DUE_DATE = #{HOPE_DUE_DATE}
            ,EST_PO_QT = #{EST_PO_QT}
            ,PIC_USER_NM = #{PIC_USER_NM}
            ,PIC_TEL_NO = #{PIC_TEL_NO}
            ,ITEM_RMK = #{ITEM_RMK}
            ,IMAGE_UUID = #{IMAGE_UUID}
            ,RFQ_REQ_TXT = #{RFQ_REQ_TXT}
            ,ATTACH_FILE_NO = #{ATTACH_FILE_NO}
            ,AUTO_PO_FLAG = #{AUTO_PO_FLAG}
            ,CUR = #{CUR}
            ,BUDGET_DEPT_CD = #{BUDGET_DEPT_CD}
            ,ACCOUNT_CD = #{ACCOUNT_CD}
            ,RECIPIENT_NM = #{RECIPIENT_NM}
            ,RECIPIENT_DEPT_NM = #{RECIPIENT_DEPT_NM}
            ,RECIPIENT_TEL_NO = #{RECIPIENT_TEL_NO}
            ,RECIPIENT_CELL_NO = #{RECIPIENT_CELL_NO}
            ,DELY_ZIP_CD = #{DELY_ZIP_CD}
            ,DELY_ADDR_1 = #{DELY_ADDR_1}
            ,DELY_ADDR_2 = #{DELY_ADDR_2}
            ,REQ_TXT = #{REQ_TXT}
            ,REQUEST_DATE = <include refid="com.sql.sysdate"/>
            ,OPERATOR_FLAG = <include refid="com.sql.nvl"/>(#{OPERATOR_FLAG}, '1')
            ,REFER_URL = #{REFER_URL}
		 WHERE GATE_CD = #{ses.gateCd}
		   AND CUST_CD = #{CUST_CD}
		   AND ITEM_REQ_NO = #{ITEM_REQ_NO}
		   AND ITEM_REQ_SEQ = #{ITEM_REQ_SEQ}

    </update>

    <select id="getInsujaInfo" parameterType="hashmap" resultType="hashMap">

		SELECT
			 DELY_ZIP_CD
			,DELY_ADDR_1
			,DELY_ADDR_2
		  FROM STOCCVUR
		 WHERE GATE_CD = #{ses.gateCd}
		   AND USER_ID = #{ses.userId}

	</select>

	<!-- 신규상품요청(건별) (BNM1_011) -->
    <select id="bnm1011_doSearchForm" parameterType="hashmap" resultType="hashMap">

		SELECT
			  RQ.CUST_ITEM_CD
			,<include refid="com.sql.dbo"/>getUserName(RQ.GATE_CD, RQ.REQUEST_USER_ID, #{ses.langCd}) <include refid="com.sql.stringMerge"/> ' / ' <include refid="com.sql.stringMerge"/> <include refid="com.sql.toDateChar"/>(RQ.REG_DATE, 'YYYY-MM-DD HH24:MI') AS REQ_INFO
			, RQ.ITEM_DESC
			, RQ.ITEM_SPEC
			, RQ.MAKER_NM
			, RQ.MODEL_NM
			, RQ.ORIGIN_NM
			, RQ.UNIT_CD
			, RQ.EST_YEAR_QT
			, RQ.PREV_VENDOR_NM
			,<include refid="com.sql.toDateChar"/>(RQ.EST_PO_DATE, 'yyyyMMdd') AS EST_PO_DATE
			, RQ.PREV_UNIT_PRICE
			,<include refid="com.sql.toDateChar"/>(RQ.HOPE_DUE_DATE, 'yyyyMMdd') AS HOPE_DUE_DATE
			, RQ.EST_PO_QT
			, RQ.PIC_USER_NM
			, RQ.PIC_TEL_NO
			, RQ.ITEM_RMK
			, RQ.IMAGE_UUID
			, RQ.RFQ_REQ_TXT
			, RQ.ATTACH_FILE_NO
			, RQ.AUTO_PO_FLAG
			, RQ.CUR
			, RQ.BUDGET_DEPT_CD
			, RQ.EST_YEAR_QT
			, RQ.HOPE_UNIT_PRICE
			,(SELECT DP.DEPT_NM FROM STOCOGDP DP
			   WHERE DP.GATE_CD = RQ.GATE_CD
			     AND DP.BUYER_CD = RQ.CUST_CD
				 AND DP.DEPT_TYPE = '200'
				 AND DP.DEL_FLAG = '0'
				 AND DP.DEPT_CD = RQ.BUDGET_DEPT_CD) AS BUDGET_DEPT_NM
			, RQ.ACCOUNT_CD
			,(SELECT AC.ACCOUNT_NM FROM STOCCUAC AC
			   WHERE AC.GATE_CD = RQ.GATE_CD
			     AND AC.CUST_CD = RQ.CUST_CD
				 AND AC.DEL_FLAG = '0'
				 AND AC.ACCOUNT_CD = RQ.ACCOUNT_CD) AS ACCOUNT_NM
			, RQ.REQ_TXT
			, RQ.REFER_URL
			, RQ.CUST_CD
			, RQ.REQ_DEPT_CD
			, RQ.ITEM_REQ_NO
			, RQ.ITEM_REQ_SEQ
			, RQ.PROGRESS_CD
			, RQ.REG_USER_ID
		  FROM STOUNWRQ RQ
		 WHERE RQ.GATE_CD = #{ses.gateCd}
		   AND RQ.CUST_CD = #{CUST_CD}
		   AND RQ.ITEM_REQ_NO  = #{ITEM_REQ_NO}
		   AND RQ.ITEM_REQ_SEQ = #{ITEM_REQ_SEQ}
	</select>

	<!-- 주문 Cart 등록 -->
    <insert id="bnm1032_doAddCart" parameterType="hashMap">
        INSERT INTO STOUCART (
              GATE_CD
            , REG_DATE
            , REG_USER_ID
            , DEL_FLAG
            , USER_ID
            , ITEM_CD
            , CART_QT
            , APPLY_COM
            , APPLY_PLANT
            , CONT_NO
            , CONT_SEQ
        ) VALUES (
              #{ses.gateCd}
            , <include refid="com.sql.sysdate"/>
            , #{ses.userId}
            , '0'
            , #{ses.userId}
            , #{ITEM_CD}
            , #{CART_QT}
            , #{APPLY_COM}
            , #{APPLY_PLANT}
            , #{CONT_NO}
            , #{CONT_SEQ}
        )
    </insert>

    <!-- 신규상품 요청서 고객사 승인/거절, 신규상품 견적서 고객사 합의완료 -->
    <update id="bnm1030_doUpdateProgressCd" parameterType="hashMap">

        UPDATE STOUNWRQ SET
              PROGRESS_CD = #{PROGRESS_CD}
            , RE_REQ_REJECT_RMK = #{RE_REQ_REJECT_RMK}
            , MOD_DATE = <include refid="com.sql.sysdate"/>
            , MOD_USER_ID = #{ses.userId}
         WHERE GATE_CD = #{ses.gateCd}
           AND CUST_CD = #{CUST_CD}
           AND ITEM_REQ_NO = #{ITEM_REQ_NO}
           AND ITEM_REQ_SEQ = #{ITEM_REQ_SEQ}
    </update>

    <!-- 신규상품 견적서 고객사 합의거절 -->
    <update id="bnm1031_doUpdateProgressCd" parameterType="hashMap">

        UPDATE STOUNWRQ SET
              PROGRESS_CD = #{PROGRESS_CD}
            , SOURCING_REJECT_RMK = #{SOURCING_REJECT_RMK}
            , MOD_DATE = <include refid="com.sql.sysdate"/>
            , MOD_USER_ID = #{ses.userId}
         WHERE GATE_CD = #{ses.gateCd}
           AND CUST_CD = #{CUST_CD}
           AND ITEM_REQ_NO = #{ITEM_REQ_NO}
           AND ITEM_REQ_SEQ = #{ITEM_REQ_SEQ}
    </update>

    <select id="getCnInfo" parameterType="hashMap" resultType="hashMap">

        SELECT
        	  CNDT.EXEC_NUM
        	, CNDT.EXEC_SQ
        	, RQDT.RFQ_NUM
        	, RQDT.RFQ_CNT
        	, RQDT.RFQ_SQ
        	, NWRQ.ITEM_REQ_NO
        	, NWRQ.ITEM_REQ_SEQ
        	, CNDT.QTA_NUM
        	, CNDT.QTA_SQ
        	, CNDT.VENDOR_CD
        	, CNDT.CONT_UNIT_PRC
        	,(CASE WHEN RQDT.PROGRESS_CD = '600' THEN '0'	-- 계약완료(600)
        		   ELSE (CASE WHEN NWRQ.CPO_NO IS NOT NULL OR RQDT.CUST_REQ_FLAG = '1' THEN '1' ELSE '0' END)	-- 고객사 신규품목 요청여부(DGNS I/F 여부)
        	  END) AS CUST_REQ_FLAG
        	, NWRQ.CUST_CD
        	, NWRQ.PLANT_CD
        	, NWRQ.CPO_NO  AS PR_NO		-- DGNS I/F일 경우  연결 KEY값
        	, NWRQ.CPO_SEQ AS PR_SEQ	-- DGNS I/F일 경우  연결 KEY값
          FROM STOCCNDT CNDT
          JOIN STOCCNHD CNHD
	           ON (CNDT.GATE_CD  = CNHD.GATE_CD
	           AND CNDT.EXEC_NUM = CNHD.EXEC_NUM
	           AND CNHD.DEL_FLAG = '0')
          JOIN STOCRQDT RQDT
	           ON (CNDT.GATE_CD  = RQDT.GATE_CD
	           AND CNDT.RFQ_NUM  = RQDT.RFQ_NUM
	           AND CNDT.RFQ_CNT  = RQDT.RFQ_CNT
	           AND CNDT.RFQ_SQ   = RQDT.RFQ_SQ
	           AND RQDT.DEL_FLAG = '0')
	      LEFT JOIN STOUNWRQ NWRQ
	      	   ON (CNDT.GATE_CD  = NWRQ.GATE_CD
	      	   AND CNDT.ITEM_REQ_NO  = NWRQ.ITEM_REQ_NO
	      	   AND CNDT.ITEM_REQ_SEQ = NWRQ.ITEM_REQ_SEQ
	      	   AND NWRQ.DEL_FLAG = '0')
	      LEFT JOIN STOCMTGL MTGL
	      	   ON (CNDT.GATE_CD  = MTGL.GATE_CD
	      	   AND CNDT.ITEM_CD  = MTGL.ITEM_CD
	      	   AND MTGL.DEL_FLAG = '0')
         WHERE CNDT.GATE_CD  = #{ses.gateCd}
           AND CNDT.EXEC_NUM = #{EXEC_NUM}
           AND CNDT.EXEC_SQ  = #{EXEC_SQ}
    </select>

    <update id="updateStatusRQDT" parameterType="hashMap">

        UPDATE STOCRQDT SET
             MOD_DATE = <include refid="com.sql.sysdate"/>
            ,MOD_USER_ID = #{ses.userId}
            ,PROGRESS_CD = #{PROGRESS_CD}
         WHERE GATE_CD = #{ses.gateCd}
           AND RFQ_NUM = #{RFQ_NUM}
           AND RFQ_CNT = #{RFQ_CNT}
           AND RFQ_SQ = #{RFQ_SQ}

    </update>

    <update id="updateStatusQTDT" parameterType="hashMap">

        UPDATE STOCQTDT SET
             MOD_DATE = <include refid="com.sql.sysdate"/>
            ,MOD_USER_ID = #{ses.userId}
            ,CONT_UNIT_PRC = #{CONT_UNIT_PRC}
         WHERE GATE_CD = #{ses.gateCd}
           AND QTA_NUM = #{QTA_NUM}
           AND QTA_SQ = #{QTA_SQ}

    </update>

    <update id="updateStatusNWRQ" parameterType="hashMap">

        UPDATE STOUNWRQ SET
             MOD_DATE = <include refid="com.sql.sysdate"/>
            ,MOD_USER_ID = #{ses.userId}
            ,PROGRESS_CD = #{PROGRESS_CD}
         WHERE GATE_CD = #{ses.gateCd}
           AND CUST_CD = #{CUST_CD}
           AND ITEM_REQ_NO = #{ITEM_REQ_NO}
           AND ITEM_REQ_SEQ = #{ITEM_REQ_SEQ}

    </update>

    <select id="getRqhdProgressCd" parameterType="hashMap" resultType="java.lang.String">

        SELECT
            (CASE WHEN B.TOTAL_CNT = B.END_CNT THEN '600'
                  ELSE (SELECT RQHD.PROGRESS_CD FROM STOCRQHD RQHD
                         WHERE RQHD.GATE_CD = #{ses.gateCd}
                           AND RQHD.RFQ_NUM = #{RFQ_NUM}
                           AND RQHD.RFQ_CNT = #{RFQ_CNT}) END) AS PROGRESS_CD
        FROM (
        SELECT
            SUM(TOTAL_CNT) AS TOTAL_CNT
            ,SUM(END_CNT) AS END_CNT
          FROM (
            SELECT
                  COUNT(RFQ_SQ) AS TOTAL_CNT
                 ,0 AS END_CNT
              FROM STOCRQDT
             WHERE GATE_CD = #{ses.gateCd}
               AND RFQ_NUM = #{RFQ_NUM}
               AND RFQ_CNT = #{RFQ_CNT}
               AND DEL_FLAG = '0'

            UNION ALL

            SELECT
                  0 AS TOTAL_CNT
                 ,COUNT(RFQ_SQ) AS END_CNT
              FROM STOCRQDT
             WHERE GATE_CD = #{ses.gateCd}
               AND RFQ_NUM = #{RFQ_NUM}
               AND RFQ_CNT = #{RFQ_CNT}
               AND DEL_FLAG = '0'
               AND CAST(PROGRESS_CD AS INT) <![CDATA[>=]]> 600
          ) A
        ) B

    </select>

    <update id="doUpdateProgressCdRQHD" parameterType="hashMap">

        UPDATE STOCRQHD SET
             MOD_DATE = <include refid="com.sql.sysdate"/>
            ,MOD_USER_ID = #{ses.userId}
            ,PROGRESS_CD = #{PROGRESS_CD}
         WHERE GATE_CD = #{ses.gateCd}
           AND RFQ_NUM = #{RFQ_NUM}
           AND RFQ_CNT = #{RFQ_CNT}

    </update>

	<!-- 고객사 견적서 합의완료 후 매입계약 대상목록 가져오기 -->
    <select id="getCnVendorList" parameterType="hashMap" resultType="hashMap">

        SELECT
        	  CNDT.EXEC_NUM
        	 ,CNDT.EXEC_SQ
        	 ,CNDT.VENDOR_CD
          FROM STOCCNDT CNDT
         WHERE CNDT.GATE_CD  = #{ses.gateCd}
           AND CNDT.EXEC_NUM = #{EXEC_NUM}
           AND CNDT.EXEC_SQ  = #{EXEC_SQ}
           AND CNDT.DEL_FLAG = '0'
         GROUP BY CNDT.EXEC_NUM, CNDT.EXEC_SQ, CNDT.VENDOR_CD
    </select>

	<!-- 고객사 견적서 합의완료 후 매입계약 대상목록 가져오기 -->
    <select id="getYinfoByVendors" parameterType="hashMap" resultType="hashMap">
	     SELECT A.VENDOR_CD
	          , A.EXEC_NUM
	          , A.EXEC_SQ
			  ,(CASE WHEN A.APPLY_PLANT = '*' THEN A.APPLY_TARGET_CD
				     ELSE A.CUST_CD
			    END) AS APPLY_TARGET_CD
	       FROM (
		      SELECT CNDT.VENDOR_CD
			       , CNDT.EXEC_NUM
			       , CNDT.EXEC_SQ
				   , CNDT.CUST_CD
				   , CNDT.APPLY_PLANT
				   -- 공통단가인 경우 DGNS I/F 고객사 전체 단가 생성 ELSE 해당 고객사 및 사업장만 단가 생성
				   ,(CASE WHEN CNDT.APPLY_PLANT = '*' THEN <include refid="com.sql.nvl"/>(
						     								(SELECT LISTAGG(CUST_CD, ',') FROM STOCCUST
															  WHERE GATE_CD = #{ses.gateCd}
																AND ERP_IF_FLAG = (SELECT ERP_IF_FLAG FROM STOCCUST
																					WHERE GATE_CD = #{ses.gateCd}
																					  AND CUST_CD = CNDT.CUST_CD
																					  AND ERP_IF_FLAG = '1')
															 ), CNDT.CUST_CD)
						  ELSE CNDT.CUST_CD
				 	 END) AS APPLY_TARGET_CD
			       ,(CASE WHEN RQDT.PROGRESS_CD = '600' THEN '0'
			       		  ELSE <include refid="com.sql.nvl"/>(RQDT.CUST_REQ_FLAG, '0')
			       	 END) AS CUST_REQ_FLAG
		        FROM STOCCNDT CNDT
		        JOIN STOCCNHD CNHD
			          ON (CNDT.GATE_CD  = CNHD.GATE_CD
			          AND CNDT.EXEC_NUM = CNHD.EXEC_NUM
			          AND CNHD.DEL_FLAG = '0')
		        LEFT JOIN STOCRQDT RQDT
			          ON (CNDT.GATE_CD  = RQDT.GATE_CD
			          AND CNDT.RFQ_NUM  = RQDT.RFQ_NUM
			          AND CNDT.RFQ_CNT  = RQDT.RFQ_CNT
			          AND CNDT.RFQ_SQ   = RQDT.RFQ_SQ
			          AND RQDT.DEL_FLAG = '0')
		       WHERE CNDT.GATE_CD   = #{ses.gateCd}
		         AND CNDT.EXEC_NUM  = #{EXEC_NUM}
		         AND CNDT.EXEC_SQ   = #{EXEC_SQ}
		         AND CNDT.VENDOR_CD = #{VENDOR_CD}
		         AND CNDT.DEL_FLAG  = '0'
		  ) A
    </select>

	<!-- 신규상품 고객사 견적서 합의 후 매입계약 대상 품목 가져오기 -->
    <select id="getYinfoByVendor" parameterType="hashMap" resultType="hashMap">

        SELECT
              CNDT.VENDOR_CD
            ,<include refid="com.sql.dbo"/>getPrevContInfo(#{ses.gateCd}, #{APPLY_COM}, CNDT.ITEM_CD, 'VENDOR_CD') AS PREV_VENDOR_CD
            , CNDT.ITEM_CD
            , CNDT.UNIT_CD
            , CNDT.CUR
            , QTDT.REGION_CD
            , CNDT.AREA_NM
            ,<include refid="com.sql.dbo"/>getPrevUnitPrice(#{ses.gateCd}, #{APPLY_COM}, CNDT.VENDOR_CD, CNDT.ITEM_CD) AS PREV_UNIT_PRICE
            , CNDT.QTA_UNIT_PRC
            , CNDT.CONT_UNIT_PRC
            , CNDT.STD_UNIT_PRC
            , CNDT.SALES_UNIT_PRC
            , CNDT.SALES_PROFIT_RATE
            , CNDT.MOQ_QT
            , CNDT.RV_QT
            , CNDT.DEAL_CD
            , CNDT.LOG_CD
            , CNDT.WH_CD
            , CNDT.TC_FLAG
            , CNDT.DELY_TYPE
            , CNDT.LEAD_TIME
            , QTDT.LEADTIME_CD AS LEAD_TIME_CD
            , QTDT.LEADTIME_RMK AS LEAD_TIME_RMK
            , CNDT.TAX_CD
            , CNHD.CONT_START_DATE AS VALID_FROM_DATE
            , CNHD.CONT_END_DATE AS VALID_TO_DATE
            , NWRQ.ITEM_REQ_NO
            , NWRQ.ITEM_REQ_SEQ
            , CNHD.CTRL_USER_ID
            , #{APPLY_COM}  AS APPLY_COM	-- 공통단가(APPLY_PLANT=*)인 경우 계약고객사는 DGNS I/F 고객사
            , CNDT.APPLY_PLANT				-- 공통단가(APPLY_PLANT=*), 개별단가(APPLY_PLANT=사업장코드)
            , CNDT.EXEC_NUM AS EXEC_NO
            , CNDT.EXEC_SQ  AS EXEC_SEQ
		    , CNDT.RFQ_NUM
		    , CNDT.RFQ_CNT
		    , CNDT.RFQ_SQ
		    , CNDT.QTA_NUM
		    , CNDT.QTA_SQ
          FROM STOCCNDT CNDT
          JOIN STOCCNHD CNHD
	           ON (CNDT.GATE_CD  = CNHD.GATE_CD
	           AND CNDT.EXEC_NUM = CNHD.EXEC_NUM
	           AND CNHD.DEL_FLAG = '0')
          JOIN STOCRQDT RQDT
	           ON (CNDT.GATE_CD  = RQDT.GATE_CD
	           AND CNDT.RFQ_NUM  = RQDT.RFQ_NUM
	           AND CNDT.RFQ_CNT  = RQDT.RFQ_CNT
	           AND CNDT.RFQ_SQ   = RQDT.RFQ_SQ
	           AND RQDT.DEL_FLAG = '0')
          JOIN STOCRQHD RQHD
	           ON (RQDT.GATE_CD  = RQHD.GATE_CD
	           AND RQDT.RFQ_NUM  = RQHD.RFQ_NUM
	           AND RQDT.RFQ_CNT  = RQHD.RFQ_CNT
	           AND RQHD.DEL_FLAG = '0')
          JOIN STOCQTDT QTDT
	           ON (CNDT.GATE_CD  = QTDT.GATE_CD
	           AND CNDT.QTA_NUM  = QTDT.QTA_NUM
	           AND CNDT.QTA_SQ   = QTDT.QTA_SQ
	           AND QTDT.DEL_FLAG = '0')
          LEFT JOIN STOUNWRQ NWRQ
	           ON (RQDT.GATE_CD  = NWRQ.GATE_CD
	           AND RQDT.ITEM_CD  = NWRQ.ITEM_CD
	           AND RQDT.CUST_CD  = NWRQ.CUST_CD
	           AND RQDT.ITEM_REQ_NO  = NWRQ.ITEM_REQ_NO
	           AND RQDT.ITEM_REQ_SEQ = NWRQ.ITEM_REQ_SEQ
	           AND NWRQ.DEL_FLAG = '0')
         WHERE CNDT.GATE_CD   = #{ses.gateCd}
           AND CNDT.EXEC_NUM  = #{EXEC_NUM}
           AND CNDT.EXEC_SQ   = #{EXEC_SQ}
           AND CNDT.VENDOR_CD = #{VENDOR_CD}
    </select>

    <select id="getUinfoList" parameterType="hashMap" resultType="hashMap">

        SELECT
        	  RQDT.ITEM_CD
        	, NWRQ.CUR
        	,<include refid="com.sql.nvl"/>(CNDT.SALES_UNIT_PRC,0) AS SALES_UNIT_PRICE
        	,<include refid="com.sql.nvl"/>(CNDT.CUST_CD, RQDT.CUST_CD) AS CUST_CD
          FROM STOCCNDT CNDT
          JOIN STOCCNHD CNHD
	           ON (CNDT.GATE_CD  = CNHD.GATE_CD
	           AND CNDT.EXEC_NUM = CNHD.EXEC_NUM
	           AND CNHD.DEL_FLAG = '0')
          JOIN STOCRQDT RQDT
	           ON (CNDT.GATE_CD  = RQDT.GATE_CD
	           AND CNDT.RFQ_NUM  = RQDT.RFQ_NUM
	           AND CNDT.RFQ_CNT  = RQDT.RFQ_CNT
	           AND CNDT.RFQ_SQ   = RQDT.RFQ_SQ
	           AND RQDT.DEL_FLAG = '0')
          LEFT OUTER JOIN STOUNWRQ NWRQ
	           ON (RQDT.GATE_CD  = NWRQ.GATE_CD
	           AND RQDT.ITEM_CD  = NWRQ.ITEM_CD
	           AND RQDT.CUST_CD  = NWRQ.CUST_CD
	           AND RQDT.ITEM_REQ_NO  = NWRQ.ITEM_REQ_NO
	           AND RQDT.ITEM_REQ_SEQ = NWRQ.ITEM_REQ_SEQ
	           AND NWRQ.DEL_FLAG = '0')
         WHERE CNDT.GATE_CD = #{ses.gateCd}
           AND CNDT.EXEC_NUM = #{EXEC_NUM}
           AND CNDT.EXEC_SQ = #{EXEC_SQ}
           AND CNDT.DEL_FLAG = '0'
    </select>

	<!-- 2020.10.21 [대명소노 미사용] -->
    <select id="getAutoPoList" parameterType="hashMap" resultType="hashMap">

        SELECT X.*
        	 , <include refid="com.sql.nvl"/>(X.UNIT_PRC, 0) * <include refid="com.sql.nvl"/>(CART_QT, 0) AS ITEM_AMT
          FROM (
        	SELECT
        		  CNDT.EXEC_SQ AS CART_SEQ
        		, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.sysdate"/>, 'YYYY-MM-DD HH24:MI') AS REG_DATE
        		, NWRQ.REG_USER_ID
        		, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.sysdate"/>, 'YYYY-MM-DD HH24:MI') AS MOD_DATE
        		, NWRQ.MOD_USER_ID
        		, NWRQ.REG_USER_ID AS USER_ID
        		, <include refid="com.sql.dbo"/>GETUSERNAME(NWRQ.GATE_CD, NWRQ.REG_USER_ID, #{ses.langCd}) AS USER_NM
        		, CVUR.COMPANY_CD
        		, CVUR.USER_ID AS CUST_USER_ID
        		, CVUR.DEPT_CD AS CUST_DEPT_CD
        		, CVUR.TEL_NUM AS CUST_TEL_NUM
        		, CVUR.CELL_NUM AS CUST_HP_NUM
        		, CNDT.ITEM_CD
        		, MTGB.CUST_ITEM_CD
        		, MTGL.ITEM_STATUS
        		, <include refid="com.sql.dbo"/>GETCODENAME(MTGL.GATE_CD, 'MP009', MTGL.ITEM_STATUS, #{ses.langCd}) AS ITEM_STATUS_NM
        		, MTGL.ITEM_DESC
        		, MTGL.ITEM_SPEC
        		, MTGL.ITEM_KIND_CD
        		, <include refid="com.sql.dbo"/>GETCODENAME(MTGL.GATE_CD, 'MP058', MTGL.ITEM_KIND_CD, #{ses.langCd}) AS ITEM_KIND_NM
        		, MTGL.MAKER_CD
        		,(SELECT MKBR_NM FROM STOCMKBR WHERE GATE_CD = MTGL.GATE_CD
        			 AND MKBR_CD = MTGL.MAKER_CD AND MKBR_TYPE = 'MK' AND DEL_FLAG = '0') AS MAKER_NM
        		, MTGL.MAKER_PART_NO
        		, MTGL.BRAND_CD
        		, MTGL.BRAND_NM
        		, MTGL.ORIGIN_CD
        		, <include refid="com.sql.dbo"/>GETCODENAME(MTGL.GATE_CD, 'M004', MTGL.ORIGIN_CD, #{ses.langCd}) AS ORIGIN_NM
        		, <include refid="com.sql.nvl"/>(YNFO.APPLY_COM, #{ses.manageCd}) AS APPLY_COM
        		, CNDT.CONT_NO
        		, CNDT.CONT_SEQ
        		, MTGL.UNIT_CD
        		, CNDT.MOQ_QT AS MOQ_QTY
        		, CNDT.RV_QT AS RV_QTY
        		, NWRQ.EST_PO_QT AS CART_QT
        		, YNFO.CUR
        		, ROUND(<include refid="com.sql.dbo"/>fn_getSalesUnitPrice(CNDT.GATE_CD, CVUR.COMPANY_CD, CVUR.DEPT_CD, <include refid="com.sql.nvl"/>(YNFO.APPLY_COM, #{ses.manageCd}), CNDT.CONT_NO, CNDT.CONT_SEQ), 0) AS UNIT_PRC
        		, MTGL.VAT_CD AS TAX_CD
        		, YNFO.LEAD_TIME
        		, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.dbo"/>fn_GetTotalWorkingDays(YNFO.LEAD_TIME), 'yyyyMMdd') AS LEAD_TIME_DATE
        		, <include refid="com.sql.toDateChar"/>(<include refid="com.sql.nvl"/>(NWRQ.HOPE_DUE_DATE, <include refid="com.sql.dbo"/>fn_GetTotalWorkingDays(YNFO.LEAD_TIME)), 'yyyyMMdd') AS HOPE_DUE_DATE
        		, <include refid="com.sql.nvl"/>(NWRQ.BUDGET_DEPT_CD, CVUR.BUDGET_DEPT_CD) AS BD_DEPT_CD
        		, <include refid="com.sql.nvl"/>(OGDP.DEPT_NM, OGDP.DEPT_NM_ENG) AS BD_DEPT_NM
        		, NWRQ.RECIPIENT_NM
        		, NWRQ.RECIPIENT_DEPT_NM
        		, NWRQ.RECIPIENT_TEL_NO AS RECIPIENT_TEL_NUM
        		, NWRQ.RECIPIENT_CELL_NO AS RECIPIENT_CELL_NUM
        		, '' AS RECIPIENT_EMAIL
        		, NWRQ.DELY_ZIP_CD
        		, NWRQ.DELY_ADDR_1
        		, NWRQ.DELY_ADDR_2
        		, NWRQ.REQ_TXT AS DELY_RMK
        		, '' AS REF_MNG_NO
        		, '' AS ATTACH_FILE_NO
        		, '' AS ATTACH_FILE_NO_IMG
        		, NWRQ.ACCOUNT_CD
        		, CUAC.ACCOUNT_NM
        		, CNDT.VENDOR_CD
        		, VNGL.VENDOR_NM
        		, YNFO.DEAL_CD
        		, MTGL.SG_CTRL_USER_ID
        		, NWRQ.ITEM_REQ_NO
        		, NWRQ.ITEM_REQ_SEQ
        		, (CASE WHEN RQDT.PROGRESS_CD = '600' THEN '0' ELSE <include refid="com.sql.nvl"/>(RQDT.CUST_REQ_FLAG, '0') END) AS CUST_REQ_FLAG
        	 FROM STOCCNHD CNHD LEFT JOIN STOCCNDT CNDT
              ON (CNHD.GATE_CD = CNDT.GATE_CD
              AND CNHD.EXEC_NUM = CNDT.EXEC_NUM)
        	 LEFT JOIN STOCRQDT RQDT
              ON (CNDT.GATE_CD = RQDT.GATE_CD
              AND CNDT.RFQ_NUM = RQDT.RFQ_NUM
              AND CNDT.RFQ_CNT = RQDT.RFQ_CNT
              AND CNDT.RFQ_SQ = RQDT.RFQ_SQ)
        	 LEFT JOIN STOUNWRQ NWRQ -- 고객사 품목 마스터
              ON (CNDT.GATE_CD = NWRQ.GATE_CD
              AND CNDT.ITEM_REQ_NO = NWRQ.ITEM_REQ_NO
              AND CNDT.ITEM_REQ_SEQ = NWRQ.ITEM_REQ_SEQ)
             LEFT JOIN STOCCVUR CVUR -- 고객사 사용자
              ON (NWRQ.GATE_CD = CVUR.GATE_CD
              AND NWRQ.REG_USER_ID = CVUR.USER_ID
              AND CVUR.DEL_FLAG = '0')
             LEFT JOIN STOCMTGL MTGL -- 품목 마스터
              ON (CNDT.GATE_CD  = MTGL.GATE_CD
              AND CNDT.ITEM_CD  = MTGL.ITEM_CD
              AND MTGL.DEL_FLAG = '0')
             LEFT OUTER JOIN STOCMTGB MTGB -- 고객사 품목 맵핑
              ON (MTGL.GATE_CD = MTGB.GATE_CD
              AND MTGL.ITEM_CD = MTGB.ITEM_CD
              AND MTGB.CUST_CD = CVUR.COMPANY_CD
              AND MTGB.DEL_FLAG = '0')
             LEFT JOIN STOYINFO YNFO -- 공급사 단가마스터
              ON (CNDT.GATE_CD = YNFO.GATE_CD
              AND CNDT.CUST_CD = (CASE WHEN YNFO.APPLY_COM = #{ses.manageCd} THEN CNDT.CUST_CD ELSE YNFO.APPLY_COM END)
              AND CNDT.CONT_NO = YNFO.CONT_NO
              AND CNDT.CONT_SEQ = YNFO.CONT_SEQ
              AND <include refid="com.sql.toDateChar"/>(YNFO.VALID_FROM_DATE, 'yyyyMMdd') <![CDATA[<=]]> <include refid="com.sql.toDateChar"/>(<include refid="com.sql.sysdate"/>, 'yyyyMMdd')
              AND <include refid="com.sql.toDateChar"/>(YNFO.VALID_TO_DATE, 'yyyyMMdd') <![CDATA[>=]]> <include refid="com.sql.toDateChar"/>(<include refid="com.sql.sysdate"/>, 'yyyyMMdd'))
             LEFT OUTER JOIN STOCCUAC CUAC -- 고객사 계정마스터
              ON (NWRQ.GATE_CD = CUAC.GATE_CD
              AND CVUR.COMPANY_CD = CUAC.CUST_CD
              AND NWRQ.ACCOUNT_CD = CUAC.ACCOUNT_CD
              AND CUAC.USE_FLAG = '1'
              AND CUAC.DEL_FLAG = '0')
             LEFT OUTER JOIN STOCOGDP OGDP -- 고객사 부서마스터
              ON (CVUR.GATE_CD = OGDP.GATE_CD
              AND CVUR.COMPANY_CD = OGDP.BUYER_CD
              AND <include refid="com.sql.nvl"/>(NWRQ.BUDGET_DEPT_CD, CVUR.BUDGET_DEPT_CD) = OGDP.DEPT_CD
              AND OGDP.DEL_FLAG = '0')
             LEFT JOIN STOCVNGL VNGL
              ON (CNDT.GATE_CD = VNGL.GATE_CD
              AND CNDT.VENDOR_CD = VNGL.VENDOR_CD
              AND <include refid="com.sql.nvl"/>(VNGL.BLOCK_FLAG, '0') = '0' -- Block 공급업체 제외
              AND VNGL.DEL_FLAG = '0')
        	WHERE CNHD.GATE_CD = #{ses.gateCd}
        	  AND CNHD.EXEC_NUM = #{EXEC_NUM}
        	  AND CNDT.EXEC_SQ = #{EXEC_SQ}
        	  AND CNHD.DEL_FLAG = '0'
              AND CNDT.DEL_FLAG = '0'
              AND NWRQ.DEL_FLAG = '0'
              AND NWRQ.AUTO_PO_FLAG = '1'
              AND YNFO.DEL_FLAG = '0'
          ) X
         ORDER BY X.ITEM_STATUS, X.CART_SEQ

    </select>

    <!-- 신규상품 > 신규상품요청 > 신규상품 견적의뢰 (BNM1_030) -->
    <select id="bnm1030_doSearch" parameterType="hashmap" resultType="hashMap">
		SELECT
			  NWRQ.GATE_CD				--게이트코드
			, NWRQ.CUST_CD				--고객사코드[STOCCUST]
			, NWRQ.ITEM_REQ_NO			--품목요청번호[RE+년(2)+월(2)+0000]
			, NWRQ.ITEM_REQ_SEQ			--품목요청항번
			, NWRQ.PLANT_CD				--고객 사업장코드 [STOCCUPL]
			,<include refid="com.sql.dbo"/>GETPLANTNAME(NWRQ.GATE_CD, NWRQ.CUST_CD, NWRQ.PLANT_CD, #{ses.langCd}) AS PLANT_NM
			, NWRQ.PROGRESS_CD			--진행상태코드[MP026]
			, NWRQ.BUDGET_DEPT_CD		--예산부서코드
			, NWRQ.CUST_ITEM_CD			--고객사 품목코드
			, NWRQ.ITEM_CD				--품목코드 - (Item Code)
			, NWRQ.ITEM_DESC			--품명 - (Item Name)
			, NWRQ.ITEM_SPEC			--규격 - (Item Specification)
			, NWRQ.MAKER_NM				--제조사명 - [Maker Name]
			, NWRQ.BRAND_NM				--브랜드명 - [Brand Name]
			, NWRQ.MODEL_NM				--모델번호명 - [Model Number Name]
			, NWRQ.ORIGIN_NM			--원산지명 - [Origin Country Name]
			,<include refid="com.sql.nvl"/>(YINFO.UNIT_CD, NWRQ.UNIT_CD) AS UNIT_CD		--기본단위[M037]
			, NWRQ.PIC_USER_NM			--담당자명 - [ PIC User Name]
			, NWRQ.PIC_TEL_NO			--담당자 전화번호
			, NWRQ.EST_YEAR_QT			--연간소요량 - [Estimated Quantity Per Year]
			, NWRQ.PREV_UNIT_PRICE		--기존단가-[Previous Unit Price]
			, NWRQ.HOPE_UNIT_PRICE		--희망단가-[Hope Unit Price]
			,<include refid="com.sql.nvl"/>(YINFO.CUR, NWRQ.CUR) AS CUR					--통화 - [Currency]
			, NWRQ.EST_PO_DATE			--주문예정일자 - [Estimated Order Date]
			, NWRQ.EST_PO_QT			--주문예정수량-[Estimated Order Quantity]
			, NWRQ.REQUEST_USER_ID		--요청자ID - [Request User ID]
			,<include refid="com.sql.dbo"/>GETUSERNAME(#{ses.gateCd}, NWRQ.REQUEST_USER_ID, #{ses.langCd}) AS REQUEST_USER_NM
			, NWRQ.REQUEST_DATE			--요청일자 - [Request Date]
			, NWRQ.REQ_DIVISION_CD		--요청자 사업장코드
			,<include refid="com.sql.dbo"/>GETDIVISIONNM(#{ses.gateCd}, NWRQ.CUST_CD, NWRQ.PLANT_CD, NWRQ.REQ_DIVISION_CD, #{ses.langCd}) AS REQ_DIVISION_NM
			, NWRQ.REQ_DEPT_CD			--요청자 부서코드
            ,<include refid="com.sql.dbo"/>getNwrqDeptInfo(#{ses.gateCd}, NWRQ.ITEM_REQ_NO, #{ses.langCd}) AS REQ_DEPT_NM
			, NWRQ.REQ_PART_CD			--요청자 파트코드
			,<include refid="com.sql.dbo"/>GETPARTNM(#{ses.gateCd}, NWRQ.CUST_CD, NWRQ.PLANT_CD, NWRQ.REQ_DIVISION_CD, NWRQ.REQ_DEPT_CD, NWRQ.REQ_PART_CD, #{ses.langCd}) AS REQ_PART_NM
			, NWRQ.ITEM_RMK				--품목상세정보 - [Item Detail Information]
			, NWRQ.RFQ_REQ_TXT			--견적요청사항 - [RFQ Request Text]
			, NWRQ.REQ_TXT				--주문요청사항 - [Order Request Text]
			, NWRQ.PREV_VENDOR_NM		--기존협력사명 - [Previous Vendor Name]
			, NWRQ.IMAGE_UUID			--품목이미지 유니크아이디 - (Universally Unique Identifier)
			,<include refid="com.sql.dbo"/>getFileCount(#{ses.gateCd}, NWRQ.IMAGE_UUID) AS IMAGE_UUID_IMG
			, NWRQ.ATTACH_FILE_NO		--첨부파일번호 - (Attached File No.)
			,<include refid="com.sql.dbo"/>getFileCount(#{ses.gateCd}, NWRQ.ATTACH_FILE_NO) AS ATTACH_FILE_NO_IMG
			, NWRQ.AUTO_PO_FLAG			--자동발주여부[M044]
			, NWRQ.HOPE_DUE_DATE		--희망납기일자 - [Hope Due Date]
			, NWRQ.REPLY_REQ_DATE		--회신요청일자 - [Reply Request Date]
			, NWRQ.REC_VENDOR_NM		--추천 공급사명
			, NWRQ.REC_VENDOR_USER_NM	--추천 공급사 담당자명
			, NWRQ.REC_VENDOR_TEL_NUM	--추천 공급사 연락처
			, NWRQ.REFER_URL			--참고URL
			, NWRQ.ACCOUNT_CD			--계정코드 - [Account Code]
			, NWRQ.CMS_CTRL_USER_ID		--품목표준화담당자ID
			, NWRQ.CMS_MAPPING_DATE		--CMS Mapping 일자 - [CMS Mapping Date]
			, NWRQ.SG_CTRL_USER_ID		--품목담당자ID
			,<include refid="com.sql.dbo"/>getUserName(#{ses.gateCd}, NWRQ.SG_CTRL_USER_ID, #{ses.langCd}) AS SG_CTRL_USER_NM
			, NWRQ.STD_FLAG					--표준화여부[M044]
			, NWRQ.ITEM_CLS1				--품목대분류 - (Item Class(Main))
			, NWRQ.ITEM_CLS2				--품목중분류 - (ItemClass(Medium))
			, NWRQ.ITEM_CLS3				--품목소분류 - (Item Class(Small))
			, NWRQ.ITEM_CLS4				--품목세분류 - (Item Class(Detail))
			, NWRQ.OPERATOR_FLAG			--운영사 등록여부 [M044]
			, NWRQ.AGENT_USER_ID			--대행 등록자 사용자ID - [Agent User ID]
			, NWRQ.AGENT_ADD_DATE			--대행 등록일자 - [Agent Creation Date]
			, NWRQ.MANUAL_CONT_FLAG			--수기계약여부[M044]
			, NWRQ.MOVE_REASON				--이관사유 - [Move Reason]
			, NWRQ.RE_REQ_CODE				--운영사 반려사유코드[MP027]
			, NWRQ.RE_REQ_REASON			--운영사 반려사유 - [Re-request Reason]
			, NWRQ.RE_REQ_REJECT_RMK		--고객사 반려사유
			, NWRQ.RE_REQ_CONFIRM_USER_ID--접수/반려자ID
			,<include refid="com.sql.dbo"/>getUserName(#{ses.gateCd}, NWRQ.RE_REQ_CONFIRM_USER_ID, #{ses.langCd}) AS RE_REQ_CONFIRM_USER_NM
			,<include refid="com.sql.toDateChar"/>(NWRQ.RE_REQ_CONFIRM_DATE, 'YYYY-MM-DD HH24:MI') AS RE_REQ_CONFIRM_DATE	--접수/반려일시
			, NWRQ.ITEM_KIND_CD				--품목유형[MP058]
			, NWRQ.VAT_CD					--과세구분[M036]
			, NWRQ.RETURN_REASON			--회신사유-운영사
			, NWRQ.CMS_ORIGIN_CD			--CMS 원산지 국가코드 - [CMS Origin Country Code]
			, NWRQ.CMS_MAKER_CD				--CMS 제조사코드[STOCMKBR]
			, NWRQ.CMS_MAKER_NM				--CMS 제조사명 - [CMS Maker Name]
			, NWRQ.CMS_BRAND_CD				--CMS 브랜드코드[STOCMKBR]
			, NWRQ.CMS_BRAND_NM				--CMS 브랜드명
			, NWRQ.DELETE_REASON			--삭제사유
			, NWRQ.CMS_RMK					--전달사항 - [Sourcing Instruction]
			, NWRQ.RFQ_CONFIRM_USER_ID		--견적 합의/반려자ID
			, NWRQ.RFQ_CONFIRM_DATE			--견적 합의일자
			, NWRQ.SOURCING_REJECT_RMK		--견적합의 반려사유
			,<include refid="com.sql.toDateChar"/>(NWRQ.SOURCING_REJECT_DATE, 'YYYY-MM-DD HH24:MI') AS SOURCING_REJECT_DATE		--견적합의 반려일자
			, NWRQ.RFQ_NUM					--견적번호
			, NWRQ.RFQ_CNT					--견적차수
			, NWRQ.RFQ_SQ					--견적항번
			, NWRQ.EXEC_NUM					--품의번호
			, NWRQ.EXEC_SQ					--품의항번
			, NWRQ.CPO_NO  AS PR_NO			--DGNS IF NO
			, NWRQ.CPO_SEQ AS PR_SEQ		--DGNS IF SEQ
			, YINFO.VENDOR_CD				--공급사코드
			,<include refid="com.sql.dbo"/>getVendorName(#{ses.gateCd}, YINFO.VENDOR_CD, #{ses.langCd}) AS VENDOR_NM	--공급사명
			, YINFO.VALID_FROM_DATE			--계약시작일자
			, YINFO.VALID_TO_DATE			--계약종료일자
			, UINFO.SALES_UNIT_PRICE		--판매단가
			, UINFO.PROFIT_RATIO			--판매이익율(%)
			,(SELECT CUST_RQ_RMK FROM STOCRQDT
			   WHERE GATE_CD  = NWRQ.GATE_CD
			     AND RFQ_NUM  = NWRQ.RFQ_NUM
			     AND RFQ_CNT  = NWRQ.RFQ_CNT
			     AND RFQ_SQ   = NWRQ.RFQ_SQ
			     AND DEL_FLAG = '0') AS SETTLE_RMK
			, YINFO.APPLY_COM
			,<include refid="com.sql.dbo"/>getCustName(YINFO.GATE_CD, YINFO.APPLY_COM) AS APPLY_COM_NM
			, YINFO.APPLY_PLANT
			,(CASE WHEN YINFO.APPLY_PLANT = '*' THEN '공통'
				   ELSE <include refid="com.sql.dbo"/>GETPLANTNAME(YINFO.GATE_CD, YINFO.APPLY_COM, YINFO.APPLY_PLANT, #{ses.langCd}) END) AS APPLY_PLANT_NM
			, YINFO.CONT_NO
			, YINFO.CONT_SEQ

			,NWRQ.EST_PO_QT


		FROM STOUNWRQ NWRQ
		LEFT JOIN STOYINFO YINFO
			 ON (NWRQ.GATE_CD   = YINFO.GATE_CD
			 AND NWRQ.CONT_NO   = YINFO.CONT_NO
			 AND NWRQ.CONT_SEQ  = YINFO.CONT_SEQ
			 AND YINFO.DEL_FLAG = '0')
		LEFT JOIN STOUINFO UINFO
			 ON (YINFO.GATE_CD  = UINFO.GATE_CD
			 AND YINFO.CONT_NO  = UINFO.CONT_NO
			 AND YINFO.CONT_SEQ = UINFO.CONT_SEQ
			 AND UINFO.DEL_FLAG = '0')
       WHERE NWRQ.GATE_CD  = #{ses.gateCd}
         AND NWRQ.CUST_CD  = #{ses.companyCd}
         AND NWRQ.DEL_FLAG = '0'

	<choose>
		<!-- 견적 합의 (BNM1_031) : (A) -->
		<when test='VIEW_TYPE != "" and VIEW_TYPE != null and VIEW_TYPE == "A"'>
		 AND NWRQ.PROGRESS_CD IN ('440','450','500','550','560') --440:합의거절,450:합의대기,500:합의승인,550:상품등록대기,560:상품등록완료
		</when>
		<!-- 상품등록 완료현황 (BNM1_032) : (B) -->
		<when test='VIEW_TYPE != "" and VIEW_TYPE != null and VIEW_TYPE == "B"'>
		 AND NWRQ.PROGRESS_CD IN ('550','560')
		</when>
	</choose>
		<if test="ADD_PLANT_CD != '' and ADD_PLANT_CD != null">
		    AND NWRQ.PLANT_CD <include refid="com.sql.likeL"/> #{PLANT_CD} <include refid="com.sql.likeR"/>
		</if>
        <if test="ADD_PLANT_NM != '' and ADD_PLANT_NM != null">
            AND <include refid="com.sql.dbo"/>GETPLANTNAME(#{ses.gateCd}, NWRQ.CUST_CD, NWRQ.PLANT_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> UPPER(#{ADD_PLANT_NM}) <include refid="com.sql.likeR"/>
		</if>
		<if test="ADD_FROM_DATE !='' and ADD_FROM_DATE != null and ADD_TO_DATE !='' and ADD_TO_DATE != null">
		    AND REQUEST_DATE BETWEEN <include refid="com.sql.toDate"/>#{ADD_FROM_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{ADD_TO_DATE}<include refid="com.sql.dateTo"/>
		</if>
		<if test="ITEM_CD !='' and ITEM_CD != null">
		    AND (ITEM_CD <include refid="com.sql.likeL"/> #{ITEM_CD} <include refid="com.sql.likeR"/>
		    OR CUST_ITEM_CD <include refid="com.sql.likeL"/> #{CUST_ITEM_CD} <include refid="com.sql.likeR"/>)
		</if>
		<if test="ITEM_NM !='' and ITEM_NM != null">
		    AND (ITEM_DESC <include refid="com.sql.likeL"/> #{ITEM_DESC} <include refid="com.sql.likeR"/>
		    OR ITEM_SPEC <include refid="com.sql.likeL"/> #{ITEM_SPEC} <include refid="com.sql.likeR"/>)
		</if>
		<if test="PROGRESS_CD != '' and PROGRESS_CD != null">
		    AND PROGRESS_CD IN
		  <foreach item="item" index="index" collection="PROGRESS_CD_LIST" open="(" separator="," close=")">
		    #{item}
		  </foreach>
		</if>
        <if test="ADD_USER_ID != '' and ADD_USER_ID != null">
            AND NWRQ.REG_USER_ID <include refid="com.sql.likeL"/> #{REG_USER_ID} <include refid="com.sql.likeR"/>
        </if>
        <if test="ADD_USER_NM != '' and ADD_USER_NM != null">
            AND <include refid="com.sql.dbo"/>UPPER(getUserName(#{ses.gateCd}, NWRQ.REQUEST_USER_ID, #{ses.langCd})) <include refid="com.sql.likeL"/> UPPER(#{ADD_USER_NM}) <include refid="com.sql.likeR"/>
        </if>
        <if test="ADD_DEPT_CD != '' and ADD_DEPT_CD != null">
            AND NWRQ.REQ_DEPT_CD <include refid="com.sql.likeL"/> #{REQ_DEPT_CD} <include refid="com.sql.likeR"/>
        </if>
        <if test="ADD_DEPT_NM != '' and ADD_DEPT_NM != null">
            AND <include refid="com.sql.dbo"/>GETDEPTNM(#{ses.gateCd}, NWRQ.CUST_CD, NWRQ.PLANT_CD, NWRQ.REQ_DIVISION_CD, NWRQ.REQ_DEPT_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> UPPER(#{ADD_DEPT_NM}) <include refid="com.sql.likeR"/>
        </if>
        <if test="DDP_CD != '' and DDP_CD != null">
            AND <include refid="com.sql.dbo"/>getNwrqDeptInfo(#{ses.gateCd}, NWRQ.ITEM_REQ_NO, #{ses.langCd}) <include refid="com.sql.likeL"/> UPPER(#{DDP_CD}) <include refid="com.sql.likeR"/>
        </if>
		 ORDER BY REQUEST_DATE DESC
	</select>

	<!-- 신규상품 > 신규상품요청 > 신규상품 요청현황 (BNM1_040) -->
    <select id="bnm1040_doSearch" parameterType="hashmap" resultType="hashMap">
		SELECT
			 GATE_CD			--게이트코드
			,CUST_CD			--고객사코드[STOCCUST]
			,ITEM_REQ_NO		--품목요청번호[RE+년(2)+월(2)+0000]
			,ITEM_REQ_SEQ		--품목요청항번
			,PLANT_CD			--고객 사업장코드 [STOCCUPL]
			,GETPLANTNAME(GATE_CD, CUST_CD, PLANT_CD, #{ses.langCd}) AS PLANT_NM
			,PROGRESS_CD		--진행상태코드[MP026]
			,BUDGET_DEPT_CD		--예산부서코드
			,CUST_ITEM_CD		--고객사 품목코드
			,ITEM_CD			--품목코드 - (Item Code)
			,ITEM_DESC			--품명 - (Item Name)
			,ITEM_SPEC			--규격 - (Item Specification)
			,MAKER_NM			--제조사명 - [Maker Name]
			,BRAND_NM			--브랜드명 - [Brand Name]
			,MODEL_NM			--모델번호명 - [Model Number Name]
			,ORIGIN_NM			--원산지명 - [Origin Country Name]
			,UNIT_CD			--기본단위[M037]
			,PIC_USER_NM		--담당자명 - [ PIC User Name]
			,PIC_TEL_NO			--담당자 전화번호
			,PREV_UNIT_PRICE	--기존단가-[Previous Unit Price]
			,HOPE_UNIT_PRICE	--희망단가-[Hope Unit Price]
			,CUR				--통화 - [Currency]
			,EST_PO_DATE		--주문예정일자 - [Estimated Order Date]
			,EST_PO_QT			--주문예정수량-[Estimated Order Quantity]
			,REQUEST_USER_ID	--요청자ID - [Request User ID]
			,<include refid="com.sql.dbo"/>GETUSERNAME(#{ses.gateCd}, REQUEST_USER_ID, #{ses.langCd}) AS REQUEST_USER_NM
			,REQUEST_DATE		--요청일자 - [Request Date]
			,REQ_DIVISION_CD	--요청자 사업장코드
			,<include refid="com.sql.dbo"/>GETDIVISIONNM(#{ses.gateCd}, CUST_CD, PLANT_CD, REQ_DIVISION_CD, #{ses.langCd}) AS REQ_DIVISION_NM
			,REQ_DEPT_CD		--요청자 부서코드
			,<include refid="com.sql.dbo"/>getNwrqDeptInfo(GATE_CD, ITEM_REQ_NO, #{ses.langCd}) AS REQ_DEPT_NM
			,REQ_PART_CD		--요청자 파트코드
			,<include refid="com.sql.dbo"/>GETPARTNM(#{ses.gateCd}, CUST_CD, PLANT_CD, REQ_DIVISION_CD, REQ_DEPT_CD, REQ_PART_CD, #{ses.langCd}) AS REQ_PART_NM
			,ITEM_RMK			--품목상세정보 - [Item Detail Information]
			,RFQ_REQ_TXT		--견적요청사항 - [RFQ Request Text]
			,REQ_TXT			--주문요청사항 - [Order Request Text]
			,PREV_VENDOR_NM		--기존협력사명 - [Previous Vendor Name]
			,IMAGE_UUID			--품목이미지 유니크아이디 - (Universally Unique Identifier)
			,<include refid="com.sql.dbo"/>getFileCount(#{ses.gateCd}, IMAGE_UUID) AS IMAGE_UUID_IMG
			,ATTACH_FILE_NO		--첨부파일번호 - (Attached File No.)
			,<include refid="com.sql.dbo"/>getFileCount(#{ses.gateCd}, ATTACH_FILE_NO) AS ATTACH_FILE_NO_IMG
			,AUTO_PO_FLAG		--자동발주여부[M044]
			,HOPE_DUE_DATE		--희망납기일자 - [Hope Due Date]
			,REPLY_REQ_DATE		--회신요청일자 - [Reply Request Date]
			,REC_VENDOR_NM		--추천 공급사명
			,REC_VENDOR_USER_NM	--추천 공급사 담당자명
			,REC_VENDOR_TEL_NUM	--추천 공급사 연락처
			,REFER_URL			--참고URL
			,ACCOUNT_CD			--계정코드 - [Account Code]
			,RECIPIENT_NM		--인수자명 - [Recipient Name]
			,RECIPIENT_DEPT_NM	--인수자 부서명 - [Recipient Department Name]
			,RECIPIENT_TEL_NO	--인수자 전화번호 - [Recipient Telephone No.]
			,RECIPIENT_CELL_NO	--인수자 휴대전화번호 - [Recipient Cell Phone No.]
			,DELY_ZIP_CD		--납품장소 우편번호 - (Delivery Location Zip Code)
			,DELY_ADDR_1		--납품장소 주소 1/2 - (Delivery Location Address 1/2)
			,DELY_ADDR_2		--납품장소 주소 2/2 - [Delivery Location Address 2/2]
			,CPO_NO				--DGNS IF 요청번호
			,CPO_SEQ			--DGNS IF 요청항번
			,CMS_CTRL_USER_ID	--품목표준화담당자ID
			,CMS_MAPPING_DATE	--CMS Mapping 일자 - [CMS Mapping Date]
			,SG_CTRL_USER_ID	--품목담당자ID
			,STD_FLAG			--표준화여부[M044]
			,ITEM_CLS1			--품목대분류 - (Item Class(Main))
			,ITEM_CLS2			--품목중분류 - (ItemClass(Medium))
			,ITEM_CLS3			--품목소분류 - (Item Class(Small))
			,ITEM_CLS4			--품목세분류 - (Item Class(Detail))
			,OPERATOR_FLAG		--운영사 등록여부 [M044]
			,AGENT_USER_ID		--대행 등록자 사용자ID - [Agent User ID]
			,AGENT_ADD_DATE		--대행 등록일자 - [Agent Creation Date]
			,MANUAL_CONT_FLAG	--수기계약여부[M044]
			,MOVE_REASON		--이관사유 - [Move Reason]
			,RE_REQ_CODE		--운영사 반려사유코드[MP027]
			,(CASE WHEN RE_REQ_REASON IS NULL THEN RE_REQ_REJECT_RMK
				   ELSE RE_REQ_REASON
			  END) AS RE_REQ_REASON	--운영사 반려사유 - [Re-request Reason]
			,RE_REQ_CONFIRM_USER_ID	--접수/반려자ID
			,<include refid="com.sql.dbo"/>getUserName(#{ses.gateCd}, RE_REQ_CONFIRM_USER_ID, #{ses.langCd}) AS RE_REQ_CONFIRM_USER_NM
			,<include refid="com.sql.toDateChar"/>(RE_REQ_CONFIRM_DATE, 'YYYY-MM-DD HH24:MI') AS RE_REQ_CONFIRM_DATE	--접수/반려일시
			,ITEM_KIND_CD		--품목유형[MP058]
			,VAT_CD				--과세구분[M036]
			,RETURN_REASON		--회신사유-운영사
			,CMS_ORIGIN_CD		--CMS 원산지 국가코드 - [CMS Origin Country Code]
			,CMS_MAKER_CD		--CMS 제조사코드[STOCMKBR]
			,CMS_MAKER_NM		--CMS 제조사명 - [CMS Maker Name]
			,CMS_BRAND_CD		--CMS 브랜드코드[STOCMKBR]
			,CMS_BRAND_NM		--CMS 브랜드명
			,DELETE_REASON		--삭제사유
			,CMS_RMK			--전달사항 - [Sourcing Instruction]
			,RFQ_CONFIRM_USER_ID	--견적 합의/반려자ID
			,RFQ_CONFIRM_DATE		--견적 합의일자
			,SOURCING_REJECT_RMK	--견적합의 반려사유
			,SOURCING_REJECT_DATE	--견적합의 반려일자
			,RFQ_NUM			--견적번호
			,RFQ_CNT			--견적차수
			,RFQ_SQ				--견적항번
			,EXEC_NUM			--품의번호
			,EXEC_SQ			--품의항번
			,PREV_EXEC_NUM		--이전 품의번호
			,PREV_EXEC_SQ		--이전 품의항번
			,MRO_PR_NO			--MRO 요청번호
		FROM STOUNWRQ
       WHERE GATE_CD  = #{ses.gateCd}
         AND CUST_CD  = #{ses.companyCd}
         AND DEL_FLAG = '0'

		<if test="ADD_PLANT_CD != '' and ADD_PLANT_CD != null">
		 AND PLANT_CD <include refid="com.sql.likeL"/> #{PLANT_CD} <include refid="com.sql.likeR"/>
		</if>
        <if test="ADD_PLANT_NM != '' and ADD_PLANT_NM != null">
		 AND <include refid="com.sql.dbo"/>GETPLANTNAME(GATE_CD, CUST_CD, PLANT_CD, #{ses.langCd}) <include refid="com.sql.likeL"/> #{ADD_PLANT_NM} <include refid="com.sql.likeR"/>
        </if>
		<if test="ADD_FROM_DATE !='' and ADD_FROM_DATE != null and ADD_TO_DATE !='' and ADD_TO_DATE != null">
		 AND REQUEST_DATE BETWEEN <include refid="com.sql.toDate"/>#{ADD_FROM_DATE}<include refid="com.sql.dateFrom"/> AND <include refid="com.sql.toDate"/>#{ADD_TO_DATE}<include refid="com.sql.dateTo"/>
		</if>
		<if test="ITEM_CD !='' and ITEM_CD != null">
		 AND (ITEM_CD <include refid="com.sql.likeL"/> #{ITEM_CD} <include refid="com.sql.likeR"/>
		   OR CUST_ITEM_CD <include refid="com.sql.likeL"/> #{CUST_ITEM_CD} <include refid="com.sql.likeR"/>)
		</if>
		<if test="ITEM_NM !='' and ITEM_NM != null">
		 AND (ITEM_DESC <include refid="com.sql.likeL"/> #{ITEM_DESC} <include refid="com.sql.likeR"/>
		   OR ITEM_SPEC <include refid="com.sql.likeL"/> #{ITEM_SPEC} <include refid="com.sql.likeR"/>)
		</if>
		<if test="PROGRESS_CD != '' and PROGRESS_CD != null">
		 AND PROGRESS_CD IN
		  <foreach item="item" index="index" collection="PROGRESS_CD_LIST" open="(" separator="," close=")">
		    #{item}
		  </foreach>
		</if>
	<choose>
		<when test="ADD_USER_ID != '' and ADD_USER_ID != null">
		 AND REG_USER_ID <include refid="com.sql.likeL"/> #{REG_USER_ID} <include refid="com.sql.likeR"/>
		</when>
		<otherwise>
			<if test="ADD_USER_NM != '' and ADD_USER_NM != null">
		 AND <include refid="com.sql.dbo"/>getUserName(GATE_CD, REQUEST_USER_ID, #{ses.langCd}) <include refid="com.sql.likeL"/> #{ADD_USER_NM} <include refid="com.sql.likeR"/>
			</if>
		</otherwise>
	</choose>
        <if test="DDP_CD != '' and DDP_CD != null">
            AND <include refid="com.sql.dbo"/>getNwrqDeptInfo(GATE_CD, ITEM_REQ_NO, #{ses.langCd}) <include refid="com.sql.likeL"/> UPPER(#{DDP_CD}) <include refid="com.sql.likeR"/>
        </if>

		 ORDER BY REQUEST_DATE DESC
	</select>

</mapper>