/*tabs*/
.tabs{
    border: 1px solid #AEAEAE;
}
.tabs::after {
    display: block;
    clear: both;
    content: "";
}
.tabs > .btn-tab{
    position: relative;
    float: left;
    text-align: center;
    width: 148px;
    line-height: 1.14;
    letter-spacing: -1.1px;
    height: 60px;
    border-right: 1px solid #AEAEAE;
    padding-top: 18px;
}
.tabs > .btn-tab span{
    position: relative;
    color: #909090;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    z-index: 10;
}
.tabs > .btn-tab.active span{
    color: #ffffff;
    font-weight: 600;
}
.tabs > .btn-tab.active::after{
    content: '';
    background-color: #e60012;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 1;
}

.tabs > .btn-tab:last-child{
    border-right:none;
}
/*tabs_col_2*/
.tabs_col_2 > .btn-tab{
    width: 50%;

}
.tabs.tabs_col_2 > .btn-tab.active::after{
    width: 601px;
    height: 62px;
}
/*tabs_col_3*/
.tabs_col_3 > .btn-tab{
    width: 33.3%;

}
.tabs.tabs_col_3 > .btn-tab.active::after{
    width: 403px;
    height: 62px;
}
/*tabs_col_4*/
.tabs_col_4 > .btn-tab{
    width: 25%;

}
.tabs.tabs_col_4 > .btn-tab.active::after{
    width: 301px;
    height: 62px;
}
/*paginate*/
.wrap_pagination{
    text-align: center;
}
 .pagination {
     display: inline-block;

 }
.pagination .pagers{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #b8b8b8;
}
.pagination a {
    width: 30px;
    height: 30px;
    color: black;
    float: left;
    text-decoration: none;
    padding-top: 5px;
    margin: 0 11px;
}

.pagination a.active {
    background-color:#1a1818;
    color: white;
    border-radius: 2px;
    font-weight: 600;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 2px;
}

/*btn*/
.wrap-btn-center{
    text-align: center;
}
.btn.btn-radius{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn.btn-standard {
    width: 260px;
    height: 50px;
    font-size: 18px;
    padding-top: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #ffffff;
}

/*path*/
.path{
    margin: 10px 0 30px;
}
.path span{
    position: relative;
    margin-right: 28px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #606060;
}
.path span::after{
    content: '';
    position: absolute;
    right: -20px;
    width: 8px;
    top: 3px;
    height: 14px;
    background: url("/images/kakao/common/arrow_xs.png");
}
.path span.active{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #000000;
}
.path span.active::after{
    content: none;
}
.page-name{
    position: relative;
    font-family: NanumGothic;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -1.8px;
    text-align: center;
    color: #303030;
    margin-bottom: 60px;
}
.page-name::after{
    /*content: '';*/
    position: absolute;
    width: 2px;
    top: 61px;
    height: 40px;
    border-radius: 2px;
    background-color: #e60012;
    left: 50%;
    margin-left: -1px;
}

.wrap-grey-box{
    padding: 0 45px;
}
.grey-box{
    width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    background-color: #f5f5f5;
}


.description{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
    margin: 0 30px 30px;
}
.description_mb_lg{
    margin: 0 30px 60px;
}
.description b{
    font-weight: 600;
}
