
/*
  section - main
*/
.main {
    width: 100%;
    min-width: 1200px;
    height: 400px;
}

.main .slide_img{
    width: 100%;
    height: 450px;
}
.main .slide_img.slide_img_1{
    background: url(/images/kakao/common/img_main_01.png) no-repeat center;
    background-size: cover;
}
.main .slide_img.slide_img_2{
    background: url(/images/kakao/common/img_main_02.png) no-repeat center;
    background-size: cover;
}
.main .slide_img.slide_img_3{
    background: url(/images/kakao/common/img_main_03.png) no-repeat center;
    background-size: cover;
}
.main .box_main .contents {
    width: 1200px;
    margin: 0 auto;
    padding: 138px 0 0 100px;
}

.main .box_main .contents .title {
    width: 850px;
    overflow: hidden;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -2.4px;
    margin-bottom: 10px;
}

.main .box_main .contents .desc {
    width: 850px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: -1.6px;
}

/*로그인 영억*/
.middle_box{
    width: 1160px;
    position: relative;
    margin: -70px auto 40px;
    background: #ffffff;
    border: solid 1px #cfcfcf;
    background-color: #ffffff;
    padding: 20px 0;
    z-index: 100;
}
.sm_box{
    float: left;
    padding: 0 30px;
    border-right: solid 1px #cfcfcf;
}
.sm_box:last-child{
    border-right: none;
}
.sm_box.sm_box_2{
    width: 449px;
}
.sm_box .title{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding: 4px 0 7px;
    border-bottom: 1px solid #222222;
    margin-bottom: 10px;
}
.box_login {
    width: 330px;
    border-radius: 0 0 6px 6px;
}

.box_login .bar {
    position: absolute;
    width: 100%;
    height: 10px;
    background: #004878;
    top: 0;
}

.box_login .inner .title {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 17px;
    letter-spacing: -.5px;
}

.box_login .inner .title .highlight {
    font-size: 28px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: left;
    letter-spacing: normal;
}

.box_login .inner form .login_area {
    margin-bottom: 10px;
}
.box_login .inner form .login_area .form-group{
    margin-bottom: 0;
    border-bottom: 1px solid #cfcfcf;
}
.box_login .inner form .login_area .form-group.focus{
    margin-bottom: 0;
    border-bottom: 1px solid #222222;
}
.box_login .inner form .login_area .btn-login {
    margin-left: 4px;
    width: 76px;
    height: 81px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
}

.box_login .inner form .login_area .form-control {
    display: block;
    position: relative;
    width: 230px;
    height: 40px;
    padding: 0 0.625rem;
    font-family: "NanumGothic";
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.125rem;
    color: #303030;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 0;
}
.box_login .inner form .btn-line{
    width: 107px;
}
.box_login .inner form .form-control::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box_login .inner form .login_area .form-control:disabled {
    color: #b2b2b2;
    border: 0;
    background-color: #fff;
}

.box_login .inner form .login_area .form-control[readonly] {
    background: #fff;
    border: 0;
}

.box_login .inner form .login_area .form-control[readonly]::placeholder {
    color: #b2b2b2;
}

.box_login .inner form .login_area .form-control:focus {
    color: #303030;
    outline: none;
}

.box_login .inner form .find-info a {
    color: #666666;
    font-size: 14px;
}

.box_login .inner form .find-info a:hover {
    cursor: pointer;
}
.sm_box .notice{
    height: auto;
}
.notice ul li{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.notice ul li a{
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.notice ul li .date{
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.7px;
    text-align: right;
    color: #909090;
}
.notice ul li span{
    display: inline-block;
    font-size: 12px;
    color: #909090;
    float: right;
}
.sm_box_3{
    width: 316px;
}
.sm_box_3 .text{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.sm_box_3 .callcenter{
    position: relative;
    padding: 10px 81px 10px 0;
    background: url(/images/kakao/common/ico_call_center.png) no-repeat;
    background-position: top 33px right 0;
}
.sm_box_3 .callcenter .phone_num{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.2px;
    text-align: right;
    color: #222222;
}
.sm_box_3 .callcenter .time{
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.8px;
    text-align: right;
    color: #303030;
}
.sm_box_3 .callcenter .time .num{
    color: #e60012;
    font-weight: bold;
}
/*
  section - business
*/
.business{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 53px;
}
.business .info{
    float: left;
    padding: 0 30px;
}
.business .info .title{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-bottom: 28px;
}
.business .info .desc{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.business .info.info_1 .desc{
    padding-left: 96px;
    background: url("/images/kakao/common/ico_biz.png") no-repeat;
    background-position: top 9px left 20px;
}
.business .info.info_2 .desc{
    padding-left: 105.7px;
    background: url("/images/kakao/common/ico_business.png") no-repeat;
    background-position: top 12.7px left 19.7px;
}


@media all and (max-height: 800px) {
    .main.admin {
        width: 100%;
        min-width: 1200px;
        height: 490px;
        background: url(/images/kakao/common/admin_bg.png) no-repeat 47% 68%;
    }

    .main.admin .box_main .contents {
        top: 210px;
    }

    .main.admin .box_main .box_login {
        top: 134px;
    }
}