/*
  section - notice
*/
.notice {
    height: 248px;
}

.notice .box_card {
    padding: 0 5px;
}

.notice .box_card .row {
    margin-left: 0;
}

.notice .box_card .row .nav-wrap {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding: 5px 15px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li {
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.8px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li a {
    display: block;
    height: 30px;
    margin-bottom: 4px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li a:hover {
    color: inherit;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .category {
    display: inline-block;
    font-weight: 600;
    margin-right: 3px;
    vertical-align: top;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 436px;
}

.notice .box_card .row .nav-wrap .tab-content .tab-pane li .date {
    float: right;
    font-size: 14px;
    letter-spacing: -0.7px;
    color: #909090;
}

.notice .box_card .row .nav-wrap .btn-link {
    position: absolute;
    right: 20px;
    top: 15px;
}

.notice .box_card .row .nav-wrap .btn-link a {
    color: #909090;
}

.notice .box_card .row .card .icon {
    position: absolute;
    right: 15px;
    top: 33px;
    font-size: 28px;
    color: #cfcfcf;
}

.notice .box_card .row .card:first-child {
    margin-bottom: 8px;
}

.notice .box_card .row .card:hover, .notice .box_card .row .card:active, .notice .box_card .row .card:focus {
    color: #303030;
}


.service .title {
    background: url("/images/kakao/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
}

.service .nav-pills {
    margin-top: -20px;
    padding: 0 5px;
}

.service .tab-content {
    padding: 0 5px;
}

.personal .border-top {
    min-width: 1200px;
    margin-top: 80px;
    border-top: 2px solid #909090 !important;
}

.personal .border-bottom {
    border-bottom: 2px solid #909090 !important;
    margin-bottom: 80px;
}

.personal .box .title p {
    line-height: 150px;
    border-bottom: 2px solid #909090;
}

.personal .box .content {
    padding: 0 20px;
    border-bottom: 2px solid #909090;
    margin-bottom: 40px;
}

.personal .box .content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.8px;
}

.personal .box .content .p-box {
    padding: 0 40px;
    margin-bottom: 70px;
}

.personal .box .content .p-box .p-index {
    font-size: 16px;
    letter-spacing: -0.8px;
    line-height: 30px;
}

.personal .box .content .p-box .p-index a:hover, .personal .box .content .p-box .p-index a:focus {
    color: #118FE3;
    border-bottom: 1px solid #118FE3;
}

.personal .box .content .p-box .p-index:first-child {
    margin-right: 286px;
}

.personal .box .content .p-content {
    margin-top: 60px;
}

.personal .box .content .p-content > .title {
    position: relative;
    font-size: 18px;
    color: #118FE3;
    line-height: 21px;
    padding-left: 5px;
    font-weight: 600;
    margin-bottom: 24px;
}

.personal .box .content .p-content > .title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #118FE3;
    width: 1px;
    height: 18px;
    left: -4px;
    top: 2px;
}

.personal .box .content .p-content > .title p {
    line-height: 26px;
}

.personal .box .content .p-content:first-child {
    margin-top: 0;
}

.personal .box .content .p-content:last-child {
    margin-bottom: 100px;
}

.personal .box .content .p-content .p-text {
    text-align: center;
    padding-top: 60px;
}

.personal .box .content .p-content .p-text .text {
    font-size: 36px;
    letter-spacing: -1.8px;
    line-height: 41px;
    margin-bottom: 10px;
}

.personal .box .content .p-content .p-text .text-sm {
    font-size: 28px;
    letter-spacing: -1.4px;
    line-height: 32px;
}

.personal .box .content .p-content .p-text i {
    color: #000000;
    font-size: 70px;
    letter-spacing: -3.5px;
    margin-bottom: 30px;
}

.personal.sign_in > .title {
    background: url("/images/kakao/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
    width: 100%;
    min-width: 1200px;
}

.personal.sign_in .box .content {
    border-bottom: 0;
}

.personal.sign_in .box .content .p-content {
    margin-top: 40px !important;
}

.personal.sign_in .box .content .p-content .p-inner.p-inner-term {
    height: auto;
    border: 2px solid #909090;
    border-left: none;
    border-right: none;
    overflow: auto;
}

.personal.sign_in .box .content .p-content .p-inner {
    width: 100%;
    height: 420px;
    border: 1px solid #707070;
    overflow-y: scroll;
    padding: 30px 10px;
    margin-bottom: 10px;
}

.mb_60 {
    margin-bottom: 40px;
}

.personal.sign_in .box .content .p-content .p-inner > .title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.9px;
    text-align: left;
    color: #000000;
    margin-bottom: 12px;
}

.personal.sign_in .box .content .p-content .form-group label {
    font-weight: 600;
}

.personal.sign_in .box .content .p-content .form-group .form-control {
    display: inline-block;
    border: 1px solid #666;
    border-radius: unset;
}

.personal.sign_in .box .content .p-content .form-group .form-control::placeholder {
    color: #333333;
}

.personal.sign_in .box .content .p-content .form-group .btn {
    font-size: 16px;
    width: 120px;
    height: 40px;
    vertical-align: unset;
}

.personal.sign_in .box .content .p-content .btn-area {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.personal.sign_in .box .content .p-content .btn-area.btn-area-mt-sm{
    margin-top: 30px;
}

.personal.sign_in .box .content .p-content .btn-area .btn {
    width: 260px;
}

.personal.sign_in .box .content .p-content .btn-area.single {
    margin-top: 60px;
}

.personal.sign_in .box .content .p-content .btn-area.single .btn {
    width: 140px;
    margin-right: 0;
}

.personal.sign_in .box .content .p-content .p-title {
    position: relative;
    font-size: 18px;
    color: #118FE3;
    line-height: 21px;
    padding-left: 8px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;
    letter-spacing: -.9px;
}

.personal.sign_in .box .content .p-content .p-title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #118FE3;
    width: 1px;
    height: 18px;
    left: 0;
    top: 2px;
}

.personal.sign_in .box .content .p-content form .title {
    position: relative;
    width: 100%;
    color: #333333;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
}

.personal.sign_in .box .content .p-content form .title i {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 15px;
}

.personal.sign_in .box .content .p-content form .title .right {
    position: absolute;
    width: 150px;
    right: 0;
    text-align: right;
}

.personal.sign_in .box .content .p-content form > .row {
    height: 49px;
    border-bottom: 1px solid #ababab;
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    margin: 0;
}

.personal.sign_in .box .content .p-content form > .row:first-child {
    border-right: 0;
    border-left: 0;
}

.personal.sign_in .box .content .p-content form > .row .col-title {
    position: relative;
    width: 194px;
    height: 48px;
    background: #e9e9e9;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 24px;
    color: #303030;
    line-height: 48px;
}

.personal.sign_in .box .content .p-content form > .row .col-title i {
    position: absolute;
    top: 16px;
    right: 10px;
    color: #118FE3;
}

.personal.sign_in .box .content .p-content form > .row .col-title.line-2 {
    font-size: 14px;
    line-height: 23px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc {
    width: calc(100% - 194px);
    padding: 4px 10px 4px 10px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc .btn {
    margin-bottom: 3px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc .text {
    line-height: 40px;
    padding-left: 10px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc input {
    width: 100%;
    height: 40px;
}

.personal.sign_in .box .content .p-content form > .row .col-desc input:focus {
    border-color: #666;
    outline: 0;
}

.personal.sign_in .box .content .p-content form > .row.double {
    height: 99px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-title {
    height: 98px;
    line-height: 98px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-title i {
    top: 40px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc {
    padding: 4px 10px 4px 10px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc > .row {
    padding: 0 5px;
    margin-bottom: 10px;
}

.personal.sign_in .box .content .p-content form > .row.double .col-desc > .row:last-child {
    margin-bottom: 0;
}

.personal.sign_in .box .content .p-content form > .row.row-3 .col-title {
    width: 150px;
}

.personal.sign_in .box .content .p-content form > .row.row-3 .col-desc {
    width: calc(100% - 150px);
}

.personal.find-info .border-top {
    width: 100%;
    min-width: auto;
    margin-top: 0;
    border-top: 1px solid #ABABAB !important;
}

.personal.find-info .col-title {
    width: 194px;
    line-height: 50px;
    font-weight: 600;
    padding-left: 20px;
}

.personal.find-info .col-desc {
    width: calc(100% - 194px);
    padding: 5px 10px;
}

.personal.find-info .col-desc .custom-radio .custom-control-label {
    line-height: 40px;
}

.personal.find-info .title {
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 13px;
}

.personal.find-info .title i {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 15px;
}

.p-table .table {
    margin-bottom: 10px;
}

.p-table .table th, .p-table .table td {
    position: relative;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
}

.p-table .table th .custom-checkbox, .p-table .table td .custom-checkbox {
    margin: 0 auto;
}

.p-table .table th > .btn-search, .p-table .table td > .btn-search {
    position: relative;
    top: 0;
}

.p-table .btn-area {
    margin-top: 0 !important;
    display: inline-block !important;
}

.p-table .btn-area .btn {
    width: 80px !important;
    font-size: 16px !important;
}

.faq > .title {
    background: url("/images/kakao/common/main_bg.png") no-repeat 30% 24%;
    height: 160px;
    width: 100%;
    min-width: 1200px;
}

.faq .box {
    width: 1150px;
    min-width: 1150px;
    margin-bottom: 100px;
}

.faq .box .tab_faq {
    margin-top: 71px;
}

.faq .box .tab_faq .nav-link {
    width: 565px;
    border: 0;
    border-bottom: 4px solid #ebebeb;
}

.accordion-wrap {
    margin-bottom: 60px;
}

.faq .box .accordion-wrap .accordion-container .p-title {
    position: relative;
    font-size: 18px;
    color: #118FE3;
    line-height: 21px;
    padding-left: 8px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;
    letter-spacing: -.9px;
}

.faq .box .accordion-wrap .accordion-container .p-title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #118FE3;
    width: 1px;
    height: 18px;
    left: 0;
    top: 0;
}

.faq .box .accordion-wrap .accordion-container .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.faq .box .accordion-wrap .accordion-container .set:first-of-type {
    border-top: 1px solid #cccccc;
}


.faq .box .accordion-wrap .accordion-container .set .content {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    display: none;
    counter-reset: list;
    padding: 8px 14px 0 80px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.faq .box .accordion-wrap .accordion-container .set .content li {
    margin: 0 0 14px;
    line-height: 22px;
    font-size: 18px;
    line-height: 40px;
}

.tab-btn {
    position: relative;
    margin-bottom: 60px;
    padding-top: 70px;
}

.tab-btn .tab-item {
    float: left;
    margin-right: 80px;
}

.tab-btn .tab-item a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    text-align: center;
    padding-bottom: 10px;
    color: #909090;
}

.tab-btn .tab-item.active a {
    color: #118fe3;
    font-weight: bold;
    border-bottom: 4px solid #118fe3;
}

.tab-btn .tab-item:last-child {
    margin-right: 0;
}

.tab-btn::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e4e4e4;
}

.tab_content nav {
    position: absolute;
    top: 60px;
}

.tab_content .content-01 .img {
    display: block;
    margin: 0 auto 160px;
    width: 1079px;
    height: 781px;
}

.tab_content .content-01 .img img {
    width: 100%;
    height: 100%;
}

.f-list .f-item {
    margin-bottom: 40px;
    border: 1px solid #cccccc;
    padding: 30px 95px 37px 32px;
}

.f-list .f-item i {
    display: inline-block;
    font-size: 36px;
    line-height: 37px;
    letter-spacing: -1.8px;
    color: #118fe3;
    vertical-align: sub;
    margin-right: 22px;
}

.f-list .f-item .title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    letter-spacing: -1.2px;
    color: #118fe3;
    background: none;
    height: auto;
}

.f-list .f-item .desc {
    display: block;
    padding-left: 59px;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -1.1px;
    color: #303030;
    margin-top: 10px;
}

.f-list .f-item .desc .c-lg {
    display: block;
    margin-bottom: 16px;
}

.f-list .f-item .desc .c-lg:last-child {
    margin-bottom: 0;
}

.f-list .f-item:last-child {
    margin-bottom: 160px;
}

.content-sm {
    padding: 0 20px;
}

.c-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 50px;
    letter-spacing: -1.6px;
    margin-bottom: 14px;
}

.c-title.c-title-lg {
    margin-bottom: 40px;
}

.c-desc {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    margin-bottom: 60px;
}

.c-list {
    margin-bottom: 40px;
    padding: 0 40px;
}

.c-list li {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #1c8fdc;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.4px;
    margin-right: 77px;
}

.c-list li.line-2 {
    line-height: 36px;
    padding-top: 67px;
}

.c-list li:last-child {
    margin-right: 0;
}

.c-list2 {
    margin-bottom: 80px;
    padding: 0 40px;
}

.c-list2 li {
    width: 100%;
    height: 88px;
    line-height: 88px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 25px 0 25px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1.2px;
    margin-bottom: 40px;
}

.c-list2 li:last-child {
    margin-bottom: 0;
}

.c-list3 {
    padding: 0 40px;
    margin-bottom: 160px;
}

.c-list3 li {
    margin-bottom: 40px;
}

.c-list3 li .top {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #1c8fdc;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #ffffff;
    padding-left: 40px;
    border-radius: 16px 16px 0 0;
}

.c-list3 li .bottom {
    display: block;
    width: 100%;
    height: 86px;
    line-height: 86px;
    border-radius: 0 0 16px 16px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-size: 22px;
    letter-spacing: -1.1px;
    color: #303030;
    padding-left: 40px;
}

.c-list3 li .bottom.line-2 {
    height: 124px;
    padding: 30px 66px 30px 40px;
    line-height: 33px;
}

.c-list3 li:last-child {
    margin-bottom: 0;
}

.c-img-01 {
    display: block;
    width: 980px;
    height: 615px;
    margin: 0 auto 80px;
}

.c-img-01 img {
    width: 100%;
    height: 100%;
}

.c-img-02 {
    display: block;
    width: 860px;
    height: 435px;
    margin: 0 auto 80px;
}

.c-img-02 img {
    width: 100%;
    height: 100%;
}

.c-img-03 {
    display: block;
    width: 1005px;
    height: 852px;
    margin: 0 auto 80px;
}

.c-img-03 img {
    width: 100%;
    height: 100%;
}

.c-img-04 {
    display: block;
    width: 1104px;
    height: 753px;
    margin: 0 auto 160px;
}

.c-img-04 img {
    width: 100%;
    height: 100%;
}

.c-list4 {
    padding: 0 40px 30px;
}

.c-list4 li {
    margin-bottom: 40px;
}

.c-list4 li .c-header {
    float: left;
    display: inline-block;
    background-color: #1c8fdc;
    border-radius: 18px 0 0 18px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
    padding: 32px 0;
    width: 200px;
    height: 130px;
}

.c-list4 li .c-item {
    display: inline-block;
    width: calc(100% - 200px);
    height: 130px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 0 18px 18px 0;
    padding: 30px 0 0 48px;
}

.c-list4 li .c-item span {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -1.1px;
    text-align: left;
    color: #303030;
    margin-bottom: 20px;
}

.c-list4 li .c-item span::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: -17px;
    top: 9px;
    border-radius: 50%;
    background-color: #303030;
}

.c-list4 li .c-item span:last-child {
    margin-bottom: 0;
}

.c-list4 li:last-child {
    margin-bottom: 0;
}

.c-list4 li.lg .c-header {
    height: 173px;
    padding: 53px 0;
}

.c-list4 li.lg .c-item {
    height: 173px;
}

.c-list4 li.lg .c-item span:first-child {
    line-height: 31px;
}

.sub-bg {
    width: 100%;
    height: 30px;
    background: url("/images/kakao/common/sub_main.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.sub-main {
    width: 1200px;
    margin: 0 auto 50px;
}

.sub-title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #303030;
    margin-left: 40px;
    margin-bottom: 30px;
}

.sub-title.sub-title-ml-sm {
    margin-left: 11px;
}

.sub-title::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 9px;
    width: 4px;
    height: 23px;
    background-color: #C09C88;
}

.company_data {
    padding: 30px 20px;
}

.company_data .col1 {
    width: 96px;
    display: inline-block;
    padding-left: 13px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    position: relative;
    color: #303030;
}

.company_data .col1::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #222222;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 0;
    top: 16px;

}

.company_data .col2 {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: #303030;
}

.company_data .col3 {
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
    padding-left: 12px;
}

.wrap_grey_box_company {
    margin-bottom: 100px;
}

.subsidiary {
    padding: 60px 50px;
}

.subsidiary_company > a {
    width: 203px;
    height: 64px;
    float: left;
    margin-left: 63px;
}

.subsidiary_company > a:first-child {
    margin-left: 0;
}

.subsidiary_company.subsidiary_company_row {
    margin-bottom: 60px;
}

.subsidiary_company.subsidiary_company_row:last-child {
    margin-bottom: 0;
}

.mission_img {
    text-align: center;
    margin-bottom: 100px;
}


/*history*/
.history {
    height: 600px;
    position: relative;
    top: -24px;
}

.history .year {
    position: absolute;
    width: 50%;
}

.history .year .tit {
    font-family: NanumGothic;
    font-size: 28px;
    margin-top: -9px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.7px;
    color: #303030;
    margin-bottom: 4px;
}

.history .year > ul > li {
    position: relative;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: #303030;
    margin-bottom: 3px;
}

.history .year ul li span {
    position: relative;
}

.history .year ul li b {
    font-weight: 600;
}

.history .year ul li span.red {
    color: #ee4a44;
}

.history .year.right {
    left: 50%;
    padding-top: 7px;
    margin-left: -11px;
    padding-left: 55px;
    background: url("/images/kakao/common/dot-history.png") 0 5px no-repeat;
    text-align: left;
}

.history .year.left {
    left: 11px;
    padding-top: 7px;
    padding-right: 55px;
    background: url("/images/kakao/common/dot-history.png") 100% 5px no-repeat;
    text-align: right;
}

.history .year.left li {
    padding-right: 0;
    padding-left: 20px;
}

.history .centerline {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 2px;
    height: 527px;
    margin-left: -1px;
    background-color: #e5e5e5;
}

.black-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #1a1818;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.right .black-dot {
    margin-right: 10px;
}

.left .black-dot {
    margin-left: 8px;
}

.history .y2020 {
    top: 30px;
}

.history .y2018 {
    top: 187px;
}

.history .y2017 {
    top: 426px;
}

.history .y2016 {
    top: 541px;
}

/*circle*/
.bgobj {
    display: inline-block;
    position: absolute;
    z-index: -2;
}

.circle01 {
    top: 370px;
    left: 150px;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border: 50px solid #fbfbe5;
}

.circle02 {
    top: 620px;
    right: 40px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 110px solid #f1faef;
}

.circle03 {
    top: 300px;
    left: 450px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 45px solid #f1f8fb;
}

/*오시는 길*/
.map {
    width: 1130px;
    height: 500px;
    margin: 0 auto 20px;
}

/*mro*/


.seprate_box {
    width: 1090px;
    height: 100px;
    border-radius: 8px;
    margin: 0 auto;
    border: solid 1px #cecece;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.seprate_box.seprate_box_lg {
    height: 130px;
}

.seprate_box.seprate_box_bottom {
    margin-bottom: 100px;
}

.seprate_box > .bg_area {
    position: relative;
    width: 300px;
    height: 98px;
    background-color: #e6e6e6;
    float: left;
    font-size: 28px;
    border-radius: 8px 0 0 8px;
    padding: 38px 40px 0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.7px;
    text-align: left;
    color: #000000;
}

.seprate_box > .bg_area.bg_area_img {
    width: 130px;
    height: 130px;
}

.seprate_box > .no_bg_area {
    float: left;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.45px;
    text-align: left;
    color: #303030;
    padding: 35px 40px 0;
    line-height: 1.56;
}

.seprate_box > .no_bg_area.no_bg_area_2 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.45px;
    text-align: left;
    color: #303030;
    padding: 21px 40px 0;
}

.seprate_box > .no_bg_area.no_bg_area_pd_sm {
    padding: 14px 20px 0;
}

.effect_title {
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
}

.effect_desc {
    font-family: NanumGothic;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.45px;
    text-align: left;
    color: #303030;
}

.effect_desc.effect_desc_l_1 {
    margin-top: 16px;
}

.diagram {
    position: relative;
    height: 362px;
    background: url("/images/kakao/common/img_mro.png") center no-repeat;
}

.diagram .text_left, .diagram .text_right {
    position: absolute;
    width: 240px;
    height: 231px;
    font-family: NanumGothic;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.45px;
    color: #303030;
}

.diagram .text_left {
    right: 870px;
    top: 63px;
    text-align: right;
}

.diagram .text_left > div {
    position: relative;
}

.diagram .text_left > div::after {
    content: '';
    position: absolute;
    top: 13px;
    right: -11px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #222222;
}

.diagram .text_right {
    text-align: left;
    left: 871px;
    top: 91px;
}

.diagram .text_right > div {
    position: relative;
}

.diagram .text_right > div::after {
    content: '';
    position: absolute;
    top: 13px;
    left: -11px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #222222;
}

/*products*/
.products {
    width: 1100px;
    height: 765px;
    margin: 0 auto 100px;
}

.products .col {
    width: 158px;
    margin-right: 30px;
    float: left;
    padding: 0;
}

.products .col:last-child {
    margin-right: 0;
}

.products .col .item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.products .col .item:last-child {
    margin-bottom: 0;
}

.products .col .item .title {
    height: 40px;
    line-height: 40px;
    padding-top: 3px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.45px;
    text-align: center;
    color: #000000;
    background: #e6e6e6;
}

.products .col .item .list {
    border: 1px solid #d5d5d5;
    padding: 7px 0 14px;
    border-top: none;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: -0.4px;
    text-align: center;
    color: #303030;
}

/*voc*/
.box_voc {
    float: left;
    width: 384px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    border: solid 1px #cecece;
    background-color: #ffffff;
    margin-right: 23px;
    padding-top: 121px;
}

.box_voc.box_voc_1 {
    background: url("/images/kakao/common/ico_faq.png") no-repeat top 27px center;
}

.box_voc.box_voc_2 {
    background: url("/images/kakao/common/ico_call.png") no-repeat top 25px center;
}

.box_voc.box_voc_3 {
    background: url("/images/kakao/common/ico_clock.png") no-repeat top 27px center;
}

.box_voc:last-child {
    margin-right: 0;
}

.box_voc .upper {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.45px;
    text-align: center;
    color: #303030;
    margin-bottom: 15px;
}

.box_voc .under {
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #303030;
}

/*join_info*/
.m_b_sm {
    margin-bottom: 20px;
}

.line_dot {
    position: relative;
    margin-left: 33px;
}

.line_dot::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #303030;
    left: -14px;
    top: 13px;
}

.line_dot span {
    float: left;
}

.line_dot span:first-child {
    width: 64px;
}

.line_dot .colon {
    margin-right: 12px;
}

.wrap-grey-box .wrap_order {
    padding: 40px 45px;
}

.wrap-grey-box .wrap_order .order {
    width: 240px;
    float: left;
}

.wrap-grey-box .wrap_order .order .title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: #000000;
}

.wrap-grey-box .wrap_order .order_line_1 {
    margin-bottom: 30px;
}

.wrap-grey-box .wrap_order .order_line_2 {
    margin-bottom: 40px;
}

.wrap-grey-box .wrap_order .order .bg {
    position: relative;
    width: 200px;
    height: 120px;
    text-align: center;
    border-radius: 8px;
    border: solid 1px #cecece;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -0.35px;
    text-align: center;
    color: #303030;
}

.wrap-grey-box .wrap_order .order .bg::after {
    content: url("/images/kakao/common/arrow_02.png");
    position: absolute;
    width: 20px;
    height: 50px;
    right: -31px;
    top: 34px;
}

.wrap-grey-box .wrap_order .f_red {
    color: #E60012;
}

.wrap-grey-box .wrap_order .text {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
}

.wrap-grey-box .wrap_order .text .colon {
    padding: 0 9px;
}

.wrap-grey-box .wrap_order .order.order_5 .bg::after, .wrap-grey-box .wrap_order .order.order_11 .bg::after {
    content: none;

}

.wrap-grey-box .wrap_order .order.order_1 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_2 .bg {
    padding-top: 11px;
}

.wrap-grey-box .wrap_order .order.order_3 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_4 .bg {
    padding-top: 35px;
}

.wrap-grey-box .wrap_order .order.order_5 .bg {
    padding-top: 12px;
}

.wrap-grey-box .wrap_order .order.order_6 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_7 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_8 .bg {
    padding-top: 35px;
}

.wrap-grey-box .wrap_order .order.order_9 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_10 .bg {
    padding-top: 22px;
}

.wrap-grey-box .wrap_order .order.order_11 .bg {
    padding-top: 22px;
}

/*notice*/
.wrap_select {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
}

.wrap_select .select_sort {
    position: absolute;
    right: 440px;
    width: 120px;
    height: 40px;
    top: 0;
    padding-left: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF url("/images/kakao/common/button_select.png") top 8px right 10px no-repeat;
}

.wrap_select .input-bd {
    position: absolute;
    right: 130px;
    top: 0;
    width: 300px;
    height: 40px;
    padding: 0 20px;
    border: solid 1px #666666;
    background-color: #ffffff;
}

.wrap_select .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: #ffffff;
    width: 120px;
    height: 40px;
    line-height: 40px;
}

.table_notice {
    width: 100%;
    margin-bottom: 40px;
}

.table_notice thead {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
    width: 1130px;
    line-height: 50px;
    background-color: #e9e9e9;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    text-align: center;
}

.table_notice tbody {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #303030;
    line-height: 46px;

}

.table_notice tbody .col-left {
    text-align: center;
}

.table_notice tbody tr {
    border-bottom: 1px solid #ababab;
}

.faq > .title {
    background: url(/images/kakao/common/main_bg.png) no-repeat 30% 24%;
    height: 160px;
    width: 100%;
    min-width: 1200px;
}

.faq .box {
    width: 1150px;
    min-width: 1150px;
    margin-bottom: 100px;
}

.faq .box .tab_faq {
    margin-top: 71px;
}

.faq .box .accordion-wrap .accordion-container .p-title {
    position: relative;
    font-size: 18px;
    color: #118FE3;
    line-height: 21px;
    padding-left: 8px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;
    letter-spacing: -.9px;
}

.faq .box .accordion-wrap .accordion-container .p-title::before {
    content: '';
    position: absolute;
    border-left: 3px solid #118FE3;
    width: 1px;
    height: 18px;
    left: 0;
    top: 0;
}

.faq .box .accordion-wrap .accordion-container .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.faq .box .accordion-wrap .accordion-container .set:first-of-type {
    border-top: 1px solid #cccccc;
}

.faq .box .accordion-wrap .accordion-container .set a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #303030;
    letter-spacing: -.9px;
    padding-left: 50px;
    border-bottom: 1px solid #cccccc;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*.faq .box .accordion-wrap .accordion-container .set a.active + .content{
    display: block;
}*/
.faq .box .accordion-wrap .accordion-container .set a .icon-q {
    position: absolute;
    left: 10px;
    top: 11px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background: #1a1818;
    border-radius: 50%;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.faq .box .accordion-wrap .accordion-container .set a .icon-q span {
    margin-left: -1px;
}


.faq .box .accordion-wrap .accordion-container .set .content li .icon-a {
    position: absolute;
    left: 40px;
    top: 14px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    border: solid 2px #1a1818;
    color: #1a1818;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -.8px;
    font-style: normal;
}

.faq .box .accordion-wrap .accordion-container .set .content li .icon-a span {
    margin-left: -0.5px;
}

.faq .box .accordion-wrap .accordion-container .set .content li::before {
    counter-increment: list;
    content: counter(list) ")";
    margin-right: 3px;
}

/*recruitment*/
.wrap-recruitment {
    margin-bottom: 60px;
}

/*btn-recruit*/
.wrap_recruit_btn {
    margin: 30px 0;
}

.btn.btn-recruit {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #000000;
    margin-right: 30px;
}

.btn.btn-recruit:hover {
    background-color: #cccccc;
}

.btn.btn-recruit:active {
    background-color: #999999;
}

.btn.btn-recruit * {
    vertical-align: middle;
}

.btn.btn-recruit img {
    margin-left: 10px;
}

/*복리후생*/
.wrap_welfare{
    border-bottom: 1px solid #ababab;
    padding: 66px 0;
}
.wrap_welfare.wrap_welfare_1{
    border-top: 1px solid #ababab;
}
.wrap_welfare .sub-title{
    margin-bottom: 0;
}
.wrap_welfare .sub-title > *{
    float: left;
}
.wrap_welfare .sub-title::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 7px;
    width: 4px;
    height: 23px;
    background-color: #e60012;
}
.wrap_welfare .sub-title::after {
    display: block;
    clear: both;
    position: relative;
    content: "";
    width: auto;
    height: auto;
}
.wrap_welfare .sub-title .title{
    width: 200px;
}
.wrap_welfare .sub-title .desc{
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
}

/*sitemap*/
.sitemap{
    border-bottom: 1px solid #cbcbcb;
    height: 375px;
}
.sitemap .sub-title{
    float: left;
    width: 260px;
}
.sitemap .sub-title .title{
    margin-bottom: 32px;
}
.sitemap .sub-title .title a{
    line-height: 28px;
    font-family: NanumGothic;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #303030;
    cursor: pointer;
}
.sitemap .sub-title .content a{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
    cursor: pointer;
}
.stiemap_under{
    padding-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}
.stiemap_under a{
    margin-right: 100px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #303030;
}
.stiemap_under a:last-child{
    margin-right: 0;
}

/*sign-in*/
.sign_in .sub-title{
    margin-left: 10px;
}
.p-inner{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}
.wrap-p-list{
    margin-top: 40px;
}
.p-list{
    width: 50%;
    padding-left: 46.9px;
    float: left;
}
.p-list .red a{
    color: #e60012;
}
.p-list .lined a{
    color: #000000;
    border-bottom: 1px solid #000000;
}

.p-inner {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.8px;
    text-align: left;
    color: #303030;
}