<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st_ones.common.multiLanguage.MultiLanguageMapper">

    <select id="getMultiLanguageList" parameterType="hashMap" resultType="hashMap">

        SELECT GATE_CD,
               MULTI_SQ,
               LANG_CD,
               LANG_CD AS LANG_CD_OLD,
               MULTI_NM,
               MULTI_DESC,
               MULTI_CD,
               SCREEN_ID,
               TMPL_MENU_GROUP_CD,
               ACTION_CD,
               TMPL_MENU_CD,
               AUTH_CD,
               ACTION_PROFILE_CD,
               MENU_GROUP_CD,
               COMMON_ID,
               OTHER_CD,
               'U' AS INSERT_FLAG
         FROM STOCMULG
         WHERE GATE_CD = #{ses.gateCd}
          AND MULTI_CD = #{multi_cd}
          <if test="screen_id != '' and screen_id != null"> AND SCREEN_ID = #{screen_id}</if>
          <if test="action_cd != '' and action_cd != null">AND ACTION_CD = #{action_cd}</if>
          <if test="action_profile_cd != '' and action_profile_cd != null">AND ACTION_PROFILE_CD = #{action_profile_cd}</if>
          <if test="tmpl_menu_group_cd != '' and tmpl_menu_group_cd != null">AND TMPL_MENU_GROUP_CD = #{tmpl_menu_group_cd}</if>
          <if test="auth_cd != '' and auth_cd != null">AND AUTH_CD = #{auth_cd}</if>
          <if test="menu_group_cd != '' and menu_group_cd != null">AND MENU_GROUP_CD = #{menu_group_cd}</if>
          <if test="tmpl_menu_cd != '' and tmpl_menu_cd != null">AND TMPL_MENU_CD = #{tmpl_menu_cd}</if>
          <if test="common_id != '' and common_id != null">AND COMMON_ID = #{common_id}</if>
          <if test="other_cd != '' and other_cd != null">AND OTHER_CD = #{other_cd}</if>
          AND DEL_FLAG = '0'
        ORDER BY LANG_CD
    </select>
    
    <insert id="multiLanguagePopupDoInsert" parameterType="hashMap">

	    INSERT INTO STOCMULG (
	              GATE_CD 
				, MULTI_SQ
	            , LANG_CD
	            , REG_DATE 
	            , REG_USER_ID 
	            , MOD_DATE 
	            , MOD_USER_ID 
	            , DEL_FLAG
	            , MULTI_NM 
	            , MULTI_DESC 
	            , MULTI_CD 
	            , SCREEN_ID 
	            , ACTION_CD
	            , TMPL_MENU_CD 
	            , AUTH_CD 
	            , ACTION_PROFILE_CD 
	            , TMPL_MENU_GROUP_CD 
	            , MENU_GROUP_CD
	            , COMMON_ID
	            , OTHER_CD
	        ) VALUES ( 
	              #{ses.gateCd}
	            , (SELECT <include refid="com.sql.nvl"/>( MAX(MULTI_SQ), 0 ) + 1 FROM STOCMULG)
	            , #{LANG_CD}
	            , <include refid="com.sql.sysdate"/> 
	            , #{ses.userId}
	            , <include refid="com.sql.sysdate"/> 
	            , #{ses.userId}
	            , '0'
	            , #{MULTI_NM} 
	            , #{MULTI_DESC} 
	            , #{MULTI_CD} 
	            , #{SCREEN_ID} 
	            , #{ACTION_CD}
	            , #{TMPL_MENU_CD} 
	            , #{AUTH_CD} 
	            , #{ACTION_PROFILE_CD} 
	            , #{TMPL_MENU_GROUP_CD} 
	            , #{MENU_GROUP_CD}
	            , #{COMMON_ID}
	            , #{OTHER_CD}
	        )

    </insert>
    
    <update id="multiLanguagePopupDoUpdate" parameterType="hashMap">

	     UPDATE STOCMULG SET
	              MULTI_NM = #{MULTI_NM}
	            , MULTI_DESC = #{MULTI_DESC}
	            , LANG_CD = #{LANG_CD}
	            , MOD_DATE = <include refid="com.sql.sysdate"/>
	            , MOD_USER_ID = #{ses.userId}
	        WHERE GATE_CD = #{GATE_CD}
	          AND MULTI_SQ = #{MULTI_SQ}
	          AND LANG_CD = #{LANG_CD_OLD}

    </update>
    
    <insert id="insertMenuName" parameterType="hashMap">

	    INSERT INTO STOCMULG (
	    	 GATE_CD 
	        ,MULTI_SQ
            ,LANG_CD 
            ,REG_DATE
            ,REG_USER_ID
            ,MOD_DATE
            ,MOD_USER_ID
            ,DEL_FLAG
            ,MULTI_NM 
            ,MULTI_DESC 
            ,MULTI_CD 
            ,SCREEN_ID 
            ,ACTION_CD
            ,TMPL_MENU_CD 
            ,AUTH_CD 
            ,ACTION_PROFILE_CD 
            ,TMPL_MENU_GROUP_CD 
            ,MENU_GROUP_CD
            ,COMMON_ID
            ,OTHER_CD
        ) VALUES ( 
             #{ses.gateCd} 
            ,(SELECT <include refid="com.sql.nvl"/>(MAX(MULTI_SQ), 0) + 1 FROM STOCMULG)
            ,#{LANG_CD} 
            ,<include refid="com.sql.sysdate"/> 
            ,#{ses.userId}
            ,<include refid="com.sql.sysdate"/> 
            ,#{ses.userId}
            ,'0'
            ,#{MULTI_NM} 
            ,#{MULTI_DESC} 
            ,#{MULTI_CD} 
            ,#{SCREEN_ID} 
            ,#{ACTION_CD}
            ,#{TMPL_MENU_CD} 
            ,#{AUTH_CD} 
            ,#{ACTION_PROFILE_CD} 
            ,#{TMPL_MENU_GROUP_CD} 
            ,#{MENU_GROUP_CD}
            ,#{COMMON_ID}
            ,#{OTHER_CD}
		)

    </insert>
    
    <update id="updateMenuName" parameterType="hashMap">

	     UPDATE STOCMULG SET
	              MULTI_NM = #{MULTI_NM}
	            , CHANGE_DATE = <include refid="com.sql.sysdate"/>
	            , CHANGE_USER_ID = #{ses.userId}
	        WHERE GATE_CD = #{GATE_CD}
	          AND MULTI_CD = #{MULTI_CD}
	          AND TMPL_MENU_CD = #{TMPL_MENU_CD}
	          AND LANG_CD = #{LANG_CD_OLD}

    </update>
    
    <update id="multiLanguagePopupDoDelete" parameterType="hashMap">

		UPDATE STOCMULG SET
			DEL_FLAG = '1'
            , MOD_DATE = <include refid="com.sql.sysdate"/>
            , MOD_USER_ID = #{ses.userId}
         WHERE GATE_CD = #{GATE_CD}
           AND MULTI_SQ = #{MULTI_SQ}
           AND LANG_CD = #{LANG_CD}

    </update>

</mapper>